.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .375rem
}

.page-link {
    position: relative;
    display: block;
    padding: 13px 3px;
    margin-left: -1px;
    line-height: 1.25;
    color: #171724;
    background-color: #fafafa;
    border: 1px solid #e8e8e9
}

.page-link:hover {
    z-index: 2;
    color: #171724;
    text-decoration: none;
    background-color: #fff;
    border-color: #e8e8e9
}

.page-link:focus {
    z-index: 2;
    outline: none;
    box-shadow: 0 0 0 1px #e8e8e9
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #31c77f;
    border-color: #31c77f
}

.page-item.disabled .page-link {
    color: #aeaeb2;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #e8e8e9
}

.pagination-lg .page-link {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1.2
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: .875rem;
    border-bottom-left-radius: .875rem
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: .875rem;
    border-bottom-right-radius: .875rem
}

.pagination-sm .page-link {
    padding: 5px 3px;
    font-size: 1.0625rem;
    line-height: 1.7
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem
}

.pagination {
    border-radius: 0;
    margin-bottom: -10px;
    margin-left: -10px
}

.pagination:empty {
    margin-bottom: 0;
    margin-left: 0
}

.pagination>* {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px
}

.page-link {
    width: 3.07813rem;
    height: 3.07813rem;
    margin-left: 0;
    text-align: center;
    font-size: 1.0625rem;
    font-weight: 400;
    border-radius: .375rem;
    transition: all .2s ease-in-out
}

.page-link:hover {
    box-shadow: 0 0 0 1px #e8e8e9
}

.page-link.inactive {
    pointer-events: none
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.page-item .page-link.page-link-prev,.page-item .page-link.page-link-next {
    border: none;
    background: 0 0
}

.page-item .page-link.page-link-prev:hover,.page-item .page-link.page-link-prev:focus,.page-item .page-link.page-link-next:hover,.page-item .page-link.page-link-next:focus {
    color: #31c77f;
    background: 0 0;
    box-shadow: none
}

*+.pagination {
    margin-top: 30px
}

.pagination-sm .page-link {
    padding: 5px 3px;
    font-size: 1.0625rem;
    line-height: 1.25
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem
}

.pagination-sm .page-link {
    width: 2.07813rem;
    height: 2.07813rem
}

.pagination-rounded .page-link {
    border-radius: 50rem
}

.context-dark .page-item .page-link.page-link-prev,.context-dark .page-item .page-link.page-link-next {
    color: inherit
}

.context-dark .page-item .page-link.page-link-prev:hover,.context-dark .page-item .page-link.page-link-prev:focus,.context-dark .page-item .page-link.page-link-next:hover,.context-dark .page-item .page-link.page-link-next:focus {
    color: #31c77f
}

@media(min-width: 1600px) {
    *+.pagination {
        margin-top:80px
    }
}
