.bootstrap-datetimepicker-widget .btn[data-action=incrementHours]::after,.bootstrap-datetimepicker-widget .btn[data-action=incrementMinutes]::after,.bootstrap-datetimepicker-widget .btn[data-action=decrementHours]::after,.bootstrap-datetimepicker-widget .btn[data-action=decrementMinutes]::after,.bootstrap-datetimepicker-widget .btn[data-action=showHours]::after,.bootstrap-datetimepicker-widget .btn[data-action=showMinutes]::after,.bootstrap-datetimepicker-widget .btn[data-action=togglePeriod]::after,.bootstrap-datetimepicker-widget .btn[data-action=clear]::after,.bootstrap-datetimepicker-widget .btn[data-action=today]::after,.bootstrap-datetimepicker-widget .picker-switch::after,.bootstrap-datetimepicker-widget table th.prev::after,.bootstrap-datetimepicker-widget table th.next::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

.datetimepicker-group {
    position: relative
}

.bootstrap-datetimepicker-widget {
    font-size: 1.0625rem;
    list-style: none
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 5px 0;
    padding: 4px
}

@media(min-width: 768px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width:38em
    }
}

@media(min-width: 992px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width:38em
    }
}

@media(min-width: 1200px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width:38em
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu:before,.bootstrap-datetimepicker-widget.dropdown-menu:after {
    content: '';
    display: inline-block;
    position: absolute
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    top: -7px;
    left: 7px
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    top: -6px;
    left: 8px
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-top-color: rgba(0,0,0,.2);
    bottom: -7px;
    left: 6px
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    bottom: -6px;
    left: 7px
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
    left: auto;
    right: 6px
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
    left: auto;
    right: 7px
}

.bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0
}

.bootstrap-datetimepicker-widget a[data-action] {
    display: block;
    padding: 6px
}

.bootstrap-datetimepicker-widget a[data-action].btn:active {
    box-shadow: none
}

.bootstrap-datetimepicker-widget a[data-action] i {
    margin: 0
}

.bootstrap-datetimepicker-widget a[data-action]:active {
    box-shadow: none
}

.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second {
    width: 54px;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0
}

.bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px
}

.bootstrap-datetimepicker-widget .btn[data-action=incrementHours]::after {
    content: "Increment Hours"
}

.bootstrap-datetimepicker-widget .btn[data-action=incrementMinutes]::after {
    content: "Increment Minutes"
}

.bootstrap-datetimepicker-widget .btn[data-action=decrementHours]::after {
    content: "Decrement Hours"
}

.bootstrap-datetimepicker-widget .btn[data-action=decrementMinutes]::after {
    content: "Decrement Minutes"
}

.bootstrap-datetimepicker-widget .btn[data-action=showHours]::after {
    content: "Show Hours"
}

.bootstrap-datetimepicker-widget .btn[data-action=showMinutes]::after {
    content: "Show Minutes"
}

.bootstrap-datetimepicker-widget .btn[data-action=togglePeriod]::after {
    content: "Toggle AM/PM"
}

.bootstrap-datetimepicker-widget .btn[data-action=clear]::after {
    content: "Clear the picker"
}

.bootstrap-datetimepicker-widget .btn[data-action=today]::after {
    content: "Set the date to today"
}

.bootstrap-datetimepicker-widget .picker-switch {
    text-align: center
}

.bootstrap-datetimepicker-widget .picker-switch::after {
    content: "Toggle Date and Time Screens"
}

.bootstrap-datetimepicker-widget .picker-switch td {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    line-height: inherit
}

.bootstrap-datetimepicker-widget .picker-switch td span,.bootstrap-datetimepicker-widget .picker-switch td i,.bootstrap-datetimepicker-widget .picker-switch td svg {
    line-height: 2.5;
    height: 2.5em;
    width: 100%
}

.bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0
}

.bootstrap-datetimepicker-widget table td,.bootstrap-datetimepicker-widget table th {
    text-align: center;
    border-radius: .375rem;
    padding: .5em
}

.bootstrap-datetimepicker-widget table th {
    height: 20px;
    line-height: 20px;
    width: 20px
}

.bootstrap-datetimepicker-widget table th.dow {
    font-size: .75rem;
    color: #171724;
    text-transform: uppercase
}

.bootstrap-datetimepicker-widget table th.picker-switch {
    font-weight: 400;
    font-size: 1.3125rem;
    text-transform: capitalize;
    color: #23232f
}

.bootstrap-datetimepicker-widget table th.picker-switch {
    width: 145px
}

.bootstrap-datetimepicker-widget table th.disabled,.bootstrap-datetimepicker-widget table th.disabled:hover {
    background: 0 0;
    color: #e8e8e9;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget table th.prev::after {
    content: "Previous Month"
}

.bootstrap-datetimepicker-widget table th.next::after {
    content: "Next Month"
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
    cursor: pointer
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: #fafafa
}

.bootstrap-datetimepicker-widget table td {
    height: 34px;
    line-height: 34px;
    width: 34px
}

.bootstrap-datetimepicker-widget table td .year,.bootstrap-datetimepicker-widget table td .month {
    width: auto;
    padding: 0 4px
}

.bootstrap-datetimepicker-widget table td.cw {
    font-size: .8em;
    height: 20px;
    line-height: 20px;
    color: #adb5bd
}

.bootstrap-datetimepicker-widget table td.day {
    height: 20px;
    line-height: 20px;
    width: 20px;
    color: #23232f
}

.bootstrap-datetimepicker-widget table td.day:hover,.bootstrap-datetimepicker-widget table td.hour:hover,.bootstrap-datetimepicker-widget table td.minute:hover,.bootstrap-datetimepicker-widget table td.second:hover {
    background: #fafafa;
    cursor: pointer
}

.bootstrap-datetimepicker-widget table td.old,.bootstrap-datetimepicker-widget table td.new {
    color: #adb5bd
}

.bootstrap-datetimepicker-widget table td.today {
    position: relative
}

.bootstrap-datetimepicker-widget table td.today:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #31c77f;
    border-top-color: rgba(0,0,0,.2);
    position: absolute;
    bottom: 4px;
    right: 4px
}

.bootstrap-datetimepicker-widget table td.active,.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #31c77f;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25)
}

.bootstrap-datetimepicker-widget table td.active.today:before {
    border-bottom-color: #fff
}

.bootstrap-datetimepicker-widget table td.disabled,.bootstrap-datetimepicker-widget table td.disabled:hover {
    background: 0 0;
    color: #e8e8e9;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget table td span,.bootstrap-datetimepicker-widget table td i,.bootstrap-datetimepicker-widget table td svg {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 4px;
    line-height: 34px;
    cursor: pointer;
    border-radius: .375rem
}

.bootstrap-datetimepicker-widget table td span:hover,.bootstrap-datetimepicker-widget table td i:hover,.bootstrap-datetimepicker-widget table td svg:hover {
    background: #fafafa
}

.bootstrap-datetimepicker-widget table td span.active,.bootstrap-datetimepicker-widget table td i.active,.bootstrap-datetimepicker-widget table td svg.active {
    background-color: #31c77f;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25)
}

.bootstrap-datetimepicker-widget table td span.old,.bootstrap-datetimepicker-widget table td i.old,.bootstrap-datetimepicker-widget table td svg.old {
    color: #adb5bd
}

.bootstrap-datetimepicker-widget table td span.disabled,.bootstrap-datetimepicker-widget table td span.disabled:hover,.bootstrap-datetimepicker-widget table td i.disabled,.bootstrap-datetimepicker-widget table td i.disabled:hover,.bootstrap-datetimepicker-widget table td svg.disabled,.bootstrap-datetimepicker-widget table td svg.disabled:hover {
    background: 0 0;
    color: #e8e8e9;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget table td span.decade,.bootstrap-datetimepicker-widget table td i.decade,.bootstrap-datetimepicker-widget table td svg.decade {
    padding: 0 4px;
    width: initial
}

.bootstrap-datetimepicker-widget table td a.btn {
    padding: 0;
    color: #171724;
    background-color: #f7f7f7
}

.bootstrap-datetimepicker-widget table td a.btn span,.bootstrap-datetimepicker-widget table td a.btn i,.bootstrap-datetimepicker-widget table td a.btn svg {
    color: inherit;
    background-color: transparent
}

.bootstrap-datetimepicker-widget table td a.btn:hover,.bootstrap-datetimepicker-widget table td a.btn:focus {
    color: #fff;
    background-color: #6b39bd
}

.bootstrap-datetimepicker-widget table td span:empty {
    display: none
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px
}

.bootstrap-datetimepicker-widget i {
    font-style: normal
}

.input-group.date .input-group-addon {
    cursor: pointer
}
