.service-section {
    padding: 50px 0
}

.service-section .button-group {
    margin-bottom: -20px;
    margin-left: -30px
}

.service-section .button-group:empty {
    margin-bottom: 0;
    margin-left: 0
}

.service-section .button-group>* {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 30px
}

.service-section *+.button-group {
    margin-top: 1.5625rem
}

*+.service-section-rights {
    margin-top: 30px
}

@media(min-width: 768px) {
    .service-section {
        padding:60px 0
    }

    .service-section .breadcrumb+h1 {
        margin-top: 50px
    }

    .service-section-breadcrumb {
        padding: 52px 0 100px
    }
}

@media(min-width: 992px) {
    .service-section {
        padding:80px 0
    }

    .service-section .breadcrumb+h1 {
        margin-top: 70px
    }

    .service-section-xl {
        padding: 100px 0
    }

    .service-section-breadcrumb {
        padding: 52px 0 120px
    }

    .service-section-divided .service-section-col {
        padding-top: 20px;
        padding-bottom: 20px
    }

    .service-section-divided .service-section-col-divider:before {
        display: block;
        width: 0;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        content: '';
        border-left: 1px solid #e8e8e9
    }

    *+.service-section-rights {
        margin-top: 100px
    }

    .countdown-simple+p {
        margin-top: 30px
    }

    .context-dark.service-section-divided .service-section-col-divider:before,.context-dark .service-section-divided .service-section-col-divider:before {
        border-color: inherit
    }
}

@media(min-width: 1200px) {
    .service-section-xl {
        padding:150px 0
    }

    .service-section-breadcrumb {
        padding: 52px 0 140px
    }
}

@media(min-width: 1600px) {
    .service-section *+h4 {
        margin-top:28px
    }

    .service-section h4+p {
        margin-top: 27px
    }

    .service-section *+.button-group {
        margin-top: 51px
    }

    .service-section *+.service-section-rights {
        margin-top: 128px
    }

    .service-section *+.service-section-countdown {
        margin-top: 34px
    }

    .service-section *+.service-section-row {
        margin-top: 90px
    }

    .service-section h5+.service-section-countdown {
        margin-top: 56px
    }

    .service-section .breadcrumb+h1 {
        margin-top: 94px
    }

    .service-section .countdown-simple+p {
        margin-top: 54px
    }

    .service-section-xl {
        padding: 325px 0
    }

    .service-section-breadcrumb {
        padding: 52px 0 154px
    }
}
