.accent-box {
    padding: 2.5rem 1.875rem;
    border-radius: .875rem;
    background-color: #fff;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1)
}

*+.accent-box {
    margin-top: 2.5rem
}

*+.accent-box-text {
    margin-top: 1.75rem
}

*+.accent-box-form {
    margin-top: 1.875rem
}

*+.accent-box-btn {
    margin-top: 2.5rem
}

.accent-box-text+.accent-box-form,.accent-box-btn+.accent-box-text {
    margin-top: 2.5rem
}

@media(min-width: 768px) {
    *+.accent-box {
        margin-top:3.75rem
    }
}

@media(min-width: 1200px) {
    .accent-box {
        padding:3.75rem
    }

    *+.accent-box {
        margin-top: 5rem
    }
}
