.notifications-area {
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    z-index: 18;
    max-width: calc( 100vw - 10vw)
}

.notification {
    display: flex;
    align-items: flex-end;
    transform: translateX(-100%);
    margin: 0;
    max-height: 0;
    opacity: 0;
    transition: .2s
}

.notification-active {
    transform: translateX(0);
    opacity: 1;
    max-height: 100px
}

*+.notification-active {
    margin-top: 5px
}
