.progress-linear {
    position: relative;
    text-align: left
}

.progress-linear-inner {
    display: flex;
    flex-direction: column;
    margin-bottom: -6px
}

.progress-linear-inner>* {
    margin-bottom: 6px
}

.progress-linear-title,.progress-linear-counter-wrap {
    font-size: 1.3125rem;
    font-weight: 400;
    color: #171724
}

.progress-linear-counter-wrap.hidden {
    display: none
}

.progress-linear-body {
    height: 12px
}

.progress-linear-bar {
    width: 0;
    height: inherit;
    background: #31c77f;
    transition: 1s all ease-in-out
}

.progress-linear-text {
    max-width: 290px;
    font-size: 1.0625rem
}

.progress-linear+.progress-linear {
    margin-top: 20px
}

.progress-linear-reverse .progress-linear-inner {
    flex-direction: column-reverse
}

.progress-linear-creative .progress-linear-body {
    display: flex;
    align-items: center
}

.progress-linear-creative .progress-linear-counter-wrap {
    margin-left: 10px
}

.progress-linear-shamrock-blue .progress-linear-bar {
    background: linear-gradient(45deg,#43DD93 0%,#28A8FF 100%)
}

.progress-linear-blue-violet .progress-linear-bar {
    background: linear-gradient(46.03deg,#28A8FF -1.86%,#7D2EFF 100%)
}

.progress-linear-electric-violet .progress-linear-bar {
    background: linear-gradient(225deg,#C728FF 0%,#7D2EFF 100%)
}

.progress-linear-dark-violet .progress-linear-bar {
    background: linear-gradient(-8.15deg,#6b39bd 4.67%,#171724 49.99%)
}

.context-dark .progress-linear-title,.context-dark .progress-linear-counter-wrap {
    color: #fff
}

@media(min-width: 992px) {
    .progress-linear+.progress-linear {
        margin-top:2.25rem
    }

    .progress-linear-lg .progress-linear-body {
        height: 16px
    }

    .progress-linear-lg .progress-linear-title,.progress-linear-lg .progress-linear-counter-wrap {
        font-size: 1.5rem;
        line-height: 1.54
    }

    .progress-linear-lg+.progress-linear-lg {
        margin-top: 31px
    }
}
