.tag-light {
    display: inline-block;
    padding: 10px 9px;
    font-size: 1.0625rem;
    line-height: 1;
    font-weight: 400;
    border-radius: .375rem;
    color: #5d5d66;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    transition: all .2s ease-in-out;
    box-shadow: none
}

.tag-light:hover {
    background-color: #fff;
    color: #5d5d66;
    border-color: #e8e8e9
}

.context-dark .tag-light {
    color: #fff;
    background-color: rgba(255,255,255,.35);
    border-color: rgba(255,255,255,.35)
}

.context-dark .tag-light:hover {
    color: #fff;
    background-color: rgba(255,255,255,.15);
    border-color: rgba(255,255,255,.15)
}

.tag-container {
    margin-bottom: -4px;
    margin-left: -4px
}

.tag-container:empty {
    margin-bottom: 0;
    margin-left: 0
}

.tag-container>* {
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 4px
}

*+.tag-container {
    margin-top: 25px
}

@media(min-width: 992px) {
    *+.tag-container {
        margin-top:30px
    }
}

@media(min-width: 1600px) {
    *+.tag-container {
        margin-top:40px
    }
}
