.pricing-table-container {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.pricing-table {
    width: 100%
}

.pricing-table td {
    padding: 19px 15px 20px 0;
    vertical-align: top
}

.pricing-table td:first-child {
    padding: 0
}

.pricing-table tfoot tr {
    border-top: 1px solid #171724
}

.pricing-table tfoot td {
    padding-bottom: 30px;
    padding-right: 5px
}

.pricing-table-btn {
    padding: 5px 10px;
    font-size: .9375rem;
    line-height: 1.2;
    border-radius: .375rem
}

.pricing-table-header {
    border-bottom: 1px solid #171724
}

.pricing-table-header th {
    padding-bottom: 11px;
    vertical-align: top
}

.pricing-table-header .pricing-table-title {
    width: 10%;
    min-width: 300px;
    padding-bottom: 11px;
    vertical-align: bottom
}

.pricing-table-subheader td {
    padding: 20px 15px 20px 0;
    vertical-align: middle
}

.pricing-table-column-title {
    color: #6b39bd
}

.pricing-table-row-fill {
    background: #f7f7f7
}

.pricing-table-meta {
    font-weight: 400;
    color: #6b39bd
}

.pricing-table-postfix {
    font-size: .55em
}

*+.pricing-table-header th {
    padding-top: 30px
}

*+.pricing-table-btn {
    margin-top: 5px
}

*+.pricing-table-container {
    margin-top: 30px
}

@media(min-width: 992px) {
    .pricing-table-btn {
        padding:13px 27px;
        font-size: 1.0625rem;
        line-height: 1.2;
        border-radius: .375rem
    }

    .pricing-table-header th {
        padding-bottom: 20px
    }

    .pricing-table-header .pricing-table-title {
        min-width: 450px
    }

    .pricing-table-subheader td {
        padding: 36px 15px 36px 0
    }

    *+.pricing-table-header th {
        padding-top: 40px
    }

    *+.pricing-table-container {
        margin-top: 40px
    }
}

@media(min-width: 1200px) {
    .pricing-table-header .pricing-table-title {
        min-width:660px
    }
}

@media(min-width: 1600px) {
    .pricing-table tfoot td {
        padding-top:54px;
        padding-bottom: 30px
    }

    .pricing-table-btn {
        padding: .6875rem 1.75rem;
        font-size: 1.0625rem;
        line-height: 1.47;
        border-radius: .375rem
    }

    .pricing-table-header th {
        padding-bottom: 40px
    }

    *+.pricing-table-btn {
        margin-top: 18px
    }

    *+.pricing-table-header th {
        padding-top: 46px
    }

    *+.pricing-table-container {
        margin-top: 60px
    }
}
