.intro {
    padding: 50px 0
}

.breadcrumb+.intro-title,.breadcrumb+.intro-content {
    margin-top: 25px
}

*+.intro-embed {
    margin-top: 20px
}

@media(min-width: 768px) {
    .intro {
        padding:50px 0 60px
    }

    .breadcrumb+.intro-title,.breadcrumb+.intro-content {
        margin-top: 25px
    }

    *+.intro-embed {
        margin-top: 30px
    }
}

@media(min-width: 992px) {
    .intro {
        padding:52px 0 90px
    }

    .intro-title {
        max-width: 650px
    }

    .breadcrumb+.intro-title,.breadcrumb+.intro-content {
        margin-top: 50px
    }

    *+.intro-embed {
        margin-top: 50px
    }
}

@media(min-width: 1200px) {
    .intro {
        padding:52px 0 160px
    }
}

@media(min-width: 1600px) {
    .intro-post {
        padding:52px 0 227px
    }

    *+.intro-title {
        margin-top: 38px
    }

    .breadcrumb+.intro-title {
        margin-top: 137px
    }

    .breadcrumb+.intro-content {
        margin-top: 147px
    }

    *+.intro-embed {
        margin-top: 97px
    }

    *+.intro-meta {
        margin-top: 36px
    }
}
