.sitelist {
    font-size: 1.0625rem
}

.sitelist-root-link {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
    color: #171724
}

.sitelist-root-link:hover {
    color: #31c77f
}

.sitelist-dropdown-link {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    font-weight: 400;
    color: #5d5d66
}

.sitelist-dropdown-link::before {
    position: absolute;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    content: '•'
}

.sitelist-dropdown-link:hover {
    color: #31c77f
}

.sitelist-root-item>.sitelist-dropdown>.sitelist-dropdown-item>.sitelist-dropdown-link {
    padding-left: 1.5em;
    color: #171724
}

.sitelist-root-item>.sitelist-dropdown>.sitelist-dropdown-item>.sitelist-dropdown-link::before {
    font-family: intense icons;
    content: '\e909'
}

.sitelist-root-item>.sitelist-dropdown>.sitelist-dropdown-item>.sitelist-dropdown-link:hover {
    color: #31c77f
}

*+.sitelist-dropdown,*+.sitelist-dropdown-item {
    margin-top: .6875rem
}

.sitelist-root-link+.sitelist-dropdown {
    margin-top: .9375rem
}

.sitelist-megamenu-heading {
    position: relative;
    padding-left: 1.5em;
    font-weight: 400;
    color: #171724
}

.sitelist-megamenu-heading::before {
    position: absolute;
    left: 0;
    display: inline-block;
    font-family: intense icons;
    vertical-align: middle;
    content: '\e909'
}

.sitelist-megamenu-link {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    font-weight: 400;
    color: #5d5d66
}

.sitelist-megamenu-link::before {
    position: absolute;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    content: '•'
}

.sitelist-megamenu-link:hover {
    color: #31c77f
}

*+.sitelist-megamenu-column,*+.sitelist-megamenu-item {
    margin-top: .6875rem
}

*+.sitelist-megamenu {
    margin-top: 1.25rem
}

.sitelist-megamenu-wide {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1.25rem
}

.sitelist-megamenu-wide .sitelist-megamenu-item {
    flex-basis: 33.333%;
    margin-top: 0;
    margin-bottom: 1.25rem
}

.sitelist-megamenu-heading~.sitelist-megamenu-item,.sitelist-dropdown .sitelist-dropdown {
    margin-left: .9375rem
}

.sitelist-dropdown-item[class*=disabled],.sitelist-megamenu-item[class*=disabled] {
    opacity: .5;
    pointer-events: none
}

.context-dark .sitelist-root-link,.context-dark .sitelist-root-item>.sitelist-dropdown>.sitelist-dropdown-item>.sitelist-dropdown-link {
    color: #fff
}

.context-dark .sitelist-root-link:hover,.context-dark .sitelist-root-item>.sitelist-dropdown>.sitelist-dropdown-item>.sitelist-dropdown-link:hover {
    color: #31c77f
}

.context-dark .sitelist-megamenu-link,.context-dark .sitelist-dropdown-link {
    color: rgba(255,255,255,.6)
}

.context-dark .sitelist-megamenu-link:hover,.context-dark .sitelist-dropdown-link:hover {
    color: #31c77f
}

.context-dark .sitelist-megamenu-heading {
    color: #fff
}

@media(min-width: 1200px) {
    .sitelist-dropdown .sitelist-dropdown,.sitelist-megamenu-heading~.sitelist-megamenu-item {
        margin-left:3.125rem
    }
}
