.table-cart tbody td:first-child {
    padding-left: 0
}

.table-cart tbody td:last-child {
    padding-right: 0
}

.table-cart td:not(:first-child) {
    border-left-color: transparent
}

.table-cart td {
    border-top: 1px solid #e8e8e9;
    border-bottom: 1px solid #e8e8e9
}

.table-cart-figure {
    display: block;
    max-width: 180px
}

.table-cart-list {
    font-weight: 300;
    color: #5d5d66
}

.table-cart-total {
    text-align: right;
    margin-left: auto;
    max-width: 200px;
    font-size: 1.0625rem;
    line-height: 1.7
}

.table-cart-total tfoot tr,.table-cart-total tfoot td {
    padding-top: 16px
}

.table-cart-total th,.table-cart-total td {
    padding-top: 0;
    padding-bottom: 0;
    border-color: transparent
}

.table-cart-total th:not(:first-child),.table-cart-total th:not(:first-child),.table-cart-total td:not(:first-child),.table-cart-total td:not(:first-child) {
    border-left-color: transparent
}

.table-cart-total th {
    padding-left: 0;
    font-weight: 400
}

.table-cart-total td {
    padding-right: 0;
    font-weight: 300;
    color: #5d5d66
}

*+.list.table-cart-list {
    margin-top: 12px
}

*+.table-cart-total {
    margin-top: 2.125rem
}

@media (min-width: 768px) {
    .table-cart td {
        padding-top:40px;
        padding-bottom: 40px
    }
}
