.btn-group,.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle
}

.btn-group>.btn,.btn-group-vertical>.btn {
    position: relative;
    flex: 1 1 auto
}

.btn-group>.btn:hover,.btn-group-vertical>.btn:hover {
    z-index: 1
}

.btn-group>.btn:focus,.btn-group>.btn:active,.btn-group>.btn.active,.btn-group-vertical>.btn:focus,.btn-group-vertical>.btn:active,.btn-group-vertical>.btn.active {
    z-index: 1
}

.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.btn-toolbar .input-group {
    width: auto
}

.btn-group>.btn:not(:first-child),.btn-group>.btn-group:not(:first-child) {
    margin-left: -2px
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle),.btn-group>.btn-group:not(:last-child)>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.btn-group>.btn:not(:first-child),.btn-group>.btn-group:not(:first-child)>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.dropdown-toggle-split {
    padding-right: 1.3125rem;
    padding-left: 1.3125rem
}

.dropdown-toggle-split::after,.dropup .dropdown-toggle-split::after,.dropright .dropdown-toggle-split::after {
    margin-left: 0
}

.dropleft .dropdown-toggle-split::before {
    margin-right: 0
}

.btn-sm+.dropdown-toggle-split,.btn-group-sm>.btn+.dropdown-toggle-split {
    padding-right: .75rem;
    padding-left: .75rem
}

.btn-lg+.dropdown-toggle-split,.btn-group-lg>.btn+.dropdown-toggle-split {
    padding-right: 1.875rem;
    padding-left: 1.875rem
}

.btn-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.btn-group-vertical>.btn,.btn-group-vertical>.btn-group {
    width: 100%
}

.btn-group-vertical>.btn:not(:first-child),.btn-group-vertical>.btn-group:not(:first-child) {
    margin-top: -2px
}

.btn-group-vertical>.btn:not(:last-child):not(.dropdown-toggle),.btn-group-vertical>.btn-group:not(:last-child)>.btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.btn-group-vertical>.btn:not(:first-child),.btn-group-vertical>.btn-group:not(:first-child)>.btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.btn-group-toggle>.btn,.btn-group-toggle>.btn-group>.btn {
    margin-bottom: 0
}

.btn-group-toggle>.btn input[type=radio],.btn-group-toggle>.btn input[type=checkbox],.btn-group-toggle>.btn-group>.btn input[type=radio],.btn-group-toggle>.btn-group>.btn input[type=checkbox] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    font-weight: 700;
    box-shadow: 10px 15px 18px rgba(23,23,36,.15);
    transition: all .2s ease-in-out;
    opacity: 1;
    background: #fff;
    color: #171724;
    padding: .6875rem 1.75rem;
    font-size: 1.0625rem;
    line-height: 1.47;
    border-radius: .375rem
}

.btn:hover,.btn.hover,.btn:active,.btn.active {
    box-shadow: none;
    text-decoration: none;
    border-color: #393944;
    background: #393944;
    color: #fff
}

.btn:focus,.btn.focus {
    outline: 0
}

.btn.disabled,.btn:disabled {
    opacity: .65;
    pointer-events: none
}

.btn-icon {
    font-size: 1em;
    margin: 0 .47058em
}

.btn-icon:first-child {
    margin-left: 0
}

.btn-icon:last-child {
    margin-right: 0
}

*+.btn {
    margin-top: 1.875rem
}

.divider+.btn {
    margin-top: 3.125rem
}

.row+.btn {
    margin-top: 2.5rem
}

.btn-outline {
    box-shadow: none;
    border-color: #fff;
    background: 0 0;
    color: #fff
}

.btn-outline:hover {
    border-color: #fff;
    background: #fff;
    color: #171724
}

.btn-block {
    display: flex;
    width: 100%
}

.btn-rect,.btn-rect.btn-sm,.btn-group-sm>.btn-rect.btn,.btn-rect.btn-lg,.btn-group-lg>.btn-rect.btn {
    border-radius: 0
}

.btn-round {
    border-radius: 2.93687rem
}

.btn-round.btn-sm,.btn-group-sm>.btn-round.btn {
    border-radius: 2.31187rem
}

.btn-round.btn-lg,.btn-group-lg>.btn-round.btn {
    border-radius: 3.56187rem
}

.btn-sm,.btn-group-sm>.btn {
    padding: .375rem 1rem;
    font-size: 1.0625rem;
    line-height: 1.47;
    border-radius: .375rem
}

.btn-lg,.btn-group-lg>.btn {
    padding: 1rem 2.5rem;
    font-size: 1.0625rem;
    line-height: 1.47;
    border-radius: .375rem
}

.btn-primary {
    color: #fff;
    border-color: #31c77f;
    background-color: #31c77f
}

.btn-primary:hover,.btn-primary.hover,.btn-primary:active,.btn-primary.active {
    color: #fff;
    border-color: #2ca46d;
    background-color: #2ca46d
}

.btn-primary.btn-outline {
    color: #31c77f;
    border-color: #31c77f;
    background-color: transparent
}

.btn-primary.btn-outline:hover,.btn-primary.btn-outline.hover,.btn-primary.btn-outline:active,.btn-primary.btn-outline.active {
    color: #fff;
    background-color: #31c77f
}

.btn-secondary {
    color: #fff;
    border-color: #6b39bd;
    background-color: #6b39bd
}

.btn-secondary:hover,.btn-secondary.hover,.btn-secondary:active,.btn-secondary.active {
    color: #fff;
    border-color: #5a329e;
    background-color: #5a329e
}

.btn-secondary.btn-outline {
    color: #6b39bd;
    border-color: #6b39bd;
    background-color: transparent
}

.btn-secondary.btn-outline:hover,.btn-secondary.btn-outline.hover,.btn-secondary.btn-outline:active,.btn-secondary.btn-outline.active {
    color: #fff;
    background-color: #6b39bd
}

.btn-success {
    color: #fff;
    border-color: #77ba21;
    background-color: #77ba21
}

.btn-success:hover,.btn-success.hover,.btn-success:active,.btn-success.active {
    color: #fff;
    border-color: #649922;
    background-color: #649922
}

.btn-success.btn-outline {
    color: #77ba21;
    border-color: #77ba21;
    background-color: transparent
}

.btn-success.btn-outline:hover,.btn-success.btn-outline.hover,.btn-success.btn-outline:active,.btn-success.btn-outline.active {
    color: #fff;
    background-color: #77ba21
}

.btn-info {
    color: #fff;
    border-color: #138ce4;
    background-color: #138ce4
}

.btn-info:hover,.btn-info.hover,.btn-info:active,.btn-info.active {
    color: #fff;
    border-color: #1475be;
    background-color: #1475be
}

.btn-info.btn-outline {
    color: #138ce4;
    border-color: #138ce4;
    background-color: transparent
}

.btn-info.btn-outline:hover,.btn-info.btn-outline.hover,.btn-info.btn-outline:active,.btn-info.btn-outline.active {
    color: #fff;
    background-color: #138ce4
}

.btn-warning {
    color: #fff;
    border-color: #f19711;
    background-color: #f19711
}

.btn-warning:hover,.btn-warning.hover,.btn-warning:active,.btn-warning.active {
    color: #fff;
    border-color: #c57d15;
    background-color: #c57d15
}

.btn-warning.btn-outline {
    color: #f19711;
    border-color: #f19711;
    background-color: transparent
}

.btn-warning.btn-outline:hover,.btn-warning.btn-outline.hover,.btn-warning.btn-outline:active,.btn-warning.btn-outline.active {
    color: #fff;
    background-color: #f19711
}

.btn-danger {
    color: #fff;
    border-color: #e72660;
    background-color: #e72660
}

.btn-danger:hover,.btn-danger.hover,.btn-danger:active,.btn-danger.active {
    color: #fff;
    border-color: #bd2354;
    background-color: #bd2354
}

.btn-danger.btn-outline {
    color: #e72660;
    border-color: #e72660;
    background-color: transparent
}

.btn-danger.btn-outline:hover,.btn-danger.btn-outline.hover,.btn-danger.btn-outline:active,.btn-danger.btn-outline.active {
    color: #fff;
    background-color: #e72660
}

.btn-light {
    color: #171724;
    border-color: #f7f7f7;
    background-color: #f7f7f7
}

.btn-light:hover,.btn-light.hover,.btn-light:active,.btn-light.active {
    color: #171724;
    border-color: #cacacd;
    background-color: #cacacd
}

.btn-light.btn-outline {
    color: #f7f7f7;
    border-color: #f7f7f7;
    background-color: transparent
}

.btn-light.btn-outline:hover,.btn-light.btn-outline.hover,.btn-light.btn-outline:active,.btn-light.btn-outline.active {
    color: #171724;
    background-color: #f7f7f7
}

.btn-dark {
    color: #fff;
    border-color: #171724;
    background-color: #171724
}

.btn-dark:hover,.btn-dark.hover,.btn-dark:active,.btn-dark.active {
    color: #fff;
    border-color: #44444e;
    background-color: #44444e
}

.btn-dark.btn-outline {
    color: #171724;
    border-color: #171724;
    background-color: transparent
}

.btn-dark.btn-outline:hover,.btn-dark.btn-outline.hover,.btn-dark.btn-outline:active,.btn-dark.btn-outline.active {
    color: #fff;
    background-color: #171724
}

.btn-group .btn {
    margin: 0
}

.btn-group .btn:hover {
    z-index: 0
}

@media(min-width: 768px) {
    .row+.btn {
        margin-top:3.125rem
    }
}

@media(min-width: 992px) {
    p+.btn {
        margin-top:3.125rem
    }

    img+.btn {
        margin-top: 3.75rem
    }

    .form-group+.btn {
        margin-top: 2.5rem
    }
}

@media(min-width: 1600px) {
    .row+.btn {
        margin-top:4.375rem
    }
}

.btn-anis {
    transform: translateZ(0);
    overflow: hidden;
    transition: .25s
}

.btn-anis::before,.btn-anis::after {
    content: '';
    position: absolute;
    top: 50%;
    z-index: -1;
    padding: 10px;
    border-radius: 50%;
    opacity: 1;
    transition: 0s;
    will-change: transform
}

.btn-anis::before {
    left: -30%;
    transform: translate(-50%,-50%)
}

.btn-anis::after {
    right: -30%;
    transform: translate(50%,-50%)
}

.btn-anis:hover {
    transition: all .25s,border-color .3s .5s,background-color .3s .5s
}

.btn-anis:hover::before,.btn-anis:hover::after {
    padding: 50%;
    opacity: 0;
    transition: left .4s,right .4s,padding .3s .5s,opacity .05s .75s
}

.btn-anis:hover::before {
    left: 50%
}

.btn-anis:hover::after {
    right: 50%
}

.btn-anis.btn-outline:hover {
    transition: all .25s,background-color .1s .7s,color .3s .5s
}

.btn-primary.btn-anis::before,.btn-primary.btn-anis::after {
    background-color: #2ca46d
}

.btn-primary.btn-anis.btn-outline::before,.btn-primary.btn-anis.btn-outline::after {
    background-color: #31c77f
}

.btn-secondary.btn-anis::before,.btn-secondary.btn-anis::after {
    background-color: #5a329e
}

.btn-secondary.btn-anis.btn-outline::before,.btn-secondary.btn-anis.btn-outline::after {
    background-color: #6b39bd
}

.btn-success.btn-anis::before,.btn-success.btn-anis::after {
    background-color: #649922
}

.btn-success.btn-anis.btn-outline::before,.btn-success.btn-anis.btn-outline::after {
    background-color: #77ba21
}

.btn-info.btn-anis::before,.btn-info.btn-anis::after {
    background-color: #1475be
}

.btn-info.btn-anis.btn-outline::before,.btn-info.btn-anis.btn-outline::after {
    background-color: #138ce4
}

.btn-warning.btn-anis::before,.btn-warning.btn-anis::after {
    background-color: #c57d15
}

.btn-warning.btn-anis.btn-outline::before,.btn-warning.btn-anis.btn-outline::after {
    background-color: #f19711
}

.btn-danger.btn-anis::before,.btn-danger.btn-anis::after {
    background-color: #bd2354
}

.btn-danger.btn-anis.btn-outline::before,.btn-danger.btn-anis.btn-outline::after {
    background-color: #e72660
}

.btn-light.btn-anis::before,.btn-light.btn-anis::after {
    background-color: #cacacd
}

.btn-light.btn-anis.btn-outline::before,.btn-light.btn-anis.btn-outline::after {
    background-color: #f7f7f7
}

.btn-dark.btn-anis::before,.btn-dark.btn-anis::after {
    background-color: #44444e
}

.btn-dark.btn-anis.btn-outline::before,.btn-dark.btn-anis.btn-outline::after {
    background-color: #171724
}

.btn-aqil-vertical,.btn-aqil-horizontal {
    overflow: hidden;
    transform: translateZ(0);
    transition: all .25s,border-color .8s cubic-bezier(.3,.7,.7,.3)
}

.btn-aqil-vertical::before,.btn-aqil-vertical::after,.btn-aqil-horizontal::before,.btn-aqil-horizontal::after {
    position: absolute;
    z-index: -1;
    content: '';
    transition-property: top,bottom,left,right;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(.3,.7,.7,.3)
}

.btn-aqil-vertical.btn-outline,.btn-aqil-horizontal.btn-outline {
    transition: all .25s,color .25s .55s
}

.btn-aqil-vertical.btn-outline:hover,.btn-aqil-horizontal.btn-outline:hover {
    transition: .25s
}

.btn-aqil-vertical::before,.btn-aqil-vertical::after {
    left: 0;
    right: 0;
    height: 200%
}

.btn-aqil-vertical::before {
    top: -200%
}

.btn-aqil-vertical::after {
    bottom: -200%
}

.btn-aqil-vertical:hover::before {
    top: 0
}

.btn-aqil-vertical:hover::after {
    bottom: 0
}

.btn-aqil-horizontal::before,.btn-aqil-horizontal::after {
    top: 0;
    bottom: 0;
    width: 200%
}

.btn-aqil-horizontal::before {
    left: -200%
}

.btn-aqil-horizontal::after {
    right: -200%
}

.btn-aqil-horizontal:hover::before {
    left: 0
}

.btn-aqil-horizontal:hover::after {
    right: 0
}

.btn-primary.btn-aqil-vertical:hover,.btn-primary.btn-aqil-horizontal:hover {
    background-color: #31c77f
}

.btn-primary.btn-aqil-vertical.btn-outline:hover,.btn-primary.btn-aqil-horizontal.btn-outline:hover {
    background-color: transparent
}

.btn-primary.btn-aqil-vertical::before {
    background: linear-gradient(to top,rgba(46,181,118,0.5) 50%,rgba(44,164,109,0.5) 50%)
}

.btn-primary.btn-aqil-vertical::after {
    background: linear-gradient(to bottom,rgba(46,181,118,0.5) 50%,rgba(44,164,109,0.5) 50%)
}

.btn-primary.btn-aqil-vertical.btn-outline::before {
    background: linear-gradient(to top,rgba(49,199,127,0.25) 50%,rgba(49,199,127,0.5) 50%,#31c77f 100%)
}

.btn-primary.btn-aqil-vertical.btn-outline::after {
    background: linear-gradient(to bottom,rgba(49,199,127,0.25) 50%,rgba(49,199,127,0.5) 50%,#31c77f 100%)
}

.btn-primary.btn-aqil-horizontal::before {
    background: linear-gradient(to left,rgba(46,181,118,0.5) 50%,rgba(44,164,109,0.5) 50%)
}

.btn-primary.btn-aqil-horizontal::after {
    background: linear-gradient(to right,rgba(46,181,118,0.5) 50%,rgba(44,164,109,0.5) 50%)
}

.btn-primary.btn-aqil-horizontal.btn-outline::before {
    background: linear-gradient(to left,rgba(49,199,127,0.25) 50%,rgba(49,199,127,0.5) 50%,#31c77f 100%)
}

.btn-primary.btn-aqil-horizontal.btn-outline::after {
    background: linear-gradient(to right,rgba(49,199,127,0.25) 50%,rgba(49,199,127,0.5) 50%,#31c77f 100%)
}

.btn-secondary.btn-aqil-vertical:hover,.btn-secondary.btn-aqil-horizontal:hover {
    background-color: #6b39bd
}

.btn-secondary.btn-aqil-vertical.btn-outline:hover,.btn-secondary.btn-aqil-horizontal.btn-outline:hover {
    background-color: transparent
}

.btn-secondary.btn-aqil-vertical::before {
    background: linear-gradient(to top,rgba(99,54,174,0.5) 50%,rgba(90,50,158,0.5) 50%)
}

.btn-secondary.btn-aqil-vertical::after {
    background: linear-gradient(to bottom,rgba(99,54,174,0.5) 50%,rgba(90,50,158,0.5) 50%)
}

.btn-secondary.btn-aqil-vertical.btn-outline::before {
    background: linear-gradient(to top,rgba(107,57,189,0.25) 50%,rgba(107,57,189,0.5) 50%,#6b39bd 100%)
}

.btn-secondary.btn-aqil-vertical.btn-outline::after {
    background: linear-gradient(to bottom,rgba(107,57,189,0.25) 50%,rgba(107,57,189,0.5) 50%,#6b39bd 100%)
}

.btn-secondary.btn-aqil-horizontal::before {
    background: linear-gradient(to left,rgba(99,54,174,0.5) 50%,rgba(90,50,158,0.5) 50%)
}

.btn-secondary.btn-aqil-horizontal::after {
    background: linear-gradient(to right,rgba(99,54,174,0.5) 50%,rgba(90,50,158,0.5) 50%)
}

.btn-secondary.btn-aqil-horizontal.btn-outline::before {
    background: linear-gradient(to left,rgba(107,57,189,0.25) 50%,rgba(107,57,189,0.5) 50%,#6b39bd 100%)
}

.btn-secondary.btn-aqil-horizontal.btn-outline::after {
    background: linear-gradient(to right,rgba(107,57,189,0.25) 50%,rgba(107,57,189,0.5) 50%,#6b39bd 100%)
}

.btn-success.btn-aqil-vertical:hover,.btn-success.btn-aqil-horizontal:hover {
    background-color: #77ba21
}

.btn-success.btn-aqil-vertical.btn-outline:hover,.btn-success.btn-aqil-horizontal.btn-outline:hover {
    background-color: transparent
}

.btn-success.btn-aqil-vertical::before {
    background: linear-gradient(to top,rgba(109,170,33,0.5) 50%,rgba(100,153,34,0.5) 50%)
}

.btn-success.btn-aqil-vertical::after {
    background: linear-gradient(to bottom,rgba(109,170,33,0.5) 50%,rgba(100,153,34,0.5) 50%)
}

.btn-success.btn-aqil-vertical.btn-outline::before {
    background: linear-gradient(to top,rgba(119,186,33,0.25) 50%,rgba(119,186,33,0.5) 50%,#77ba21 100%)
}

.btn-success.btn-aqil-vertical.btn-outline::after {
    background: linear-gradient(to bottom,rgba(119,186,33,0.25) 50%,rgba(119,186,33,0.5) 50%,#77ba21 100%)
}

.btn-success.btn-aqil-horizontal::before {
    background: linear-gradient(to left,rgba(109,170,33,0.5) 50%,rgba(100,153,34,0.5) 50%)
}

.btn-success.btn-aqil-horizontal::after {
    background: linear-gradient(to right,rgba(109,170,33,0.5) 50%,rgba(100,153,34,0.5) 50%)
}

.btn-success.btn-aqil-horizontal.btn-outline::before {
    background: linear-gradient(to left,rgba(119,186,33,0.25) 50%,rgba(119,186,33,0.5) 50%,#77ba21 100%)
}

.btn-success.btn-aqil-horizontal.btn-outline::after {
    background: linear-gradient(to right,rgba(119,186,33,0.25) 50%,rgba(119,186,33,0.5) 50%,#77ba21 100%)
}

.btn-info.btn-aqil-vertical:hover,.btn-info.btn-aqil-horizontal:hover {
    background-color: #138ce4
}

.btn-info.btn-aqil-vertical.btn-outline:hover,.btn-info.btn-aqil-horizontal.btn-outline:hover {
    background-color: transparent
}

.btn-info.btn-aqil-vertical::before {
    background: linear-gradient(to top,rgba(19,128,209,0.5) 50%,rgba(20,117,190,0.5) 50%)
}

.btn-info.btn-aqil-vertical::after {
    background: linear-gradient(to bottom,rgba(19,128,209,0.5) 50%,rgba(20,117,190,0.5) 50%)
}

.btn-info.btn-aqil-vertical.btn-outline::before {
    background: linear-gradient(to top,rgba(19,140,228,0.25) 50%,rgba(19,140,228,0.5) 50%,#138ce4 100%)
}

.btn-info.btn-aqil-vertical.btn-outline::after {
    background: linear-gradient(to bottom,rgba(19,140,228,0.25) 50%,rgba(19,140,228,0.5) 50%,#138ce4 100%)
}

.btn-info.btn-aqil-horizontal::before {
    background: linear-gradient(to left,rgba(19,128,209,0.5) 50%,rgba(20,117,190,0.5) 50%)
}

.btn-info.btn-aqil-horizontal::after {
    background: linear-gradient(to right,rgba(19,128,209,0.5) 50%,rgba(20,117,190,0.5) 50%)
}

.btn-info.btn-aqil-horizontal.btn-outline::before {
    background: linear-gradient(to left,rgba(19,140,228,0.25) 50%,rgba(19,140,228,0.5) 50%,#138ce4 100%)
}

.btn-info.btn-aqil-horizontal.btn-outline::after {
    background: linear-gradient(to right,rgba(19,140,228,0.25) 50%,rgba(19,140,228,0.5) 50%,#138ce4 100%)
}

.btn-warning.btn-aqil-vertical:hover,.btn-warning.btn-aqil-horizontal:hover {
    background-color: #f19711
}

.btn-warning.btn-aqil-vertical.btn-outline:hover,.btn-warning.btn-aqil-horizontal.btn-outline:hover {
    background-color: transparent
}

.btn-warning.btn-aqil-vertical::before {
    background: linear-gradient(to top,rgba(219,138,19,0.5) 50%,rgba(197,125,21,0.5) 50%)
}

.btn-warning.btn-aqil-vertical::after {
    background: linear-gradient(to bottom,rgba(219,138,19,0.5) 50%,rgba(197,125,21,0.5) 50%)
}

.btn-warning.btn-aqil-vertical.btn-outline::before {
    background: linear-gradient(to top,rgba(241,151,17,0.25) 50%,rgba(241,151,17,0.5) 50%,#f19711 100%)
}

.btn-warning.btn-aqil-vertical.btn-outline::after {
    background: linear-gradient(to bottom,rgba(241,151,17,0.25) 50%,rgba(241,151,17,0.5) 50%,#f19711 100%)
}

.btn-warning.btn-aqil-horizontal::before {
    background: linear-gradient(to left,rgba(219,138,19,0.5) 50%,rgba(197,125,21,0.5) 50%)
}

.btn-warning.btn-aqil-horizontal::after {
    background: linear-gradient(to right,rgba(219,138,19,0.5) 50%,rgba(197,125,21,0.5) 50%)
}

.btn-warning.btn-aqil-horizontal.btn-outline::before {
    background: linear-gradient(to left,rgba(241,151,17,0.25) 50%,rgba(241,151,17,0.5) 50%,#f19711 100%)
}

.btn-warning.btn-aqil-horizontal.btn-outline::after {
    background: linear-gradient(to right,rgba(241,151,17,0.25) 50%,rgba(241,151,17,0.5) 50%,#f19711 100%)
}

.btn-danger.btn-aqil-vertical:hover,.btn-danger.btn-aqil-horizontal:hover {
    background-color: #e72660
}

.btn-danger.btn-aqil-vertical.btn-outline:hover,.btn-danger.btn-aqil-horizontal.btn-outline:hover {
    background-color: transparent
}

.btn-danger.btn-aqil-vertical::before {
    background: linear-gradient(to top,rgba(210,37,90,0.5) 50%,rgba(189,35,84,0.5) 50%)
}

.btn-danger.btn-aqil-vertical::after {
    background: linear-gradient(to bottom,rgba(210,37,90,0.5) 50%,rgba(189,35,84,0.5) 50%)
}

.btn-danger.btn-aqil-vertical.btn-outline::before {
    background: linear-gradient(to top,rgba(231,38,96,0.25) 50%,rgba(231,38,96,0.5) 50%,#e72660 100%)
}

.btn-danger.btn-aqil-vertical.btn-outline::after {
    background: linear-gradient(to bottom,rgba(231,38,96,0.25) 50%,rgba(231,38,96,0.5) 50%,#e72660 100%)
}

.btn-danger.btn-aqil-horizontal::before {
    background: linear-gradient(to left,rgba(210,37,90,0.5) 50%,rgba(189,35,84,0.5) 50%)
}

.btn-danger.btn-aqil-horizontal::after {
    background: linear-gradient(to right,rgba(210,37,90,0.5) 50%,rgba(189,35,84,0.5) 50%)
}

.btn-danger.btn-aqil-horizontal.btn-outline::before {
    background: linear-gradient(to left,rgba(231,38,96,0.25) 50%,rgba(231,38,96,0.5) 50%,#e72660 100%)
}

.btn-danger.btn-aqil-horizontal.btn-outline::after {
    background: linear-gradient(to right,rgba(231,38,96,0.25) 50%,rgba(231,38,96,0.5) 50%,#e72660 100%)
}

.btn-light.btn-aqil-vertical:hover,.btn-light.btn-aqil-horizontal:hover {
    background-color: #f7f7f7
}

.btn-light.btn-aqil-vertical.btn-outline:hover,.btn-light.btn-aqil-horizontal.btn-outline:hover {
    background-color: transparent
}

.btn-light.btn-aqil-vertical::before {
    background: linear-gradient(to top,rgba(225,225,226,0.5) 50%,rgba(202,202,205,0.5) 50%)
}

.btn-light.btn-aqil-vertical::after {
    background: linear-gradient(to bottom,rgba(225,225,226,0.5) 50%,rgba(202,202,205,0.5) 50%)
}

.btn-light.btn-aqil-vertical.btn-outline::before {
    background: linear-gradient(to top,rgba(247,247,247,0.25) 50%,rgba(247,247,247,0.5) 50%,#f7f7f7 100%)
}

.btn-light.btn-aqil-vertical.btn-outline::after {
    background: linear-gradient(to bottom,rgba(247,247,247,0.25) 50%,rgba(247,247,247,0.5) 50%,#f7f7f7 100%)
}

.btn-light.btn-aqil-horizontal::before {
    background: linear-gradient(to left,rgba(225,225,226,0.5) 50%,rgba(202,202,205,0.5) 50%)
}

.btn-light.btn-aqil-horizontal::after {
    background: linear-gradient(to right,rgba(225,225,226,0.5) 50%,rgba(202,202,205,0.5) 50%)
}

.btn-light.btn-aqil-horizontal.btn-outline::before {
    background: linear-gradient(to left,rgba(247,247,247,0.25) 50%,rgba(247,247,247,0.5) 50%,#f7f7f7 100%)
}

.btn-light.btn-aqil-horizontal.btn-outline::after {
    background: linear-gradient(to right,rgba(247,247,247,0.25) 50%,rgba(247,247,247,0.5) 50%,#f7f7f7 100%)
}

.btn-dark.btn-aqil-vertical:hover,.btn-dark.btn-aqil-horizontal:hover {
    background-color: #171724
}

.btn-dark.btn-aqil-vertical.btn-outline:hover,.btn-dark.btn-aqil-horizontal.btn-outline:hover {
    background-color: transparent
}

.btn-dark.btn-aqil-vertical::before {
    background: linear-gradient(to top,rgba(45,45,57,0.5) 50%,rgba(68,68,78,0.5) 50%)
}

.btn-dark.btn-aqil-vertical::after {
    background: linear-gradient(to bottom,rgba(45,45,57,0.5) 50%,rgba(68,68,78,0.5) 50%)
}

.btn-dark.btn-aqil-vertical.btn-outline::before {
    background: linear-gradient(to top,rgba(23,23,36,0.25) 50%,rgba(23,23,36,0.5) 50%,#171724 100%)
}

.btn-dark.btn-aqil-vertical.btn-outline::after {
    background: linear-gradient(to bottom,rgba(23,23,36,0.25) 50%,rgba(23,23,36,0.5) 50%,#171724 100%)
}

.btn-dark.btn-aqil-horizontal::before {
    background: linear-gradient(to left,rgba(45,45,57,0.5) 50%,rgba(68,68,78,0.5) 50%)
}

.btn-dark.btn-aqil-horizontal::after {
    background: linear-gradient(to right,rgba(45,45,57,0.5) 50%,rgba(68,68,78,0.5) 50%)
}

.btn-dark.btn-aqil-horizontal.btn-outline::before {
    background: linear-gradient(to left,rgba(23,23,36,0.25) 50%,rgba(23,23,36,0.5) 50%,#171724 100%)
}

.btn-dark.btn-aqil-horizontal.btn-outline::after {
    background: linear-gradient(to right,rgba(23,23,36,0.25) 50%,rgba(23,23,36,0.5) 50%,#171724 100%)
}

.btn-rayen {
    position: relative
}

.btn-rayen:not(.sample) {
    overflow: hidden
}

.btn-rayen::before,.btn-rayen::after {
    content: attr(data-text);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: transform .3s cubic-bezier(.75,0,.125,1);
    pointer-events: none
}

.btn-rayen::before {
    transform: translateY(0);
    background-color: inherit
}

.btn-rayen::after {
    transform: translateX(-100%)
}

.btn-rayen:hover::before {
    transform: translateY(100%)
}

.btn-rayen:hover::after {
    transform: translateY(0)
}

.btn-rayen.btn-primary {
    background-color: #31c77f;
    color: transparent
}

.btn-rayen.btn-primary::before {
    background-color: #31c77f;
    color: #fff
}

.btn-rayen.btn-primary::after {
    background-color: #2ca46d;
    color: #fff
}

.btn-rayen.btn-primary.btn-outline {
    background-color: transparent;
    color: transparent
}

.btn-rayen.btn-primary.btn-outline::before {
    background-color: transparent;
    color: #31c77f
}

.btn-rayen.btn-primary.btn-outline::after {
    background-color: #31c77f;
    color: #fff
}

.btn-rayen.btn-secondary {
    background-color: #6b39bd;
    color: transparent
}

.btn-rayen.btn-secondary::before {
    background-color: #6b39bd;
    color: #fff
}

.btn-rayen.btn-secondary::after {
    background-color: #5a329e;
    color: #fff
}

.btn-rayen.btn-secondary.btn-outline {
    background-color: transparent;
    color: transparent
}

.btn-rayen.btn-secondary.btn-outline::before {
    background-color: transparent;
    color: #6b39bd
}

.btn-rayen.btn-secondary.btn-outline::after {
    background-color: #6b39bd;
    color: #fff
}

.btn-rayen.btn-success {
    background-color: #77ba21;
    color: transparent
}

.btn-rayen.btn-success::before {
    background-color: #77ba21;
    color: #fff
}

.btn-rayen.btn-success::after {
    background-color: #649922;
    color: #fff
}

.btn-rayen.btn-success.btn-outline {
    background-color: transparent;
    color: transparent
}

.btn-rayen.btn-success.btn-outline::before {
    background-color: transparent;
    color: #77ba21
}

.btn-rayen.btn-success.btn-outline::after {
    background-color: #77ba21;
    color: #fff
}

.btn-rayen.btn-info {
    background-color: #138ce4;
    color: transparent
}

.btn-rayen.btn-info::before {
    background-color: #138ce4;
    color: #fff
}

.btn-rayen.btn-info::after {
    background-color: #1475be;
    color: #fff
}

.btn-rayen.btn-info.btn-outline {
    background-color: transparent;
    color: transparent
}

.btn-rayen.btn-info.btn-outline::before {
    background-color: transparent;
    color: #138ce4
}

.btn-rayen.btn-info.btn-outline::after {
    background-color: #138ce4;
    color: #fff
}

.btn-rayen.btn-warning {
    background-color: #f19711;
    color: transparent
}

.btn-rayen.btn-warning::before {
    background-color: #f19711;
    color: #fff
}

.btn-rayen.btn-warning::after {
    background-color: #c57d15;
    color: #fff
}

.btn-rayen.btn-warning.btn-outline {
    background-color: transparent;
    color: transparent
}

.btn-rayen.btn-warning.btn-outline::before {
    background-color: transparent;
    color: #f19711
}

.btn-rayen.btn-warning.btn-outline::after {
    background-color: #f19711;
    color: #fff
}

.btn-rayen.btn-danger {
    background-color: #e72660;
    color: transparent
}

.btn-rayen.btn-danger::before {
    background-color: #e72660;
    color: #fff
}

.btn-rayen.btn-danger::after {
    background-color: #bd2354;
    color: #fff
}

.btn-rayen.btn-danger.btn-outline {
    background-color: transparent;
    color: transparent
}

.btn-rayen.btn-danger.btn-outline::before {
    background-color: transparent;
    color: #e72660
}

.btn-rayen.btn-danger.btn-outline::after {
    background-color: #e72660;
    color: #fff
}

.btn-rayen.btn-light {
    background-color: #f7f7f7;
    color: transparent
}

.btn-rayen.btn-light::before {
    background-color: #f7f7f7;
    color: #171724
}

.btn-rayen.btn-light::after {
    background-color: #cacacd;
    color: #171724
}

.btn-rayen.btn-light.btn-outline {
    background-color: transparent;
    color: transparent
}

.btn-rayen.btn-light.btn-outline::before {
    background-color: transparent;
    color: #f7f7f7
}

.btn-rayen.btn-light.btn-outline::after {
    background-color: #f7f7f7;
    color: #171724
}

.btn-rayen.btn-dark {
    background-color: #171724;
    color: transparent
}

.btn-rayen.btn-dark::before {
    background-color: #171724;
    color: #fff
}

.btn-rayen.btn-dark::after {
    background-color: #44444e;
    color: #fff
}

.btn-rayen.btn-dark.btn-outline {
    background-color: transparent;
    color: transparent
}

.btn-rayen.btn-dark.btn-outline::before {
    background-color: transparent;
    color: #171724
}

.btn-rayen.btn-dark.btn-outline::after {
    background-color: #171724;
    color: #fff
}

.btn-nuka {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    transform: translateZ(0)
}

.btn-nuka::before,.btn-nuka::after {
    content: '';
    position: absolute;
    left: -2px;
    right: -2px;
    z-index: -1;
    border-radius: inherit;
    pointer-events: none
}

.btn-nuka::before {
    top: -2px;
    bottom: -2px;
    transform: scaleX(.7);
    border: inherit;
    opacity: .7;
    transition: .25s
}

.btn-nuka::after {
    top: 0;
    bottom: 0;
    transition: all .25s,background-color .2s .05s
}

.btn-nuka:hover {
    background-color: transparent;
    border-color: transparent
}

.btn-nuka:hover::before {
    transform: scaleX(1);
    opacity: 1
}

.btn-nuka:hover::after {
    left: 0;
    right: 0
}

.btn-primary.btn-nuka::before {
    border-color: #31c77f
}

.btn-primary.btn-nuka::after {
    background: #31c77f
}

.btn-primary.btn-nuka:hover {
    color: #31c77f
}

.btn-primary.btn-nuka:hover::after {
    background-color: transparent
}

.btn-secondary.btn-nuka::before {
    border-color: #6b39bd
}

.btn-secondary.btn-nuka::after {
    background: #6b39bd
}

.btn-secondary.btn-nuka:hover {
    color: #6b39bd
}

.btn-secondary.btn-nuka:hover::after {
    background-color: transparent
}

.btn-success.btn-nuka::before {
    border-color: #77ba21
}

.btn-success.btn-nuka::after {
    background: #77ba21
}

.btn-success.btn-nuka:hover {
    color: #77ba21
}

.btn-success.btn-nuka:hover::after {
    background-color: transparent
}

.btn-info.btn-nuka::before {
    border-color: #138ce4
}

.btn-info.btn-nuka::after {
    background: #138ce4
}

.btn-info.btn-nuka:hover {
    color: #138ce4
}

.btn-info.btn-nuka:hover::after {
    background-color: transparent
}

.btn-warning.btn-nuka::before {
    border-color: #f19711
}

.btn-warning.btn-nuka::after {
    background: #f19711
}

.btn-warning.btn-nuka:hover {
    color: #f19711
}

.btn-warning.btn-nuka:hover::after {
    background-color: transparent
}

.btn-danger.btn-nuka::before {
    border-color: #e72660
}

.btn-danger.btn-nuka::after {
    background: #e72660
}

.btn-danger.btn-nuka:hover {
    color: #e72660
}

.btn-danger.btn-nuka:hover::after {
    background-color: transparent
}

.btn-light.btn-nuka::before {
    border-color: #f7f7f7
}

.btn-light.btn-nuka::after {
    background: #f7f7f7
}

.btn-light.btn-nuka:hover {
    color: #f7f7f7
}

.btn-light.btn-nuka:hover::after {
    background-color: transparent
}

.btn-dark.btn-nuka::before {
    border-color: #171724
}

.btn-dark.btn-nuka::after {
    background: #171724
}

.btn-dark.btn-nuka:hover {
    color: #171724
}

.btn-dark.btn-nuka:hover::after {
    background-color: transparent
}

.btn-naira-up,.btn-naira-down {
    background-color: transparent;
    transform: translateZ(0);
    overflow: hidden
}

.btn-naira-up::before,.btn-naira-down::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #000;
    transition: .25s
}

.btn-naira-up .btn-icon,.btn-naira-down .btn-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: .25s
}

.btn-naira-up .btn-text,.btn-naira-down .btn-text {
    position: relative;
    transform: translateY(0);
    opacity: 1;
    transition: .25s
}

.btn-naira-up:hover,.btn-naira-down:hover {
    background-color: transparent
}

.btn-naira-up:hover .btn-icon,.btn-naira-down:hover .btn-icon {
    top: 50%
}

.btn-naira-up:hover .btn-text,.btn-naira-down:hover .btn-text {
    opacity: 0
}

.btn-naira-up.btn-outline:hover,.btn-naira-down.btn-outline:hover {
    background-color: transparent
}

.btn-naira-up::before {
    transform: skewY(0);
    transform-origin: 100% 100%;
    bottom: 0
}

.btn-naira-up .btn-icon {
    top: 150%
}

.btn-naira-up:hover::before {
    transform: skewY(10deg);
    bottom: 100%
}

.btn-naira-up:hover .btn-text {
    transform: translateY(-200%)
}

.btn-naira-up.btn-outline::before {
    transform: skewY(-10deg);
    transform-origin: 100% 0;
    top: 100%;
    bottom: auto
}

.btn-naira-up.btn-outline:hover::before {
    transform: skewY(0);
    top: 0
}

.btn-naira-down::before {
    transform: skewY(0);
    transform-origin: 0 0;
    top: 0
}

.btn-naira-down .btn-icon {
    top: -150%
}

.btn-naira-down:hover::before {
    transform: skewY(10deg);
    top: 100%
}

.btn-naira-down:hover .btn-text {
    transform: translateY(200%)
}

.btn-naira-down.btn-outline::before {
    transform: skewY(-10deg);
    transform-origin: 0 0;
    top: auto;
    bottom: 100%
}

.btn-naira-down.btn-outline:hover::before {
    transform: skewY(0);
    bottom: 0
}

.btn-primary.btn-naira-up,.btn-primary.btn-naira-down {
    border-color: #31c77f;
    color: #fff
}

.btn-primary.btn-naira-up::before,.btn-primary.btn-naira-down::before {
    background-color: #31c77f
}

.btn-primary.btn-naira-up .btn-icon,.btn-primary.btn-naira-down .btn-icon {
    color: #31c77f
}

.btn-primary.btn-naira-up.btn-outline,.btn-primary.btn-naira-down.btn-outline {
    color: #31c77f
}

.btn-primary.btn-naira-up.btn-outline .btn-icon,.btn-primary.btn-naira-down.btn-outline .btn-icon {
    color: #fff
}

.btn-secondary.btn-naira-up,.btn-secondary.btn-naira-down {
    border-color: #6b39bd;
    color: #fff
}

.btn-secondary.btn-naira-up::before,.btn-secondary.btn-naira-down::before {
    background-color: #6b39bd
}

.btn-secondary.btn-naira-up .btn-icon,.btn-secondary.btn-naira-down .btn-icon {
    color: #6b39bd
}

.btn-secondary.btn-naira-up.btn-outline,.btn-secondary.btn-naira-down.btn-outline {
    color: #6b39bd
}

.btn-secondary.btn-naira-up.btn-outline .btn-icon,.btn-secondary.btn-naira-down.btn-outline .btn-icon {
    color: #fff
}

.btn-success.btn-naira-up,.btn-success.btn-naira-down {
    border-color: #77ba21;
    color: #fff
}

.btn-success.btn-naira-up::before,.btn-success.btn-naira-down::before {
    background-color: #77ba21
}

.btn-success.btn-naira-up .btn-icon,.btn-success.btn-naira-down .btn-icon {
    color: #77ba21
}

.btn-success.btn-naira-up.btn-outline,.btn-success.btn-naira-down.btn-outline {
    color: #77ba21
}

.btn-success.btn-naira-up.btn-outline .btn-icon,.btn-success.btn-naira-down.btn-outline .btn-icon {
    color: #fff
}

.btn-info.btn-naira-up,.btn-info.btn-naira-down {
    border-color: #138ce4;
    color: #fff
}

.btn-info.btn-naira-up::before,.btn-info.btn-naira-down::before {
    background-color: #138ce4
}

.btn-info.btn-naira-up .btn-icon,.btn-info.btn-naira-down .btn-icon {
    color: #138ce4
}

.btn-info.btn-naira-up.btn-outline,.btn-info.btn-naira-down.btn-outline {
    color: #138ce4
}

.btn-info.btn-naira-up.btn-outline .btn-icon,.btn-info.btn-naira-down.btn-outline .btn-icon {
    color: #fff
}

.btn-warning.btn-naira-up,.btn-warning.btn-naira-down {
    border-color: #f19711;
    color: #fff
}

.btn-warning.btn-naira-up::before,.btn-warning.btn-naira-down::before {
    background-color: #f19711
}

.btn-warning.btn-naira-up .btn-icon,.btn-warning.btn-naira-down .btn-icon {
    color: #f19711
}

.btn-warning.btn-naira-up.btn-outline,.btn-warning.btn-naira-down.btn-outline {
    color: #f19711
}

.btn-warning.btn-naira-up.btn-outline .btn-icon,.btn-warning.btn-naira-down.btn-outline .btn-icon {
    color: #fff
}

.btn-danger.btn-naira-up,.btn-danger.btn-naira-down {
    border-color: #e72660;
    color: #fff
}

.btn-danger.btn-naira-up::before,.btn-danger.btn-naira-down::before {
    background-color: #e72660
}

.btn-danger.btn-naira-up .btn-icon,.btn-danger.btn-naira-down .btn-icon {
    color: #e72660
}

.btn-danger.btn-naira-up.btn-outline,.btn-danger.btn-naira-down.btn-outline {
    color: #e72660
}

.btn-danger.btn-naira-up.btn-outline .btn-icon,.btn-danger.btn-naira-down.btn-outline .btn-icon {
    color: #fff
}

.btn-light.btn-naira-up,.btn-light.btn-naira-down {
    border-color: #f7f7f7;
    color: #171724
}

.btn-light.btn-naira-up::before,.btn-light.btn-naira-down::before {
    background-color: #f7f7f7
}

.btn-light.btn-naira-up .btn-icon,.btn-light.btn-naira-down .btn-icon {
    color: #f7f7f7
}

.btn-light.btn-naira-up.btn-outline,.btn-light.btn-naira-down.btn-outline {
    color: #f7f7f7
}

.btn-light.btn-naira-up.btn-outline .btn-icon,.btn-light.btn-naira-down.btn-outline .btn-icon {
    color: #171724
}

.btn-dark.btn-naira-up,.btn-dark.btn-naira-down {
    border-color: #171724;
    color: #fff
}

.btn-dark.btn-naira-up::before,.btn-dark.btn-naira-down::before {
    background-color: #171724
}

.btn-dark.btn-naira-up .btn-icon,.btn-dark.btn-naira-down .btn-icon {
    color: #171724
}

.btn-dark.btn-naira-up.btn-outline,.btn-dark.btn-naira-down.btn-outline {
    color: #171724
}

.btn-dark.btn-naira-up.btn-outline .btn-icon,.btn-dark.btn-naira-down.btn-outline .btn-icon {
    color: #fff
}

.btn-polat-up,.btn-polat-left {
    position: relative;
    overflow: hidden
}

.btn-polat-up .btn-text,.btn-polat-left .btn-text {
    display: block;
    width: 100%;
    height: 100%;
    transition: .3s
}

.btn-polat-up .btn-icon,.btn-polat-left .btn-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: left,top;
    transition-duration: .3s
}

.btn-polat-up .btn-icon:before,.btn-polat-left .btn-icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.btn-polat-up .btn-icon {
    left: 0;
    top: -100%
}

.btn-polat-up:hover .btn-icon {
    top: 0
}

.btn-polat-up:hover .btn-text {
    transform: translateY(300%)
}

.btn-polat-left .btn-icon {
    top: 0;
    left: -100%
}

.btn-polat-left:hover .btn-icon {
    left: 0
}

.btn-polat-left:hover .btn-text {
    transform: translateX(200%)
}
