.quote-simple {
    padding: 25px 15px;
    background-color: #f7f7f7;
    border-radius: .375rem
}

.quote-simple q:before,.quote-simple q:after {
    content: none
}

.quote-simple cite {
    font-style: normal
}

.quote-simple-icon {
    color: #171724;
    font-size: 1.5rem;
    line-height: 1
}

.quote-simple-author {
    color: #31c77f
}

*+.quote-simple {
    margin-top: 1.875rem
}

*+.quote-simple-text {
    margin-top: .75rem
}

*+.quote-simple-author {
    margin-top: .5625rem
}

.quote-simple-shadow {
    background-color: #fff;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1)
}

@media(min-width: 992px) {
    .quote-simple {
        padding:6% 7% 5%
    }

    *+.quote-simple {
        margin-top: 3.6875rem
    }

    *+.quote-simple-text {
        margin-top: 1.8125rem
    }
}
