.comment>.comment {
    margin-top: 35px
}

.comment+.comment {
    margin-top: 35px
}

.comment-image {
    max-width: 60px;
    border-radius: 50%
}

.comment-icon {
    text-align: center;
    height: 60px;
    width: 60px;
    font-size: 18px;
    line-height: 60px;
    border-radius: 50%;
    color: #171724;
    background-color: #f7f7f7
}

.comment-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.0625rem;
    margin-bottom: -15px;
    margin-left: -30px
}

.comment-panel:empty {
    margin-bottom: 0;
    margin-left: 0
}

.comment-panel>* {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 30px
}

.comment-link {
    font-weight: 500
}

*+.comment-text {
    margin-top: 22px
}

*+.comment-rating {
    margin-top: 10px
}

*+.comment-panel {
    margin-top: 1rem
}

.btn+.comment {
    margin-top: 2.5rem
}

.comment-cloud>.comment-cloud .comment-text {
    border-color: transparent;
    background-color: #f7f7f7
}

.comment-cloud .comment-text {
    position: relative;
    padding: 4% 5%;
    border-radius: .375rem;
    border: 1px solid #e8e8e9;
    background-color: #fff;
    z-index: 1
}

.comment-cloud .comment-text::before {
    position: absolute;
    content: '';
    top: 8%;
    left: -1px;
    width: 2.7%;
    padding-bottom: 2.5%;
    background: inherit;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: inherit;
    transform-origin: 50% 0;
    transform: translateX(-100%) skewX(45deg);
    z-index: -1
}

.comment-bordered>.comment-bordered {
    border-top: 1px solid #e8e8e9;
    padding-top: 35px
}

.comment-bordered+.comment-bordered {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid #e8e8e9
}

@media(min-width: 576px) {
    .comment>.comment {
        margin-left:30px
    }

    .comment-meta {
        display: flex;
        flex-wrap: wrap;
        align-items: center
    }

    .comment-meta-item:not(:last-child) {
        padding-right: 16px
    }

    .comment-meta-item:not(:last-child)::after {
        content: '\2022';
        font-size: 1.3125rem;
        line-height: 1;
        color: #e8e8e9;
        margin-left: 16px
    }
}

@media(min-width: 768px) {
    .comment>.comment {
        margin-left:90px
    }

    .comment+.comment {
        margin-top: 55px
    }

    .comment-bordered+.comment-bordered {
        margin-top: 65px;
        padding-top: 65px
    }

    .btn+.comment {
        margin-top: 3.375rem
    }
}
