.accordion-header {
    position: relative;
    display: block;
    padding: 11px 15px 11px 2.1em;
    font-size: 1.1em;
    font-weight: 400;
    color: #171724;
    transition: all .2s ease-in-out
}

.accordion-header:before {
    position: absolute;
    left: .75em;
    font-family: intense icons;
    line-height: inherit;
    content: '\e909';
    will-change: transform;
    transform: scale(.7);
    transition: transform .25s
}

.accordion-body {
    padding: 11px 15px
}

.accordion-item.active .accordion-header:before {
    transform: scale(.7) rotate(90deg)
}

*+.accordion {
    margin-top: 30px
}

.context-dark .accordion-header {
    color: #fff
}

.context-dark .accordion-header:hover {
    color: rgba(255,255,255,.7)
}

@media(min-width: 1200px) {
    .accordion-header {
        font-size:1.5rem;
        line-height: 1.54
    }
}

@media(min-width: 1600px) {
    *+.accordion {
        margin-top:70px
    }
}

.accrordion-bootstrap .accordion-item {
    border: 1px solid #e8e8e9;
    border-radius: .375rem
}

.accrordion-bootstrap .accordion-item:not(:first-of-type) .card-header:first-child {
    border-radius: 0
}

.accrordion-bootstrap .accordion-item:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0
}

.accrordion-bootstrap .accordion-item:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.accrordion-bootstrap .accordion-item:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.accrordion-bootstrap .accordion-header:hover {
    background-color: rgba(232,232,233,.5)
}

.accrordion-bootstrap .accordion-body {
    padding: 30px 15px;
    box-shadow: inset 0 0 0 2px #e8e8e9
}

.accrordion-bootstrap .accordion-item.active .accordion-header {
    background-color: #e8e8e9
}

.context-dark .accrordion-bootstrap .accordion-header:hover {
    background-color: rgba(232,232,233,.1)
}

.context-dark .accrordion-bootstrap .accordion-item.active .accordion-header {
    background-color: rgba(232,232,233,.2)
}

@media(min-width: 768px) {
    .accrordion-bootstrap .accordion-body {
        padding:40px 20px
    }
}

@media(min-width: 1600px) {
    .accrordion-bootstrap .accordion-body {
        padding:63px 109px 106px
    }
}

.accordion-boxed .accordion-item {
    border: 1px solid #e8e8e9;
    border-radius: .375rem;
    transition: all .2s ease-in-out
}

.accordion-boxed .accordion-item.active,.accordion-boxed .accordion-item:hover {
    box-shadow: inset 0 0 0 2px #e8e8e9
}

.accordion-boxed .accordion-item+.accordion-item {
    margin-top: 20px
}

@media(min-width: 768px) {
    .accordion-body {
        padding:20px
    }
}

@media(min-width: 1600px) {
    .accordion-body {
        padding:63px 109px 106px
    }
}

.accordion-classic .accordion-item:not(:first-child) {
    border-top: 1px solid #e8e8e9
}

.accordion-classic .accordion-header {
    padding: 22px 15px 22px 1.125em;
    font-size: 1.3125rem;
    line-height: 1.54
}

.accordion-classic .accordion-header:before {
    top: 22px;
    left: -.15em
}

.accordion-classic .accordion-body {
    padding-bottom: 22px;
    padding-left: 0
}

.accordion-classic .accordion-item:first-child .accordion-header {
    padding-top: 0
}

.accordion-classic .accordion-item:first-child .accordion-header:before {
    top: -1px
}

.accordion-classic .accordion-item:last-child .accordion-header {
    padding-bottom: 0
}

.accordion-classic .accordion-item:last-child .accordion-body {
    padding-top: 22px;
    padding-bottom: 0
}

@media(min-width: 1600px) {
    .accordion-classic .accordion-header {
        padding-top:41px;
        padding-bottom: 41px
    }

    .accordion-classic .accordion-body {
        padding: 0 0 41px;
        margin-top: -15px
    }

    .accordion-classic .accordion-item:first-child .accordion-header:before {
        top: -1px
    }

    .accordion-classic .accordion-item:last-child .accordion-body {
        padding-top: 41px
    }

    .accordion-classic .accordion-item .accordion-header:before {
        top: 39px
    }
}

.accordion-small .accordion-header {
    padding: 19px 10px 15px 40px;
    font-size: 1.3125rem
}

.accordion-small .accordion-header:before {
    top: 18px
}

.accordion-small .accordion-body {
    padding: 0 15px 24px 40px;
    font-size: 1.0625rem
}

@media(min-width: 992px) {
    .accordion-small .accordion-header {
        padding-left:54px
    }

    .accordion-small .accordion-body {
        padding-left: 54px
    }
}
