.thumbnail-scaleup {
    position: relative;
    display: inline-block;
    max-width: 400px;
    text-align: left
}

.thumbnail-scaleup-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: -10px;
    margin-left: -10px
}

.thumbnail-scaleup-caption:empty {
    margin-bottom: 0;
    margin-left: 0
}

.thumbnail-scaleup-caption>* {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px
}

.thumbnail-scaleup-title {
    color: inherit
}

.thumbnail-scaleup-description {
    font-size: 1.0625rem
}

.thumbnail-scaleup-btn {
    flex-shrink: 0
}

@media(min-width: 576px) {
    .thumbnail-scaleup {
        max-width:100%
    }
}

@media(min-width: 992px) {
    .thumbnail-scaleup-caption {
        flex-wrap:nowrap
    }

    .thumbnail-scaleup-content {
        width: 100%;
        overflow: hidden
    }

    .thumbnail-scaleup-title,.thumbnail-scaleup-description {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    .desktop .thumbnail-scaleup img {
        position: relative;
        z-index: 1;
        transform: translateY(0) scale(1);
        transition: transform .4s
    }

    .desktop .thumbnail-scaleup-caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 15px 30px
    }

    .desktop .thumbnail-scaleup:hover img {
        transform: translateY(-50px) scale(.6)
    }
}

@media(min-width: 1200px) {
    *+.thumbnail-scaleup-description {
        margin-top:11px
    }
}

@media(min-width: 1600px) {
    .thumbnail-scaleup-caption {
        position:absolute;
        padding: 10px 40px 40px
    }
}
