.screen-reader-text,
.u-screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.toUppercase {
  text-transform: uppercase;
}

figure {
  max-width: 100%;
} 