.navigation.pagination {
    
    
    .nav-links {
        margin: 0 auto;
        

        a,
        .dots,
        .current {
            display: inline-block;
            font-size: 110%;
            font-weight: 400;
            color: #171724;
            vertical-align: middle;
            transform-origin: 50% 70%;
            margin-left: 25px;
        }


        .current {
            color: #31c77f;
            transform: scale(1.4);

        }

        .prev,
        .next {
            // 
            // speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            
        }

        .prev {

            &::before {
                font-family: intense icons;
                content: '\e900';
                margin-right: 10px;
                vertical-align: middle;
            }
        }
        .next {
            &::after {
                font-family: intense icons;
                content: '\e901';
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
}