.widget {
     

    .widget-title {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
}

.widget_recent_comments ul li 
{
    & + li {
        margin-top: 20px;
    }
    display: inline-block;
    max-width: 400px;

    span {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.0625rem;
        line-height: 1;
        margin-bottom: 10px;
        
        

        &::before {
            font-family: intense icons;
            content: '\e91d';
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            margin-right: 10px;
            vertical-align: text-bottom;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        a {
            
            font-size: .93188rem;
        }
    }

    a {
        color: #171724;
        font-size: 1.5rem;
        line-height: 1.54;

        &:hover {
            color: #31c77f;
        }
    }
    
}

.widget_recent_entries ul li 
{
    & + li {
        margin-top: 20px;
    }
    display: inline-block;
    max-width: 400px;

    a {
        color: #171724;
        font-size: 1.5rem;
        line-height: 1.54;

        &:hover {
            color: #31c77f;
        }
    }

    span {
        display: block;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.0625rem;
        line-height: 1;
        margin-bottom: -8px;
        margin-top: 10px;

        &:hover {
            color: #31c77f
        }

        &::before {
            font-family: intense icons;
            content: '\e90b';
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            margin-right: 10px;
            vertical-align: text-bottom;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    
}


.widget_meta,
.widget_categories,
.widget_archive {
    ul {
        font-size: 1.0625rem;

        li {
            position: relative;
            max-width: 280px;
            display: flex;
            justify-content: space-between;
            color: #5d5d66;
            

            a {
                color: #5d5d66;
                font-size: 1rem;
                font-weight: 500;
            }

            &+li {
                padding-top: 10px;
                margin-top: 10px;
                border-top: 1px solid #dde2ea;
            }
        }
    }
}

.tagcloud {
    margin-bottom: -4px;
    margin-left: -4px;


    
    a {
        margin-top: 0;
        margin-bottom: 4px;
        margin-left: 4px;
        
        display: inline-block;
        padding: 10px 9px;
        font-size: 1.0625rem !important;
        line-height: 1;
        font-weight: 400;
        border-radius: .375rem;
        color: #5d5d66;
        background-color: #f7f7f7;
        border: 1px solid #f7f7f7;
        transition: all .2s ease-in-out;
        box-shadow: none;
    }
}