body {
  font-family: "Graphik Web", sans-serif !important;
}
@font-face {
  font-family: "Graphik Web";
  src: url(/wp-content/themes/gcskp/dist/assets/fonts/Graphik-Regular-Web.woff2) format("woff2"), url(/wp-content/themes/gcskp/dist/assets/fonts/Graphik-Regular-Web.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.Graphik-Bold-Web {
  font-family: "Graphik Web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url(/wp-content/themes/gcskp/dist/assets/fonts/Graphik-Medium-Web.woff2) format("woff2"), url(/wp-content/themes/gcskp/dist/assets/fonts/Graphik-Medium-Web.woff) format("woff");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

.Graphik-Bold-Web {
  font-family: "Graphik Web", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url(/wp-content/themes/gcskp/dist/assets/fonts/Graphik-RegularItalic-Web.woff2) format("woff2"), url(/wp-content/themes/gcskp/dist/assets/fonts/Graphik-RegularItalic-Web.woff) format("woff");
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

.Graphik-BoldItalic-Web {
  font-family: "Graphik Web", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url(/wp-content/themes/gcskp/dist/assets/fonts/Graphik-MediumItalic-Web.woff2) format("woff2"), url(/wp-content/themes/gcskp/dist/assets/fonts/Graphik-MediumItalic-Web.woff) format("woff");
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

.Graphik-BoldItalic-Web {
  font-family: "Graphik Web", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}
