.post-meta-link-primary a {
  color: #31c77f;
}

.post-meta-link a {
  font-weight: 500;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.post-tags a {
    color: inherit;
    vertical-align: middle;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;

    a:hover,
    a:focus {
        color: inherit;
        border-color: rgba(107, 57, 189, 0.4);
    }
}



.single-post-tag a {
    display: inline-block;
    padding: 10px 9px;
    font-size: 1.0625rem;
    line-height: 1;
    font-weight: 400;
    border-radius: .375rem;
    color: #5d5d66;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    transition: all .2s ease-in-out;
    box-shadow: none;

    &:hover {
        background-color: #fff;
        color: #5d5d66;
        border-color: #e8e8e9;
    }
}

.post-meta-item {
    .category a {
        color: #31c77f;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:focus {
            color: #6b39bd;
        }
    }
    .category-single a {
        color: #fff;
        display: inline-block;
        padding: 4px 6px;
        // padding: 11px 19px;
        border-radius: 0.375rem;
        background-color: #31c77f;
        font-weight: 500;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            background-color: #6b39bd;
        }
    }

}

.comment-text,
.post-title a,
.post-text ,
.blog-article h2,
.blog-article h6 {
    word-break: break-word;
}