.checkbox-tag input {
    display: none
}

.checkbox-tag-label {
    min-width: 6.5625rem;
    padding: .5rem .9375rem;
    font-size: 1.0625rem;
    font-weight: 400;
    text-align: center;
    border: 1px solid #e8e8e9;
    border-radius: .375rem;
    transition: all 0.2s ease-in-out
}

.checkbox-tag:hover .checkbox-tag-label {
    box-shadow: 5px 8px 28px rgba(23,23,36,0.1);
    border-color: transparent
}

.checkbox-tag-input:checked ~ .checkbox-tag-label {
    color: #fff;
    background-color: #6b39bd;
    border-color: #6b39bd
}

.checkbox-tag-input:disabled ~ .checkbox-tag-label {
    color: rgba(93,93,102,0.3);
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    pointer-events: none
}
