.product {
    text-align: center;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.0625rem
}

.product-figure {
    position: relative
}

.product-image {
    width: 100%
}

.product-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0) scale(.5);
    opacity: 0;
    transition: .3s
}

.product-price *+* {
    margin-left: 10px
}

.product-badge {
    position: absolute;
    top: 10px;
    left: 10px
}

*+.product-title {
    margin-top: 18px
}

*+.product-price {
    margin-top: 6px
}

*+.product-text {
    margin-top: 1.5rem
}

.product-rating+.product-title {
    margin-top: 1.75rem
}

.product-horizontal {
    text-align: left;
    padding-bottom: 1px
}

.product-horizontal .product-figure {
    display: inline-block
}

.product-horizontal .product-image {
    max-width: 180px
}

.desktop .product:hover .product-link {
    transform: translate3d(-50%,-50%,0);
    opacity: 1
}

@media(max-width: 479.98px) {
    .product-title {
        font-size:15px
    }
}

@media(min-width: 480px) {
    .product-horizontal {
        max-width:none
    }
}

@media(min-width: 768px) {
    .product-horizontal {
        max-width:850px;
        margin-left: 0;
        margin-right: 0
    }

    .product-horizontal .product-image {
        max-width: 100%
    }
}
