.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .375rem
}

.alert-heading {
    color: inherit
}

.alert-link {
    font-weight: 700
}

.alert-dismissible {
    padding-right: 4.46875rem
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit
}

.alert-primary {
    color: #196742;
    background-color: #d6f4e5;
    border-color: #c5efdb
}

.alert-primary hr {
    border-top-color: #b1e9cf
}

.alert-primary .alert-link {
    color: #0f3e28
}

.alert-secondary {
    color: #381e62;
    background-color: #e1d7f2;
    border-color: #d6c8ed
}

.alert-secondary hr {
    border-top-color: #c8b5e7
}

.alert-secondary .alert-link {
    color: #22123b
}

.alert-success {
    color: #3e6111;
    background-color: #e4f1d3;
    border-color: #d9ecc1
}

.alert-success hr {
    border-top-color: #cde6ad
}

.alert-success .alert-link {
    color: #223609
}

.alert-info {
    color: #0a4977;
    background-color: #d0e8fa;
    border-color: #bddff7
}

.alert-info hr {
    border-top-color: #a6d4f4
}

.alert-info .alert-link {
    color: #062c48
}

.alert-warning {
    color: #7d4f09;
    background-color: #fceacf;
    border-color: #fbe2bc
}

.alert-warning hr {
    border-top-color: #fad8a4
}

.alert-warning .alert-link {
    color: #4d3106
}

.alert-danger {
    color: #781432;
    background-color: #fad4df;
    border-color: #f8c2d2
}

.alert-danger hr {
    border-top-color: #f5abc1
}

.alert-danger .alert-link {
    color: #4c0d20
}

.alert-light {
    color: gray;
    background-color: #fdfdfd;
    border-color: #fdfdfd
}

.alert-light hr {
    border-top-color: #f0f0f0
}

.alert-light .alert-link {
    color: #676767
}

.alert-dark {
    color: #0c0c13;
    background-color: #d1d1d3;
    border-color: #bebec2
}

.alert-dark hr {
    border-top-color: #b1b1b6
}

.alert-dark .alert-link {
    color: #000
}

*+.blog-divider {
    margin-top: 1.5625rem
}

.blog-divider .blog-divider-item+.blog-divider-item {
    margin-top: 2.1875rem;
    padding-top: 2.1875rem;
    border-top: 1px solid #e8e8e9
}

@media (min-width: 1600px) {
    .blog-divider .blog-divider-item+.blog-divider-item {
        margin-top:5.0625rem;
        padding-top: 4.25rem
    }

    .blog-divider-md .blog-divider-item+.blog-divider-item {
        margin-top: 4.375rem;
        padding-top: 4.375rem
    }

    *+.blog-divider {
        margin-top: 4.25rem
    }
}
