.checkbox-color input {
    display: none
}

.checkbox-color-label {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    font-size: .7875rem;
    color: #171724;
    border-radius: 50%;
    transition: all .2s ease-in-out
}

.checkbox-color-label::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    border: 1px solid #e8e8e9;
    border-radius: inherit;
    transition: inherit
}

.checkbox-color-content {
    opacity: 0;
    transition: inherit
}

.checkbox-color-input:checked~.checkbox-color-label:before {
    transform: scale(.7)
}

.checkbox-color-input:checked~.checkbox-color-label .checkbox-color-content {
    opacity: 1
}

.checkbox-color-primary .checkbox-color-label {
    color: #fff
}

.checkbox-color-primary .checkbox-color-label::before {
    background-color: #83ddb2;
    border-color: transparent
}

.checkbox-color-secondary .checkbox-color-label {
    color: #fff
}

.checkbox-color-secondary .checkbox-color-label::before {
    background-color: #a688d7;
    border-color: transparent
}

.checkbox-color-success .checkbox-color-label {
    color: #fff
}

.checkbox-color-success .checkbox-color-label::before {
    background-color: #add67a;
    border-color: transparent
}

.checkbox-color-info .checkbox-color-label {
    color: #fff
}

.checkbox-color-info .checkbox-color-label::before {
    background-color: #71baef;
    border-color: transparent
}

.checkbox-color-warning .checkbox-color-label {
    color: #fff
}

.checkbox-color-warning .checkbox-color-label::before {
    background-color: #f7c170;
    border-color: transparent
}

.checkbox-color-danger .checkbox-color-label {
    color: #fff
}

.checkbox-color-danger .checkbox-color-label::before {
    background-color: #f17da0;
    border-color: transparent
}

.checkbox-color-light .checkbox-color-label {
    color: #171724
}

.checkbox-color-light .checkbox-color-label::before {
    background-color: #fafafa;
    border-color: transparent
}

.checkbox-color-dark .checkbox-color-label {
    color: #fff
}

.checkbox-color-dark .checkbox-color-label::before {
    background-color: #74747c;
    border-color: transparent
}
