.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 0 solid transparent;
    border-radius: .375rem
}

.alert-heading {
    color: inherit
}

.alert-link {
    font-weight: 700
}

.alert-dismissible {
    padding-right: 4.46875rem
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit
}

.alert-primary {
    color: #196742;
    background-color: #d6f4e5;
    border-color: #c5efdb
}

.alert-primary hr {
    border-top-color: #b1e9cf
}

.alert-primary .alert-link {
    color: #0f3e28
}

.alert-secondary {
    color: #381e62;
    background-color: #e1d7f2;
    border-color: #d6c8ed
}

.alert-secondary hr {
    border-top-color: #c8b5e7
}

.alert-secondary .alert-link {
    color: #22123b
}

.alert-success {
    color: #3e6111;
    background-color: #e4f1d3;
    border-color: #d9ecc1
}

.alert-success hr {
    border-top-color: #cde6ad
}

.alert-success .alert-link {
    color: #223609
}

.alert-info {
    color: #0a4977;
    background-color: #d0e8fa;
    border-color: #bddff7
}

.alert-info hr {
    border-top-color: #a6d4f4
}

.alert-info .alert-link {
    color: #062c48
}

.alert-warning {
    color: #7d4f09;
    background-color: #fceacf;
    border-color: #fbe2bc
}

.alert-warning hr {
    border-top-color: #fad8a4
}

.alert-warning .alert-link {
    color: #4d3106
}

.alert-danger {
    color: #781432;
    background-color: #fad4df;
    border-color: #f8c2d2
}

.alert-danger hr {
    border-top-color: #f5abc1
}

.alert-danger .alert-link {
    color: #4c0d20
}

.alert-light {
    color: gray;
    background-color: #fdfdfd;
    border-color: #fdfdfd
}

.alert-light hr {
    border-top-color: #f0f0f0
}

.alert-light .alert-link {
    color: #676767
}

.alert-dark {
    color: #0c0c13;
    background-color: #d1d1d3;
    border-color: #bebec2
}

.alert-dark hr {
    border-top-color: #b1b1b6
}

.alert-dark .alert-link {
    color: #000
}

.alert {
    margin-bottom: 0;
    padding: 20px 15px;
    font-size: 1.0625rem;
    color: #5d5d66;
    border-left: 10px solid
}

.alert-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
    margin-left: -10px
}

.alert-inner:empty {
    margin-bottom: 0;
    margin-left: 0
}

.alert-inner>* {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px
}

.alert-icon {
    margin-right: .7em;
    font-size: .7em
}

.alert-inner-controls {
    margin-bottom: -15px;
    margin-left: -27px
}

.alert-inner-controls:empty {
    margin-bottom: 0;
    margin-left: 0
}

.alert-inner-controls>* {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 27px
}

.alert-primary {
    border-left-color: #31c77f
}

.alert-primary .alert-title {
    color: #31c77f
}

.alert-secondary {
    border-left-color: #6b39bd
}

.alert-secondary .alert-title {
    color: #6b39bd
}

.alert-success {
    border-left-color: #77ba21
}

.alert-success .alert-title {
    color: #77ba21
}

.alert-info {
    border-left-color: #138ce4
}

.alert-info .alert-title {
    color: #138ce4
}

.alert-warning {
    border-left-color: #f19711
}

.alert-warning .alert-title {
    color: #f19711
}

.alert-danger {
    border-left-color: #e72660
}

.alert-danger .alert-title {
    color: #e72660
}

.alert-light {
    border-left-color: #f7f7f7
}

.alert-light .alert-title {
    color: #f7f7f7
}

.alert-dark {
    border-left-color: #171724
}

.alert-dark .alert-title {
    color: #171724
}

*+.alert-text {
    margin-top: 6px
}

.alert+.alert {
    margin-top: 30px
}

@media (min-width: 992px) {
    .alert {
        padding:12px 29px 22px 20px
    }
}
