.award {
    padding: 14%;
    border: 1px solid #e8e8e9;
    border-radius: 6px
}

*+.award-text {
    margin-top: 8px
}

.context-dark .award {
    border-color: transparent;
    background-color: rgba(255,255,255,0.09)
}

.award.award-primary {
    color: #fff;
    background-color: #31c77f;
    border-color: transparent
}

.award.award-primary .award-title {
    color: inherit
}

.award.award-secondary {
    color: #fff;
    background-color: #6b39bd;
    border-color: transparent
}

.award.award-secondary .award-title {
    color: inherit
}

.award.award-success {
    color: #fff;
    background-color: #77ba21;
    border-color: transparent
}

.award.award-success .award-title {
    color: inherit
}

.award.award-info {
    color: #fff;
    background-color: #138ce4;
    border-color: transparent
}

.award.award-info .award-title {
    color: inherit
}

.award.award-warning {
    color: #fff;
    background-color: #f19711;
    border-color: transparent
}

.award.award-warning .award-title {
    color: inherit
}

.award.award-danger {
    color: #fff;
    background-color: #e72660;
    border-color: transparent
}

.award.award-danger .award-title {
    color: inherit
}

.award.award-light {
    color: #171724;
    background-color: #f7f7f7;
    border-color: transparent
}

.award.award-light .award-title {
    color: inherit
}

.award.award-dark {
    color: #fff;
    background-color: #171724;
    border-color: transparent
}

.award.award-dark .award-title {
    color: inherit
}
