.post-share {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.post-share-title,.post-share-icon {
    margin: 5px 11px;
    vertical-align: middle
}

.post-share-title {
    font-size: .93188rem
}

.post-share-icon {
    font-size: 1.5rem;
    color: #171724
}

.post-share-icon:hover,.post-share-icon:focus {
    color: #6b39bd
}

.post-share {
    margin-top: 20px
}

@media(min-width: 1600px) {
    html:not([data-x-mode]) .post-share {
        position:fixed;
        top: 26vh;
        left: 30px;
        z-index: 1;
        flex-direction: column;
        margin-top: 0;
        padding: 0 0 8px;
        background-color: #fff;
        border-radius: .875rem;
        box-shadow: 5px 8px 28px rgba(23,23,36,.1)
    }

    html:not([data-x-mode]) .post-share-1 {
        left: auto;
        right: 30px
    }

    html:not([data-x-mode]) .post-share-2 {
        top: 31vh;
        left: auto;
        right: calc( 50% - 1320px/2 + 2.5rem/2)
    }

    html:not([data-x-mode]) .post-share-title,html:not([data-x-mode]) .post-share-icon {
        margin: 13px 11px
    }
}
