.product-overview-price>*+* {
    margin-left: 14px
}

.product-overview-rating {
    display: flex;
    align-items: center
}

.product-overview-review {
    font-size: 1.0625rem;
    font-weight: 400
}

.product-overview-quality {
    display: flex;
    align-items: flex-end
}

*+.product-overview-name {
    margin-top: 1.75rem
}

*+.product-overview-price {
    margin-top: 10px
}

*+.product-overview-rating {
    margin-top: 1.25rem
}

*+.product-overview-item {
    margin-top: 2.5rem
}

*+.product-overview-description {
    margin-top: 2.5rem
}

.product-overview-title+* {
    margin-top: 10px
}

@media (max-width: 575.98px) {
    .product-overview-gallery {
        display:flex;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .product-overview-gallery>[class*='col-'] {
        max-width: 37%;
        flex: 0 0 37%;
        padding: 0
    }

    .product-overview-gallery>[class*='col-']+[class*='col-'] {
        margin-left: 20px
    }
}

@media (min-width: 768px) {
    *+.product-overview-item {
        margin-top:3.125rem
    }

    *+.product-overview-description {
        margin-top: 3.125rem
    }
}

@media (min-width: 1200px) {
    *+.product-overview-description {
        margin-top:4.375rem
    }
}
