.parallax {
    position: relative;
    overflow: hidden
}

.parallax-layer {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center
}
