.countdown {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 -15px;
    line-height: 1.2
}

.countdown-block {
    padding: 0 15px
}

.countdown-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.countdown-block-seconds {
    display: none
}

@media (min-width: 576px) {
    .countdown-block-seconds {
        display:block
    }
}

.countdown-boxed {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    line-height: 1.2;
    text-align: center
}

.countdown-boxed .countdown-block {
    padding: 0 10px
}

.countdown-boxed .countdown-wrap {
    border-radius: .375rem;
    box-shadow: 5px 8px 28px rgba(23,23,36,0.1)
}

.countdown-boxed .countdown-counter {
    min-width: 80px;
    padding: 15px 10px;
    font-size: 32.4px;
    line-height: 1;
    color: #fff;
    background-color: #6b39bd;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit
}

.countdown-boxed .countdown-title {
    padding: 5px;
    font-size: 1.0625rem;
    font-weight: 400;
    color: #171724;
    text-transform: uppercase;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit
}

*+.countdown-boxed {
    margin-top: 25px
}

@media (min-width: 768px) {
    .countdown-boxed .countdown-counter {
        min-width:100px;
        font-size: 32.4px
    }

    .countdown-boxed .countdown-title {
        padding: 10px 5px
    }
}

@media (min-width: 992px) {
    *+.countdown-boxed {
        margin-top:35px
    }
}

@media (min-width: 1600px) {
    .countdown-boxed .countdown-counter {
        min-width:120px;
        padding: 18px 10px;
        font-size: 54px
    }

    *+.countdown-boxed {
        margin-top: 58px
    }
}

.countdown-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    margin: 0 -15px;
    line-height: 1.2
}

.countdown-inline .countdown-block {
    padding: 0 10px
}

.countdown-inline .countdown-wrap {
    display: block
}

.countdown-inline .countdown-counter {
    padding-right: 5px;
    font-weight: 400;
    color: #171724
}

.countdown-inline .countdown-title {
    text-transform: capitalize;
    font-weight: 300;
    color: #5d5d66
}

.countdown-inline .countdown-meta {
    width: 100%;
    padding-bottom: 5px
}

.countdown-inline *+.countdown-title {
    margin-top: 3px
}

*+.countdown-inline {
    margin-top: 20px
}

@media (min-width: 768px) {
    .countdown-inline {
        flex-wrap:nowrap
    }

    .countdown-inline .countdown-meta {
        width: auto;
        padding-right: 20px;
        padding-bottom: 0
    }
}

@media (min-width: 992px) {
    *+.countdown-inline {
        margin-top:35px
    }
}

@media (min-width: 1600px) {
    .countdown-inline .countdown-meta {
        padding-right:26px
    }

    *+.countdown-inline {
        margin-top: 52px
    }
}

.countdown-rounded {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    line-height: 1.2;
    text-align: center
}

.countdown-rounded .countdown-block {
    padding: 0 7px
}

.countdown-rounded .countdown-wrap {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 8px 28px rgba(23,23,36,0.1)
}

.countdown-rounded .countdown-title {
    font-size: 1.0625rem;
    text-transform: capitalize
}

*+.countdown-rounded {
    margin-top: 25px
}

@media (min-width: 768px) {
    .countdown-rounded .countdown-wrap {
        width:100px;
        height: 100px
    }

    .countdown-rounded .countdown-block {
        padding: 0 15px
    }
}

@media (min-width: 992px) {
    .countdown-rounded .countdown-wrap {
        width:130px;
        height: 130px
    }

    *+.countdown-rounded {
        margin-top: 35px
    }
}

@media (min-width: 1600px) {
    .countdown-rounded *+.countdown-title {
        margin-top:-4px
    }

    *+.countdown-rounded {
        margin-top: 58px
    }
}

.countdown-simple {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    line-height: 1.2;
    text-align: center
}

.countdown-simple .countdown-block {
    padding: 0 15px
}

.countdown-simple .countdown-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.countdown-simple .countdown-title {
    font-size: 81%;
    text-transform: capitalize
}

.countdown-simple *+.countdown-title {
    margin-top: 3px
}

*+.countdown-simple {
    margin-top: 20px
}

@media (min-width: 768px) {
    .countdown-simple {
        margin:0 -38px
    }

    .countdown-simple .countdown-block {
        padding: 0 38px
    }

    *+.countdown-simple {
        margin-top: 20px
    }
}

@media (min-width: 992px) {
    *+.countdown-simple {
        margin-top:35px
    }
}

@media (min-width: 1600px) {
    *+.countdown-simple {
        margin-top:47px
    }
}
