.list .list,.list>.list-item+.list-item {
    margin-top: .19em
}

.list-link {
    color: inherit
}

.list-link:hover {
    color: #31c77f
}

.list-xs .list,.list-xs>.list-item+.list-item {
    margin-top: 0
}

.list-lg .list,.list-lg>.list-item+.list-item {
    margin-top: .48em
}

.list-xl .list,.list-xl>.list-item+.list-item {
    margin-top: .64em
}

.list-xxl .list,.list-xxl>.list-item+.list-item {
    margin-top: 1.14em
}

.list-marked>.list-item::before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: .38em;
    height: .38em;
    margin-right: .62em;
    border-radius: 50%;
    background-color: #171724
}

.list-marked .list-marked {
    margin-left: 3em
}

.list-marked-arrow>.list-item::before {
    display: inline-block;
    content: '\e901';
    margin-right: 1.29em;
    font-size: .88em;
    font-family: intense icons;
    text-indent: 0
}

.list-marked-arrow .list-marked-arrow {
    margin-left: 2.9em
}

.list-ordered {
    counter-reset: li
}

.list-ordered>.list-item::before {
    content: counters(li,".") ".";
    counter-increment: li;
    font-weight: 500;
    margin-right: .8em
}

.list-ordered .list-ordered {
    margin-left: 2.3em
}

*+.list {
    margin-top: 15px
}

h2+.list-marked-arrow {
    margin-top: 15px
}

.list+h6 {
    margin-top: 1.875rem
}

.list-contact {
    font-weight: 400;
    color: #171724
}

.list-contact .list-contact-link {
    color: inherit
}

.list-contact-link {
    white-space: nowrap
}

.list-contact-link:hover {
    color: #31c77f
}

.list-divided>.list-item+.list-item {
    margin-top: 9px;
    padding-top: 8px;
    border-top: 1px solid #e8e8e9
}

.context-dark .list-marked>.list-item::before {
    background: #fff
}

.context-dark .list-contact {
    color: inherit
}

@media(min-width: 992px) {
    *+.list {
        margin-top:1.875rem
    }

    .list+h6 {
        margin-top: 2.5rem
    }
}

@media(min-width: 1600px) {
    .list+h6 {
        margin-top:3.75rem
    }

    h2+.list-marked-arrow {
        margin-top: 37px
    }
}
