.pag {
    display: flex;
    list-style-type: none;
    padding-left: 0
}

*+.pag {
    margin-top: 2.5rem
}

@media(min-width: 768px) {
    *+.pag {
        margin-top:3.125rem
    }
}

@media(min-width: 1600px) {
    *+.pag {
        margin-top:4.375rem
    }

    .post+.pag,.post-container+.pag {
        margin-top: 6.875rem
    }
}

.pag-simple-link {
    display: inline-block;
    font-size: 81%;
    font-weight: 400;
    color: #171724;
    vertical-align: middle;
    transform-origin: 50% 70%
}

.pag-simple-link:hover,.pag-simple-link:focus {
    color: #31c77f
}

.pag-simple-link.inactive {
    pointer-events: none
}

.pag-simple-link-prev>*,.pag-simple-link-next>* {
    vertical-align: middle
}

.pag-simple-link-prev>*+*,.pag-simple-link-next>*+* {
    margin-left: 10px
}

.pag-simple-item.active .pag-simple-link {
    color: #31c77f;
    transform: scale(1.4)
}

.pag-simple-item.disabled .pag-simple-link {
    color: #5d5d66;
    pointer-events: none
}

.pag-simple-item+.pag-simple-item {
    margin-left: 15px
}

.context-dark .pag-simple-link {
    color: #fff
}

.context-dark .pag-simple-link:hover,.context-dark .pag-simple-link:focus {
    color: #31c77f
}

.context-dark .pag-simple-item.active .pag-simple-link {
    color: #31c77f
}

.context-dark .pag-simple-item.disabled .pag-simple-link {
    color: #5d5d66
}

@media(min-width: 768px) {
    .pag-simple-item+.pag-simple-item {
        margin-left:25px
    }
}

@media(min-width: 1600px) {
    .pag-simple-item+.pag-simple-item {
        margin-left:35px
    }
}

.pag-extended {
    flex-wrap: wrap;
    margin-bottom: -15px;
    margin-left: -15px
}

.pag-extended:empty {
    margin-bottom: 0;
    margin-left: 0
}

.pag-extended>* {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 15px
}

.pag-extended-item {
    width: 400px;
    max-width: 100%;
    padding: 20px 15px;
    border: 1px solid #e8e8e9;
    border-radius: .375rem;
    transition: all .2s ease-in-out
}

.pag-extended-item:hover {
    border-color: transparent;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1)
}

.pag-extended-item:first-child {
    text-align: left
}

.pag-extended-item:last-child {
    text-align: right
}

.pag-extended-title {
    padding-bottom: .95em;
    margin-bottom: .95em;
    border-bottom: 1px solid #e8e8e9
}

.pag-extended-link {
    font-size: 1.0625rem;
    font-weight: 500;
    color: #6b39bd
}

.pag-extended-arrow {
    color: #171724
}

.pag-extended-link-prev>*,.pag-extended-link-next>* {
    vertical-align: middle
}

.pag-extended-link-prev>*+*,.pag-extended-link-next>*+* {
    margin-left: 10px
}

@media(min-width: 576px) {
    .pag-extended {
        flex-wrap:nowrap
    }
}

@media(min-width: 768px) {
    .pag-extended-item {
        padding:25px 20px
    }
}

@media(min-width: 1600px) {
    .pag-extended {
        margin-bottom:-40px;
        margin-left: -40px
    }

    .pag-extended:empty {
        margin-bottom: 0;
        margin-left: 0
    }

    .pag-extended>* {
        margin-top: 0;
        margin-bottom: 40px;
        margin-left: 40px
    }

    .pag-extended-item {
        padding: 38px 39px
    }
}

.pag-short-link {
    font-size: 1.0625rem;
    font-weight: 500;
    color: #171724;
    transition: all .2s ease-in-out
}

.pag-short-link:hover {
    color: #6b39bd
}

.pag-short-link-prev>*,.pag-short-link-next>* {
    vertical-align: middle
}

.pag-short-link-prev>*+*,.pag-short-link-next>*+* {
    margin-left: 10px
}

.pag-short-link+.pag-short-link {
    margin-left: 25px
}

.pag-short-bordered .pag-short-link+.pag-short-link {
    margin-left: 17px
}

.pag-short-bordered .pag-short-link {
    padding: 10px 13px;
    color: #6b39bd;
    border: 1px solid #e8e8e9;
    border-radius: .375rem
}

.pag-short-bordered .pag-short-link:hover {
    box-shadow: 5px 8px 28px rgba(23,23,36,.1);
    border-color: transparent
}

.pag-short-bordered .pag-short-arrow {
    color: #171724
}

.context-dark .pag-short-link {
    color: inherit
}

.context-dark .pag-short-link:hover {
    color: #6b39bd
}

.context-dark .pag-short-bordered .pag-short-link {
    color: #6b39bd
}

.context-dark .pag-short-bordered .pag-short-arrow {
    color: inherit
}

@media(min-width: 1600px) {
    .pag-short-bordered .pag-short-link {
        padding:16px 33px
    }

    .pag-short-link+.pag-short-link {
        margin-left: 60px
    }
}
