.flotchart-container {
    width: 100%;
    height: 250px
}

.flotchart-container-pie {
    height: 300px
}

.flotchart-container+.flotchart-container {
    margin-top: 30px
}

.flot-y-axis,.flot-x-axis {
    font-size: 1.0625rem;
    fill: #5d5d66
}

.flotTip {
    padding: 2px 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    border-radius: .375rem
}

*+.flotchart-container {
    margin-top: 30px
}

@media (min-width: 992px) {
    .flotchart-container {
        width:100%;
        height: 350px
    }
}
