.isotope-filters {
    display: inline-flex;
    flex-wrap: nowrap;
    max-width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #171724 rgba(23,23,36,0.1);
    overflow-x: auto;
    overflow-x: overlay;
    overflow-y: hidden
}

.isotope-filters::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent
}

.isotope-filters::-webkit-scrollbar-thumb {
    background: rgba(23,23,36,0.5)
}

.mobile .isotope-filters::-webkit-scrollbar,.isotope-filters:hover::-webkit-scrollbar {
    width: 3px;
    height: 3px
}

.isotope-filter {
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease-in-out
}

*+.isotope-wrap {
    margin-top: 30px
}

.isotope-filters-wide {
    max-width: calc( 100% - 30px)
}

@media (min-width: 768px) {
    *+.isotope-wrap {
        margin-top:43px
    }
}

@media (min-width: 1200px) {
    *+.isotope-wrap {
        margin-top:63px
    }
}

@media (min-width: 1600px) {
    *+.isotope-wrap {
        margin-top:73px
    }
}

.isotope-line .isotope-filter {
    position: relative;
    margin-right: 25px;
    padding: 0 0 .3em;
    font-weight: 400;
    color: #aeaeb2
}

.isotope-line .isotope-filter:last-child {
    margin-right: 0
}

.isotope-line .isotope-filter:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #6b39bd;
    border-radius: .2rem;
    content: '';
    transition: all 0.2s ease-in-out
}

.isotope-line .isotope-filter:hover {
    color: #171724
}

.isotope-line .isotope-filter.active {
    color: #171724
}

.isotope-line .isotope-filter.active:before {
    width: 20px
}

.isotope-line *+.isotope {
    margin-top: 25px
}

.context-dark .isotope-line .isotope-filter {
    color: rgba(255,255,255,0.4)
}

.context-dark .isotope-line .isotope-filter:hover,.context-dark .isotope-line .isotope-filter.active {
    color: inherit
}

@media (min-width: 768px) {
    .isotope-line .isotope-filter {
        font-size:1.5rem
    }

    .isotope-line *+.isotope {
        margin-top: 35px
    }

    *+.isotope-line {
        margin-top: 43px
    }
}

@media (min-width: 1200px) {
    .isotope-line .isotope-filter {
        margin-right:37px;
        font-size: 1.6875rem
    }

    .isotope-line *+.isotope {
        margin-top: 50px
    }

    *+.isotope-line {
        margin-top: 63px
    }
}

@media (min-width: 1600px) {
    .isotope-line .isotope-filter {
        font-size:1.875rem
    }

    .isotope-line *+.isotope {
        margin-top: 60px
    }

    *+.isotope-line {
        margin-top: 73px
    }
}

.isotope-scale .isotope-filter,.isotope-scale-vertical .isotope-filter {
    position: relative;
    margin-right: 25px;
    font-weight: 400;
    color: #aeaeb2
}

.isotope-scale .isotope-filter:first-child,.isotope-scale-vertical .isotope-filter:first-child {
    transform-origin: 0 50%
}

.isotope-scale .isotope-filter:hover,.isotope-scale-vertical .isotope-filter:hover {
    color: #171724
}

.isotope-scale .isotope-filter.active,.isotope-scale-vertical .isotope-filter.active {
    color: #171724;
    transform: scale(1.15)
}

.isotope-scale *+.isotope,.isotope-scale-vertical *+.isotope {
    margin-top: 25px
}

.context-dark .isotope-scale .isotope-filter,.context-dark .isotope-scale-vertical .isotope-filter {
    color: rgba(255,255,255,0.4)
}

.context-dark .isotope-scale .isotope-filter:hover,.context-dark .isotope-scale .isotope-filter.active,.context-dark .isotope-scale-vertical .isotope-filter:hover,.context-dark .isotope-scale-vertical .isotope-filter.active {
    color: inherit
}

@media (min-width: 768px) {
    .isotope-scale-vertical {
        display:flex
    }

    .isotope-scale-vertical .isotope-filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 30%;
        max-width: 40%;
        padding-right: 45px;
        overflow: inherit
    }

    .isotope-scale-vertical .isotope {
        flex-grow: 1
    }

    .isotope-scale-vertical .isotope-filter {
        margin-right: 0;
        white-space: normal;
        transition: all 0.2s ease-in-out;
        transform-origin: 0 50%
    }

    .isotope-scale-vertical .isotope-filter+.isotope-filter {
        margin-top: 15px
    }

    .isotope-scale-vertical *+.isotope {
        margin-top: 0
    }
}

@media (min-width: 992px) {
    .isotope-scale .isotope-filter,.isotope-scale-vertical .isotope-filter {
        font-size:1.5rem
    }

    .isotope-scale .isotope-filter.active,.isotope-scale-vertical .isotope-filter.active {
        transform: scale(1.6)
    }

    .isotope-scale-vertical .isotope-filters {
        padding-right: 165px
    }
}

@media (min-width: 1200px) {
    .isotope-scale .isotope-filter,.isotope-scale-vertical .isotope-filter {
        font-size:1.6875rem
    }

    .isotope-scale-vertical .isotope-filters {
        min-width: 33%;
        padding-right: 205px
    }

    .isotope-scale-vertical .isotope-filter+.isotope-filter {
        margin-top: 21px
    }
}

@media (min-width: 1600px) {
    .isotope-scale .isotope-filter,.isotope-scale-vertical .isotope-filter {
        font-size:1.875rem
    }

    .isotope-scale-vertical .isotope-filters {
        min-width: 35%;
        padding-right: 235px
    }

    .isotope-scale-vertical.isotope-scale-vertical-wide .isotope-filters {
        min-width: 26%
    }
}
