.icon-box {
    display: flex;
    align-items: center;
    padding: .9375rem 1.25rem;
    border-radius: .375rem;
    text-align: left;
    transition: .25s
}

.icon-box:hover {
    background: #31c77f;
    color: #fff;
    box-shadow: 10px 15px 18px rgba(23,23,36,0.15)
}

.icon-box-icon {
    font-size: 1.375rem;
    line-height: 1
}

*+.icon-box-text {
    margin-left: .9375rem
}
