.{
    height: 250px;
    width: 100%
}

.google-map img {
    margin-top: 0;
    vertical-align: top
}

h2+.google-map {
    margin-top: 50px
}

@media(min-width: 992px) {
    .google-map {
        height:570px
    }
}

@media(min-width: 1600px) {
    .google-map {
        height:660px
    }

    h2+.google-map {
        margin-top: 70px
    }
}
