.offer-box-title {
    color: #171724
}

.offer-box-title a {
    color: inherit
}

.offer-box-title a:hover,.offer-box-title a:focus {
    color: #31c77f
}

.offer-box-text {
    font-size: 1.0625rem
}

*+.offer-box-title {
    margin-top: 14px
}

*+.offer-box-text {
    margin-top: 6px
}

*+.offer-box-button {
    margin-top: 13px
}

.context-dark .offer-box-title {
    color: inherit
}

@media(min-width: 992px) {
    *+.offer-box-title {
        margin-top:20px
    }

    *+.offer-box-text {
        margin-top: 8px
    }

    *+.offer-box-button {
        margin-top: 22px
    }
}

@media(min-width: 1600px) {
    *+.offer-box-title {
        margin-top:32px
    }

    *+.offer-box-text {
        margin-top: 10px
    }

    *+.offer-box-button {
        margin-top: 29px
    }
}

.offer-box-classic {
    display: inline-block;
    max-width: 400px
}

.offer-box-detail {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto
}

.offer-box-detail .offer-box-label {
    color: #31c77f;
    font-weight: 400
}

.offer-box-detail *+.offer-box-content {
    margin-top: 20px
}

.offer-box-detail *+.offer-box-title {
    margin-top: 14px
}

.offer-box-detail *+.offer-box-text {
    margin-top: 6px
}

@media(min-width: 768px) {
    .offer-box-detail {
        display:flex;
        align-items: center;
        max-width: 100%
    }

    .offer-box-detail .offer-box-media {
        max-width: 42%;
        flex-shrink: 0
    }

    .offer-box-detail .offer-box-content {
        flex-grow: 1;
        padding-left: 20px;
        max-width: 57%
    }

    .offer-box-detail *+.offer-box-content {
        margin-top: 0
    }

    .offer-box-detail *+.offer-box-tab {
        margin-top: 25px
    }
}

@media(min-width: 992px) {
    .offer-box-detail .offer-box-media {
        max-width:45%
    }

    .offer-box-detail .offer-box-content {
        padding-left: 25px;
        max-width: 55%
    }

    .offer-box-detail *+.offer-box-title {
        margin-top: 20px
    }

    .offer-box-detail *+.offer-box-text {
        margin-top: 8px
    }
}

@media(min-width: 1600px) {
    .offer-box-detail .offer-box-media {
        max-width:58%
    }

    .offer-box-detail .offer-box-content {
        padding-left: 69px;
        max-width: 46vw
    }

    .offer-box-detail .offer-box-limiter {
        max-width: 440px
    }

    .offer-box-detail *+.offer-box-title {
        margin-top: 32px
    }

    .offer-box-detail *+.offer-box-text {
        margin-top: 10px
    }

    .offer-box-detail *+.offer-box-tab {
        margin-top: 43px
    }
}

.offer-box-light {
    padding: 20px 15px;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1);
    border-radius: .375rem
}

.offer-box-light .offer-box-divider {
    border-bottom: 1px solid #e8e8e9
}

.offer-box-light .offer-box-list {
    font-size: 1.0625rem;
    font-weight: 400;
    color: #171724
}

.offer-box-light .offer-box-list>li>* {
    vertical-align: middle
}

.offer-box-light .offer-box-list>li+li {
    margin-top: 6px
}

.offer-box-light .offer-box-list-icon {
    line-height: inherit;
    padding-right: .3em
}

.offer-box-light *+.offer-box-divider {
    margin-top: 12px
}

.offer-box-light *+.offer-box-text {
    margin-top: 12px
}

.offer-box-light *+.offer-box-list {
    margin-top: 13px
}

.context-dark .offer-box-light {
    background-color: rgba(255,255,255,.05)
}

.context-dark .offer-box-light .offer-box-list {
    color: inherit
}

@media(min-width: 768px) {
    .offer-box-light {
        transition:all .2s ease-in-out
    }

    .offer-box-light:hover {
        transform: translateY(-10px)
    }
}

@media(min-width: 1600px) {
    .offer-box-light {
        padding:34px 40px
    }

    .offer-box-light .offer-box-list-icon {
        padding-right: .7em
    }

    .offer-box-light *+.offer-box-divider {
        margin-top: 19px
    }

    .offer-box-light *+.offer-box-text {
        margin-top: 32px
    }

    .offer-box-light *+.offer-box-list {
        margin-top: 23px
    }
}

.offer-box-link {
    display: block;
    padding: 20px 15px;
    color: #5d5d66;
    border: 1px solid #e8e8e9;
    border-radius: .375rem;
    transition: all .2s ease-in-out
}

.offer-box-link:hover {
    color: #5d5d66;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1);
    border-color: transparent;
    transform: translateY(-10px)
}

.offer-box-link .offer-box-icon {
    font-size: 1.0625rem;
    color: #171724
}

.offer-box-link *+.offer-box-text {
    margin-top: 10px
}

.offer-box-link *+.offer-box-icon {
    margin-top: 13px
}

.context-dark .offer-box-link {
    color: inherit
}

.context-dark .offer-box-link .offer-box-icon {
    color: inherit
}

.context-dark .offer-box-link:hover {
    background-color: rgba(255,255,255,.05)
}

@media(min-width: 992px) {
    .offer-box-link {
        padding:35px 25px
    }
}

@media(min-width: 1600px) {
    .offer-box-link {
        padding:52px 40px 63px
    }

    .offer-box-link *+.offer-box-text {
        margin-top: 20px
    }

    .offer-box-link *+.offer-box-icon {
        margin-top: 28px
    }
}

.offer-box-thumbnail {
    background-size: cover;
    background-position: center center
}

.offer-box-thumbnail .offer-box-inner {
    padding: 20px 15px;
    color: #fff;
    background-color: rgba(23,23,36,.85)
}

.offer-box-thumbnail .offer-box-title {
    color: inherit
}

.offer-box-thumbnail .offer-box-hover>*:first-child {
    margin-top: 8px
}

.offer-box-thumbnail .offer-box-hover>*:last-child {
    margin-bottom: 8px
}

.offer-box-thumbnail *+.offer-box-btn {
    margin-top: 11px
}

@media(min-width: 1600px) {
    .offer-box-thumbnail .offer-box-inner {
        padding:23px 26px
    }

    .offer-box-thumbnail .offer-box-hover>*:first-child {
        margin-top: 11px
    }

    .offer-box-thumbnail .offer-box-hover>*:last-child {
        margin-bottom: 11px
    }

    .offer-box-thumbnail *+.offer-box-btn {
        margin-top: 22px
    }
}

@media(min-width: 1200px) {
    .desktop .offer-box-thumbnail {
        position:relative;
        height: 390px
    }

    .desktop .offer-box-thumbnail .offer-box-inner {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0
    }

    .desktop .offer-box-thumbnail .offer-box-hover {
        max-height: 0;
        overflow: hidden;
        transition: .6s
    }

    .desktop .offer-box-thumbnail:hover .offer-box-hover {
        max-height: 180px
    }
}

@media(min-width: 1900px) {
    .desktop .offer-box-thumbnail {
        padding-top:65%;
        height: auto
    }
}

.offer-box-divided {
    padding: 20px 15px;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1)
}

.offer-box-divided *+.offer-box-divider,.offer-box-divided .offer-box-divider+* {
    margin-top: 1.9rem
}

.offer-box-divided *+.offer-box-btn {
    margin-top: 16px
}

.desktop .offer-box-divided {
    box-shadow: none;
    transition: all .2s ease-in-out
}

.desktop .offer-box-divided:hover {
    box-shadow: 5px 8px 28px rgba(23,23,36,.1)
}

@media(min-width: 576px) {
    .offer-box-divided {
        padding:30px 20px
    }
}

@media(min-width: 1200px) {
    .offer-box-divided {
        padding:44px 50px 50px
    }
}

@media(min-width: 1600px) {
    .offer-box-divided *+.offer-box-title {
        margin-top:25px
    }
}
