.plans-switcher {
    text-align: center;
    margin-bottom: -10px;
    margin-left: -20px
}

.plans-switcher:empty {
    margin-bottom: 0;
    margin-left: 0
}

.plans-switcher>* {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 20px
}

.plans-toggle {
    margin-top: .1em
}

.plans-switcher-text {
    font-weight: 400;
    color: #6b39bd
}

.plans-switcher-subtext {
    margin-top: -.3em;
    font-size: 81%
}

.plans-description {
    text-align: center
}

*+.plans {
    margin-top: 40px
}

*+.plans-switch-container {
    margin-top: 40px
}

*+.plans-description {
    margin-top: 35px
}

.plans-column {
    font-size: 1.0625rem
}

.plans-column .plans-switcher {
    padding: 9px 9px 9px 0
}

.plans-column .plans-container {
    font-size: 81%
}

.plans-column .plans-list-meta {
    display: none;
    font-weight: 400;
    color: #171724
}

.plans-column *+.plans-switch-container {
    margin-top: 20px
}

.plans-column *+.plans-description {
    margin-top: 22px
}

@media(min-width: 576px) {
    .plans-switcher {
        display:flex;
        justify-content: center;
        text-align: left
    }

    .plans-column .plans-switcher {
        display: block
    }
}

@media(min-width: 992px) {
    .plans-column {
        display:flex;
        padding-top: 40px
    }

    .plans-column .plans-switch-container {
        width: 83%
    }

    .plans-column .plans-switcher {
        width: 22%;
        padding-right: 19px
    }

    .plans-column .plans-list-meta {
        display: block
    }

    .plans-column *+.plans-switch-container {
        margin-top: 0
    }

    .plans-column *+.plans-list-meta {
        margin-top: 165px
    }
}

@media(min-width: 1200px) {
    .plans-column *+.plans-list-meta {
        margin-top:176px
    }
}

@media(min-width: 1600px) {
    *+.plans {
        margin-top:68px
    }

    *+.plans-switch-container {
        margin-top: 76px
    }

    *+.plans-description {
        margin-top: 53px
    }

    .plans-column .plans-switcher {
        width: 18%;
        padding-right: 29px
    }

    .plans-column *+.plans-description {
        margin-top: 47px
    }

    .plans-column *+.plans-list-meta {
        margin-top: 219px
    }
}
