.widget {
    width: 400px;
    max-width: 100%
}

.widget-title {
    color: #31c77f
}

.widget-body {
    position: relative
}

*+.widget-body {
    margin-top: 20px
}

p+.widget-subscribe-form {
    margin-top: 15px
}

.widget-subscribe-form *+.widget-subscribe-btn {
    margin-top: 16px
}

.widget+.widget {
    margin-top: 1.875rem;
    padding-top: 1.875rem;
    border-top: 1px solid #e8e8e9
}

.context-dark .widget+.widget {
    border-top-color: rgba(232,232,233,.5)
}

.context-dark .widget-title {
    color: #31c77f
}

@media(min-width: 1600px) {
    *+.widget-body {
        margin-top:30px
    }

    p+.widget-subscribe-form {
        margin-top: 23px
    }

    .widget+.widget {
        margin-top: 3.75rem;
        padding-top: 3.125rem
    }
}

.widget-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    font-size: .93188rem;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    border-radius: .375rem;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1);
    transform: scaleY(0);
    transform-origin: center top;
    transition: .15s
}

.widget-search-results.rd-search-show {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto
}

.widget-search-results.rd-search-loading .search-results {
    opacity: .5;
    pointer-events: none
}

.widget-search-results .search-results {
    flex: 1 1 870px;
    max-width: 870px;
    padding: 0 15px
}

.widget-search-results .search-list {
    list-style-type: none
}

.widget-search-results .search-list-item {
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px solid #e8e8e9
}

.widget-search-results .search-list-item:first-child {
    border-top: 1px solid #e8e8e9
}

.widget-search-results .search-title {
    font-size: 1.0625rem
}

.widget-search-results *+p {
    margin-top: 0
}

.widget-search-results *+.search-list,.widget-search-results *+.search-list-item-all {
    margin-top: 20px
}

.widget-search-btn {
    transition: all .2s ease-in-out
}

.widget-search-btn:hover {
    color: #31c77f
}

.widget-list {
    font-size: 1.0625rem;
    padding-left: .84em
}

.widget-list>li {
    position: relative;
    max-width: 280px;
    display: flex;
    justify-content: space-between;
    font-weight: 400
}

.widget-list>li::before {
    content: '';
    position: absolute;
    top: .64em;
    left: -.84em;
    border: .12em solid;
    border-radius: 50%
}

.widget-list>li>*+* {
    margin-left: 10px
}

.widget-list>li+li {
    margin-top: 11px
}

*+.widget-list {
    margin-top: 14px
}

@media(min-width: 992px) {
    .widget-list>li {
        max-width:100%
    }

    *+.widget-list {
        margin-top: 22px
    }
}

@media(min-width: 1600px) {
    *+.widget-list {
        margin-top:31px
    }
}
