.progress-circle {
    display: inline-block;
    max-width: 260px
}

.progress-circle-inner {
    position: relative;
    display: inline-block
}

.progress-circle-counter-value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1;
    color: #171724
}

.progress-circle-bar .bg,.progress-circle-bar .fg {
    stroke-width: 10px;
    fill: transparent
}

.progress-circle-bar .bg {
    stroke: #fff
}

.progress-circle-bar .fg {
    stroke: #5d5d66
}

*+.progress-circle-title {
    margin-top: 1.125rem
}

*+.progress-circle-text {
    margin-top: .375rem
}

@media(min-width: 992px) {
    *+.progress-circle-title {
        margin-top:2.125rem
    }

    *+.progress-circle-text {
        margin-top: .6875rem
    }
}
