.rd-navbar {
	position: relative;
	z-index: 14;
	color: #171724;
}

.rd-navbar li {
	list-style: none;
}

.navbar-button {
	position: relative;
	display: block;
	border: none;
	font-size: 18px;
	width: 18px;
	height: 18px;
	line-height: 1;
	opacity: 1;
	visibility: visible;
	background: none;
	color: inherit;
	transition: .25s ease-in-out;
}

.navbar-button::before, .navbar-button::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .25s, color 0s;
}

.navbar-button::before {
	transform: translate(-50%, -50%) rotate(0) scale(1);
	opacity: 1;
}

.navbar-button::after {
	content: '\e90c';
	transform: translate(-50%, -50%) rotate(90deg) scale(0);
	font-family: 'Intense Icons';
	opacity: 0;
}

.navbar-button:hover {
	color: #31c77f;
}

.navbar-button.navbar-info-active::before, .navbar-button.navbar-search-active::before, .navbar-button.navbar-cart-active::before, .navbar-button.active::before {
	transform: translate(-50%, -50%) rotate(-90deg) scale(0);
	opacity: 0;
}

.navbar-button.navbar-info-active::after, .navbar-button.navbar-search-active::after, .navbar-button.navbar-cart-active::after, .navbar-button.active::after {
	transform: translate(-50%, -50%) rotate(0deg) scale(1);
	opacity: 1;
}

.navbar-logo-link {
	display: block;
	margin: -10px 0 0 -10px;
}

.navbar-logo-default,
.navbar-logo-inverse {
	margin: 0;
}

.navbar-logo-inverse {
	display: none;
}

.rd-navbar-fixed {
	height: 60px;
}

.rd-navbar-fixed .navbar-panel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	height: 60px;
	box-shadow: 0 0 28px rgba(93, 93, 102, 0.1);
	background: #fff;
}

.rd-navbar-fixed .navbar-subpanel {
	position: fixed;
	top: 0;
	right: 5%;
	display: flex;
	align-items: center;
	height: 60px;
	margin: 0 -10px;
	padding: 0 10px;
}

.rd-navbar-fixed .navbar-subpanel-item {
	padding: 0 10px;
}

.rd-navbar-fixed .navbar-logo {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 359px) {
	.rd-navbar-fixed .navbar-logo {
		left: 47%;
	}
}

.rd-navbar-fixed .navbar-navigation-banner {
	padding: 14px 0;
}

.rd-navbar-fixed .navbar-switch {
	position: fixed;
	top: 0;
	left: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	font-size: 1.3846rem;
	line-height: 1;
	border: none;
	background: none;
	color: inherit;
	transition: .2s ease-in-out;
}

.rd-navbar-fixed .navbar-switch:hover, .rd-navbar-fixed .navbar-switch.active {
	color: #31c77f;
}

.rd-navbar-fixed .navbar-action-button {
	margin: 0;
}

.rd-navbar-fixed .navbar-info {
	position: fixed;
	top: 60px;
	right: 0;
	width: 100%;
	transform: translateY(20%) scale(0.8);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5px 20px 15px 10px;
	background: #fff;
	box-shadow: 0 14px 14px rgba(93, 93, 102, 0.1);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: .2s;
}

.rd-navbar-fixed .navbar-info > * {
	margin-left: 10px;
	margin-top: 10px;
}

@media (min-width: 480px) {
	.rd-navbar-fixed .navbar-info {
		width: auto;
		max-width: 100%;
	}
}

.rd-navbar-fixed.navbar-info-active .navbar-info {
	transform: translateY(0) scale(1);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.rd-navbar-fixed .navbar-info-icon {
	color: #31c77f;
}

.rd-navbar-fixed .navbar-info-link {
	color: #171724;
	font-weight: 400;
	font-size: 1.0625rem;
}

.rd-navbar-fixed .navbar-info-link:hover {
	color: #31c77f;
}

.rd-navbar-fixed .navbar-button::before {
	pointer-events: none;
}

.rd-navbar-fixed .navbar-search {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transform: scaleX(0.8);
	z-index: 2;
	display: flex;
	align-items: center;
	height: 60px;
	opacity: 0;
	pointer-events: none;
	background: #fff;
	transition: .25s;
}

.rd-navbar-fixed .navbar-search-container {
	flex: 1 1 870px;
	max-width: 870px;
	margin: 0 auto;
	padding: 0 15px;
}

.rd-navbar-fixed .navbar-search-form {
	display: flex;
	align-items: center;
	margin: 0 -10px;
}

.rd-navbar-fixed .navbar-search-input {
	flex-grow: 1;
	font-size: 1.25rem;
	color: #171724;
	margin: 0;
	padding: 0 10px;
	border: none;
	background: none;
}

.rd-navbar-fixed .navbar-search-input::placeholder {
	color: #171724;
}

.rd-navbar-fixed .navbar-search-close,
.rd-navbar-fixed .navbar-search-btn {
	color: inherit;
	padding: 0 10px;
}

.rd-navbar-fixed .navbar-search-close:hover,
.rd-navbar-fixed .navbar-search-btn:hover {
	color: #31c77f;
}

.rd-navbar-fixed .navbar-search-results {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	transform: scaleY(0);
	transform-origin: center top;
	display: flex;
	justify-content: center;
	padding: 25px 0;
	opacity: 0;
	pointer-events: none;
	background: #fff;
	transition: .15s;
}

.rd-navbar-fixed .navbar-search-results.rd-search-show {
	transform: scaleY(1);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fixed .navbar-search-results.rd-search-loading .search-results {
	opacity: .5;
	pointer-events: none;
}

.rd-navbar-fixed .navbar-search-results .search-results {
	flex: 1 1 870px;
	max-width: 870px;
	padding: 0 15px;
}

.rd-navbar-fixed .navbar-search-results .search-list {
	list-style-type: none;
}

.rd-navbar-fixed .navbar-search-results .search-list-item {
	padding: 25px 0;
	margin: 0;
	border-bottom: 1px solid #e8e8e9;
}

.rd-navbar-fixed .navbar-search-results .search-list-item:first-child {
	border-top: 1px solid #e8e8e9;
}

.rd-navbar-fixed .navbar-search-results * + p {
	margin-top: 2px;
}

.rd-navbar-fixed .navbar-search-results * + .search-list,
.rd-navbar-fixed .navbar-search-results * + .search-list-item-all {
	margin-top: 25px;
}

.rd-navbar-fixed.navbar-search-active .navbar-search {
	transform: scaleX(1);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fixed .navbar-cart {
	position: fixed;
	top: 50px;
	bottom: 0;
	right: 0;
	transform: translateX(110%);
	width: 470px;
	max-width: 100%;
	padding: 20px;
	background: #fff;
	transition: .2s;
	overflow-y: scroll;
}

.rd-navbar-fixed.navbar-cart-active .navbar-cart {
	transform: translateX(0);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fixed .navbar-cart-item {
	display: flex;
	padding-bottom: 1.25rem;
	border-bottom: 1px solid #e8e8e9;
}

.rd-navbar-fixed .navbar-cart-item-body {
	padding: 0 10px;
	flex-grow: 1;
}

.rd-navbar-fixed .navbar-cart-item-heading,
.rd-navbar-fixed .navbar-cart-item-price {
	font-size: 1.0625rem;
	font-weight: 400;
}

.rd-navbar-fixed .navbar-cart-item-heading:hover {
	color: #31c77f;
}

.rd-navbar-fixed .navbar-cart-item-parameter {
	font-size: 0.8125rem;
	font-weight: 300;
}

.rd-navbar-fixed .navbar-cart-item-qty {
	display: inline-block;
	width: 3.25rem;
	height: 1.875rem;
	padding: 0.3125rem 0.9375rem 0.3125rem 0.625rem;
	font-size: 0.8125rem;
	text-align: center;
}

.rd-navbar-fixed .navbar-cart-spinner .ui-spinner-button {
	right: 0;
	width: 0.9375rem;
	height: 0.9375rem;
}

.rd-navbar-fixed .navbar-cart-spinner .ui-spinner-up {
	top: 0;
}

.rd-navbar-fixed .navbar-cart-spinner .ui-spinner-down {
	bottom: 0;
}

.rd-navbar-fixed .navbar-cart-remove {
	color: inherit;
}

.rd-navbar-fixed .navbar-cart-remove:hover {
	color: #31c77f;
}

.rd-navbar-fixed .navbar-cart-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.0625rem;
}

.rd-navbar-fixed .navbar-cart-line-value {
	font-weight: 300;
	color: #5d5d66;
}

.rd-navbar-fixed .navbar-cart-total {
	font-size: 2.25rem;
	font-weight: 400;
}

.rd-navbar-fixed .navbar-cart-group {
	display: flex;
	align-items: center;
	margin-bottom: -1.25rem;
	margin-left: -1.25rem;
}

.rd-navbar-fixed .navbar-cart-group:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.rd-navbar-fixed .navbar-cart-group > * {
	margin-top: 0;
	margin-bottom: 1.25rem;
	margin-left: 1.25rem;
}

.rd-navbar-fixed .navbar-cart-group > * {
	flex-grow: 1;
}

.rd-navbar-fixed * + .navbar-cart-item,
.rd-navbar-fixed * + .navbar-cart-line {
	margin-top: 1.625rem;
}

.rd-navbar-fixed * + .navbar-cart-buttons {
	margin-top: 10px;
}

.rd-navbar-fixed .navbar-cart-line + .navbar-cart-line {
	margin-top: 0.125rem;
}

.rd-navbar-fixed .navbar-navigation {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: -310px;
	width: 300px;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 1.46rem;
	font-weight: 400;
	line-height: 1.2;
	transition: .4s;
	background: #fff;
	box-shadow: 0 0 28px rgba(93, 93, 102, 0.1);
}

.rd-navbar-fixed .navbar-navigation-root-item,
.rd-navbar-fixed .navbar-navigation-megamenu,
.rd-navbar-fixed .navbar-navigation-dropdown {
	transition: .4s;
}

.rd-navbar-fixed .navbar-navigation-megamenu,
.rd-navbar-fixed .navbar-navigation-dropdown {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: -310px;
	width: 300px;
	z-index: 2;
	pointer-events: none;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
}

.rd-navbar-fixed .navbar-navigation,
.rd-navbar-fixed .navbar-navigation-megamenu,
.rd-navbar-fixed .navbar-navigation-dropdown {
	padding: 16px 0 30px;
	background: #f7f7f7;
}

.rd-navbar-fixed .navbar-navigation.overlaid,
.rd-navbar-fixed .navbar-navigation-megamenu.overlaid,
.rd-navbar-fixed .navbar-navigation-dropdown.overlaid {
	background: #aeaeb2;
}

.rd-navbar-fixed .navbar-navigation-root-item.active .navbar-navigation-root-link {
	color: #31c77f;
}

.rd-navbar-fixed .navbar-navigation-root-link,
.rd-navbar-fixed .navbar-navigation-megamenu-link,
.rd-navbar-fixed .navbar-navigation-dropdown-link {
	position: relative;
	transform: translateZ(0);
	display: block;
	padding: 14px 30px;
	border-radius: 4px;
	overflow: hidden;
	color: #171724;
	transition: .2s;
}

.rd-navbar-fixed .navbar-navigation-root-link + .rd-navbar-submenu-toggle,
.rd-navbar-fixed .navbar-navigation-megamenu-link + .rd-navbar-submenu-toggle,
.rd-navbar-fixed .navbar-navigation-dropdown-link + .rd-navbar-submenu-toggle {
	display: flex;
}

.rd-navbar-fixed .navbar-navigation-root-link:hover,
.rd-navbar-fixed .navbar-navigation-megamenu-link:hover,
.rd-navbar-fixed .navbar-navigation-dropdown-link:hover {
	color: #31c77f;
}

.rd-navbar-fixed .navbar-navigation-back-btn {
	display: block;
	padding: 14px 30px;
	font-size: 1.3077rem;
	font-weight: 500;
	color: #31c77f;
}

.rd-navbar-fixed .navbar-navigation-back-btn::before {
	content: '\e900';
	font-family: 'Intense Icons';
	margin-right: 10px;
	vertical-align: bottom;
}

.rd-navbar-fixed .navbar-navigation-back-btn:hover {
	cursor: pointer;
}

.rd-navbar-fixed .navbar-navigation-megamenu-heading {
	padding: 14px 30px;
	margin: 0;
	font-size: 1.1538rem;
	font-weight: 300;
	color: #171724;
}

.rd-navbar-fixed .navbar-navigation-item-disabled {
	opacity: .5;
	pointer-events: none;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle {
	position: absolute;
	top: 0;
	right: 9px;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	display: none;
	font-size: .74em;
	color: inherit;
	transition: .2s;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle::before {
	content: '\e909';
	font-family: 'Intense Icons';
}

.rd-navbar-fixed .rd-navbar-submenu-toggle:hover::before {
	color: #31c77f;
}

.rd-navbar-fixed .rd-navbar-submenu {
	position: relative;
}

.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-megamenu,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-dropdown, .rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-megamenu,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-dropdown {
	left: 0;
	pointer-events: auto;
}

.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-root-link,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-dropdown-link,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-megamenu-link, .rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-root-link,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-dropdown-link,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-megamenu-link {
	color: #fff;
}

.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-root-link::before,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-dropdown-link::before,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-megamenu-link::before, .rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-root-link::before,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-dropdown-link::before,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-megamenu-link::before {
	padding: 100%;
	transition: padding .25s ease-in;
}

.rd-navbar-fixed.active .navbar-navigation {
	left: 0;
}

.rd-navbar-fixed.navbar-dark,
.rd-navbar-fixed .navbar-dark {
	color: #aeaeb2;
}

.rd-navbar-fixed.navbar-dark h1, .rd-navbar-fixed.navbar-dark h2, .rd-navbar-fixed.navbar-dark h3, .rd-navbar-fixed.navbar-dark h4, .rd-navbar-fixed.navbar-dark h5, .rd-navbar-fixed.navbar-dark h6, .rd-navbar-fixed.navbar-dark .h1, .rd-navbar-fixed.navbar-dark .h2, .rd-navbar-fixed.navbar-dark .h3, .rd-navbar-fixed.navbar-dark .h4, .rd-navbar-fixed.navbar-dark .h5, .rd-navbar-fixed.navbar-dark .h6,
.rd-navbar-fixed .navbar-dark h1,
.rd-navbar-fixed .navbar-dark h2,
.rd-navbar-fixed .navbar-dark h3,
.rd-navbar-fixed .navbar-dark h4,
.rd-navbar-fixed .navbar-dark h5,
.rd-navbar-fixed .navbar-dark h6,
.rd-navbar-fixed .navbar-dark .h1,
.rd-navbar-fixed .navbar-dark .h2,
.rd-navbar-fixed .navbar-dark .h3,
.rd-navbar-fixed .navbar-dark .h4,
.rd-navbar-fixed .navbar-dark .h5,
.rd-navbar-fixed .navbar-dark .h6 {
	color: #fff;
}

.rd-navbar-fixed.navbar-dark .navbar-panel,
.rd-navbar-fixed .navbar-dark .navbar-panel {
	background: #23232f;
}

.rd-navbar-fixed.navbar-dark .navbar-logo-default,
.rd-navbar-fixed .navbar-dark .navbar-logo-default {
	display: none;
}

.rd-navbar-fixed.navbar-dark .navbar-logo-inverse,
.rd-navbar-fixed .navbar-dark .navbar-logo-inverse {
	display: block;
}

.rd-navbar-fixed.navbar-dark .navbar-info,
.rd-navbar-fixed .navbar-dark .navbar-info {
	background: #23232f;
}

.rd-navbar-fixed.navbar-dark .navbar-info-link,
.rd-navbar-fixed .navbar-dark .navbar-info-link {
	color: #fff;
}

.rd-navbar-fixed.navbar-dark .navbar-info-link:hover,
.rd-navbar-fixed .navbar-dark .navbar-info-link:hover {
	color: #31c77f;
}

.rd-navbar-fixed.navbar-dark.navbar-search,
.rd-navbar-fixed.navbar-dark .navbar-search,
.rd-navbar-fixed .navbar-dark.navbar-search,
.rd-navbar-fixed .navbar-dark .navbar-search {
	background: #23232f;
}

.rd-navbar-fixed.navbar-dark .navbar-search-input,
.rd-navbar-fixed .navbar-dark .navbar-search-input {
	color: #fff;
}

.rd-navbar-fixed.navbar-dark .navbar-search-input::placeholder,
.rd-navbar-fixed .navbar-dark .navbar-search-input::placeholder {
	color: #fff;
}

.rd-navbar-fixed.navbar-dark .navbar-search-results,
.rd-navbar-fixed .navbar-dark .navbar-search-results {
	background: #23232f;
	color: #fff;
}

.rd-navbar-fixed.navbar-dark.navbar-cart,
.rd-navbar-fixed.navbar-dark .navbar-cart,
.rd-navbar-fixed .navbar-dark.navbar-cart,
.rd-navbar-fixed .navbar-dark .navbar-cart {
	background: #23232f;
}

.rd-navbar-fixed.navbar-dark .navbar-cart-item,
.rd-navbar-fixed .navbar-dark .navbar-cart-item {
	border-bottom-color: #393944;
}

.rd-navbar-fixed.navbar-dark .navbar-cart-item-qty,
.rd-navbar-fixed .navbar-dark .navbar-cart-item-qty {
	background-color: #393944;
	border-color: #5d5d66;
	color: #fff;
}

.rd-navbar-fixed.navbar-dark .navbar-cart-item-heading,
.rd-navbar-fixed.navbar-dark .navbar-cart-item-price,
.rd-navbar-fixed.navbar-dark .navbar-cart-line-name,
.rd-navbar-fixed.navbar-dark .navbar-cart-total,
.rd-navbar-fixed .navbar-dark .navbar-cart-item-heading,
.rd-navbar-fixed .navbar-dark .navbar-cart-item-price,
.rd-navbar-fixed .navbar-dark .navbar-cart-line-name,
.rd-navbar-fixed .navbar-dark .navbar-cart-total {
	color: #fff;
}

.rd-navbar-fixed.navbar-dark .navbar-cart-item-heading:hover,
.rd-navbar-fixed .navbar-dark .navbar-cart-item-heading:hover {
	color: #31c77f;
}

.rd-navbar-fixed.navbar-dark .navbar-cart-line-value,
.rd-navbar-fixed .navbar-dark .navbar-cart-line-value {
	color: #aeaeb2;
}

.rd-navbar-fixed.navbar-dark.navbar-navigation, .rd-navbar-fixed.navbar-dark.navbar-navigation-dropdown, .rd-navbar-fixed.navbar-dark.navbar-navigation-megamenu,
.rd-navbar-fixed.navbar-dark .navbar-navigation,
.rd-navbar-fixed.navbar-dark .navbar-navigation-dropdown,
.rd-navbar-fixed.navbar-dark .navbar-navigation-megamenu,
.rd-navbar-fixed .navbar-dark.navbar-navigation,
.rd-navbar-fixed .navbar-dark.navbar-navigation-dropdown,
.rd-navbar-fixed .navbar-dark.navbar-navigation-megamenu,
.rd-navbar-fixed .navbar-dark .navbar-navigation,
.rd-navbar-fixed .navbar-dark .navbar-navigation-dropdown,
.rd-navbar-fixed .navbar-dark .navbar-navigation-megamenu {
	background: #171724;
}

.rd-navbar-fixed.navbar-dark .navbar-navigation-root-link,
.rd-navbar-fixed.navbar-dark .navbar-navigation-dropdown-link,
.rd-navbar-fixed.navbar-dark .navbar-navigation-megamenu-link,
.rd-navbar-fixed .navbar-dark .navbar-navigation-root-link,
.rd-navbar-fixed .navbar-dark .navbar-navigation-dropdown-link,
.rd-navbar-fixed .navbar-dark .navbar-navigation-megamenu-link {
	color: #aeaeb2;
}

.rd-navbar-fixed.navbar-dark .navbar-navigation-root-link:hover,
.rd-navbar-fixed.navbar-dark .navbar-navigation-dropdown-link:hover,
.rd-navbar-fixed.navbar-dark .navbar-navigation-megamenu-link:hover,
.rd-navbar-fixed .navbar-dark .navbar-navigation-root-link:hover,
.rd-navbar-fixed .navbar-dark .navbar-navigation-dropdown-link:hover,
.rd-navbar-fixed .navbar-dark .navbar-navigation-megamenu-link:hover {
	color: #fff;
}

.rd-navbar-fixed.navbar-dark .navbar-navigation-megamenu-heading,
.rd-navbar-fixed .navbar-dark .navbar-navigation-megamenu-heading {
	color: #aeaeb2;
}

.rd-navbar-fixed.navbar-event .navbar-subpanel {
	z-index: 1;
}

.rd-navbar-fixed.navbar-event .navbar-info {
	z-index: 1;
	justify-content: flex-start;
}

.rd-navbar-fixed.navbar-event .navbar-info-icon {
	color: #171724;
}

.rd-navbar-fixed.navbar-blog .navbar-subpanel {
	z-index: 1;
}

.rd-navbar-fixed.navbar-blog .navbar-info {
	z-index: 1;
	flex-direction: column;
	align-items: flex-end;
}

.rd-navbar-fixed.navbar-blog .navbar-info > * + * {
	margin-top: 10px;
}

.rd-navbar-fixed.navbar-blog .navbar-info-icon {
	color: #171724;
}

.rd-navbar-fixed.navbar-minimal .navbar-subpanel {
	z-index: 1;
}

.rd-navbar-fixed.navbar-minimal .navbar-info > * + * {
	margin-left: 20px;
}

.rd-navbar-fixed.navbar-minimal .navbar-info-icon {
	color: #171724;
}

.rd-navbar-fullwidth {
	height: 80px;
	font-weight: 400;
	font-size: 1.0625rem;
	background-color: #fff;
	box-shadow: 0 0 0 rgba(136, 136, 136, 0);
	transition: height .2s, box-shadow .2s;
}

.rd-navbar-fullwidth .navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 23px;
	height: 100%;
}

.rd-navbar-fullwidth .navbar-cell {
	display: flex;
	align-items: stretch;
	padding: 0 17px;
}

.rd-navbar-fullwidth .navbar-spacer {
	display: block;
	flex-grow: 1;
}

.rd-navbar-fullwidth .navbar-switch {
	display: none;
}

.rd-navbar-fullwidth .navbar-panel {
	align-self: center;
}

.rd-navbar-fullwidth .navbar-subpanel {
	display: flex;
	align-self: center;
	margin: 0 -10px;
}

.rd-navbar-fullwidth .navbar-subpanel-item {
	padding: 0 10px;
}

.rd-navbar-fullwidth .navbar-button {
	display: block;
	font-size: 18px;
}

.rd-navbar-fullwidth .navbar-action-button {
	margin: 0;
}

.rd-navbar-fullwidth .navbar-info > * + * {
	margin-left: 30px;
}

.rd-navbar-fullwidth .navbar-info-button {
	display: none;
}

.rd-navbar-fullwidth .navbar-info-icon {
	color: #31c77f;
}

.rd-navbar-fullwidth .navbar-info-link {
	color: #171724;
	font-weight: 400;
	font-size: 1.0625rem;
}

.rd-navbar-fullwidth .navbar-info-link:hover {
	color: #31c77f;
}

.rd-navbar-fullwidth .navbar-search {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: scaleX(0.8);
	z-index: 1;
	display: flex;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	background: #fff;
	transition: .25s;
}

.rd-navbar-fullwidth .navbar-search-container {
	flex: 1 1 870px;
	max-width: 870px;
	margin: 0 auto;
	padding: 0 15px;
}

.rd-navbar-fullwidth .navbar-search-close {
	position: absolute;
	top: 50%;
	right: 38px;
	transform: translateY(-50%);
}

.rd-navbar-fullwidth .navbar-search-form {
	display: flex;
	align-items: center;
}

.rd-navbar-fullwidth .navbar-search-input {
	flex-grow: 1;
	font-size: 1.875rem;
	color: #171724;
	margin: 0;
	border: none;
	background: none;
}

.rd-navbar-fullwidth .navbar-search-input::placeholder {
	color: #171724;
}

.rd-navbar-fullwidth .navbar-search-close,
.rd-navbar-fullwidth .navbar-search-btn {
	color: inherit;
}

.rd-navbar-fullwidth .navbar-search-close:hover,
.rd-navbar-fullwidth .navbar-search-btn:hover {
	color: #31c77f;
}

.rd-navbar-fullwidth .navbar-search-btn {
	margin-left: 1.25rem;
	font-size: 1.75rem;
}

.rd-navbar-fullwidth .navbar-search-results {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	transform: scaleY(0);
	transform-origin: center top;
	display: flex;
	justify-content: center;
	padding: 60px 0 70px;
	opacity: 0;
	pointer-events: none;
	box-shadow: 0 0 28px rgba(93, 93, 102, 0.1);
	background: #fff;
	transition: .15s;
}

.rd-navbar-fullwidth .navbar-search-results.rd-search-show {
	transform: scaleY(1);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fullwidth .navbar-search-results.rd-search-loading .search-results {
	opacity: .5;
	pointer-events: none;
}

.rd-navbar-fullwidth .navbar-search-results .search-results {
	flex: 1 1 870px;
	max-width: 870px;
	padding: 0 15px;
}

.rd-navbar-fullwidth .navbar-search-results .search-list {
	list-style-type: none;
}

.rd-navbar-fullwidth .navbar-search-results .search-list-item {
	padding: 25px 0;
	margin: 0;
	border-bottom: 1px solid #e8e8e9;
}

.rd-navbar-fullwidth .navbar-search-results .search-list-item:first-child {
	border-top: 1px solid #e8e8e9;
}

.rd-navbar-fullwidth .navbar-search-results * + p {
	margin-top: 2px;
}

.rd-navbar-fullwidth .navbar-search-results * + .search-list,
.rd-navbar-fullwidth .navbar-search-results * + .search-list-item-all {
	margin-top: 25px;
}

.rd-navbar-fullwidth.navbar-search-active .navbar-search {
	transform: scaleX(1);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fullwidth .navbar-cart {
	position: fixed;
	top: 140px;
	bottom: 0;
	right: 0;
	transform: translateX(110%);
	width: 470px;
	max-width: 100%;
	padding: 22px 40px;
	background: #fff;
	overflow-y: auto;
	box-shadow: 0 28px 28px rgba(93, 93, 102, 0.1);
	transition: .2s;
}

.rd-navbar-fullwidth.navbar-cart-active .navbar-cart {
	transform: translateX(0);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fullwidth.rd-navbar--is-stuck {
	box-shadow: 0 0 28px rgba(93, 93, 102, 0.1);
}

.rd-navbar-fullwidth.rd-navbar--is-stuck .navbar-cart {
	top: 50px;
}

.rd-navbar-fullwidth.rd-navbar--is-stuck .navbar-action-button {
	padding-top: 1px;
	padding-bottom: 1px;
}

.rd-navbar-fullwidth.rd-navbar--is-stuck .navbar-non-stuck {
	display: none;
}

.rd-navbar-fullwidth .navbar-cart-item {
	display: flex;
	padding-bottom: 1.875rem;
	border-bottom: 1px solid #e8e8e9;
}

.rd-navbar-fullwidth .navbar-cart-item-body {
	padding: 0 20px;
	flex-grow: 1;
}

.rd-navbar-fullwidth .navbar-cart-item-heading,
.rd-navbar-fullwidth .navbar-cart-item-price {
	font-size: 1.0625rem;
	font-weight: 400;
}

.rd-navbar-fullwidth .navbar-cart-item-heading:hover {
	color: #31c77f;
}

.rd-navbar-fullwidth .navbar-cart-item-parameter {
	font-size: 0.8125rem;
	font-weight: 300;
}

.rd-navbar-fullwidth .navbar-cart-item-qty {
	display: inline-block;
	width: 3rem;
	height: 1.875rem;
	padding: 0.3125rem 0.9375rem 0.3125rem 0.625rem;
	font-size: 0.8125rem;
	text-align: center;
}

.rd-navbar-fullwidth .navbar-cart-spinner .ui-spinner-button {
	right: 0;
	width: 0.9375rem;
	height: 0.9375rem;
}

.rd-navbar-fullwidth .navbar-cart-spinner .ui-spinner-up {
	top: 0;
}

.rd-navbar-fullwidth .navbar-cart-spinner .ui-spinner-down {
	bottom: 0;
}

.rd-navbar-fullwidth .navbar-cart-remove {
	color: inherit;
}

.rd-navbar-fullwidth .navbar-cart-remove:hover {
	color: #31c77f;
}

.rd-navbar-fullwidth .navbar-cart-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.0625rem;
}

.rd-navbar-fullwidth .navbar-cart-line-value {
	font-weight: 300;
	color: #5d5d66;
}

.rd-navbar-fullwidth .navbar-cart-total {
	font-size: 2.25rem;
	font-weight: 400;
}

.rd-navbar-fullwidth .navbar-cart-group {
	display: flex;
	align-items: center;
	margin-bottom: -1.25rem;
	margin-left: -1.25rem;
}

.rd-navbar-fullwidth .navbar-cart-group:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.rd-navbar-fullwidth .navbar-cart-group > * {
	margin-top: 0;
	margin-bottom: 1.25rem;
	margin-left: 1.25rem;
}

.rd-navbar-fullwidth .navbar-cart-group > * {
	flex-grow: 1;
}

.rd-navbar-fullwidth * + .navbar-cart-item,
.rd-navbar-fullwidth * + .navbar-cart-line {
	margin-top: 1.625rem;
}

.rd-navbar-fullwidth * + .navbar-cart-buttons {
	margin-top: 10px;
}

.rd-navbar-fullwidth .navbar-cart-line + .navbar-cart-line {
	margin-top: 0.125rem;
}

.rd-navbar-fullwidth.rd-navbar--is-stuck {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}

.rd-navbar-fullwidth .navbar-navigation-back {
	display: none;
}

.rd-navbar-fullwidth .navbar-navigation {
	display: flex;
	padding: 0;
	margin: 0 -17px;
}

.rd-navbar-fullwidth .navbar-navigation-root-item {
	display: flex;
	align-items: center;
	padding: 0 17px;
}

.rd-navbar-fullwidth .navbar-navigation-root-item.focus > .navbar-navigation-root-link {
	color: #171724;
}

.rd-navbar-fullwidth .navbar-navigation-root-item.focus > .navbar-navigation-root-link::before {
	opacity: 1;
	width: 20px;
}

.rd-navbar-fullwidth .navbar-navigation-root-link {
	position: relative;
	display: block;
	line-height: 1;
	color: #171724;
}

.rd-navbar-fullwidth .navbar-navigation-root-link::before {
	content: '';
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	width: 4px;
	opacity: 0;
	height: 4px;
	border-radius: 4px;
	pointer-events: none;
	transition: .2s ease-in-out;
	background: #31c77f;
}

.rd-navbar-fullwidth .navbar-navigation-root-link:hover {
	color: #171724;
}

.rd-navbar-fullwidth .navbar-navigation-root-link:hover::before {
	opacity: 1;
	width: 20px;
}

.rd-navbar-fullwidth .navbar-navigation-root-item.active > .navbar-navigation-root-link {
	color: #171724;
}

.rd-navbar-fullwidth .navbar-navigation-root-item.active > .navbar-navigation-root-link::before {
	opacity: 1;
	width: 20px;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown {
	position: absolute;
	left: -20px;
	top: 100%;
	transform: translate(0, 10%) scale(0.8);
	z-index: 1;
	padding: 24px 20px;
	min-width: 220px;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 5px 8px 28px rgba(93, 93, 102, 0.1);
	transition: .2s;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link {
	position: relative;
	display: block;
	padding: 4px 10px;
	border-radius: 4px;
	overflow: hidden;
	color: #171724;
	transition: .2s;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link::before {
	content: '';
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(-50%, -50%);
	padding: 0;
	border-radius: 50%;
	z-index: -1;
	background: #393944;
	transition: padding .05s;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link + .rd-navbar-submenu-toggle {
	display: block;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link:hover {
	color: #fff;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link:hover::before {
	padding: 110%;
	transition: padding .25s ease-in;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link:hover + .rd-navbar-submenu-toggle {
	transition: .2s .1s;
	color: #fff;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	transform: translateY(-10%) scale(0.8);
	display: flex;
	justify-content: center;
	padding: 57px 40px 100px;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 10px 15px 18px rgba(23, 23, 36, 0.15);
	transition: .2s;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-container {
	max-width: 1320px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-row {
	display: flex;
	margin: 0 -20px;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-column {
	flex: 1 0 25%;
	padding: 0 20px;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-heading {
	padding: 0 10px;
	font-size: 1.5rem;
	line-height: 1.2;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link {
	position: relative;
	display: block;
	padding: 4px 10px;
	border-radius: 4px;
	overflow: hidden;
	color: #171724;
	transition: .2s;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link::before {
	content: '';
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(-50%, -50%);
	padding: 0;
	border-radius: 50%;
	z-index: -1;
	background: #393944;
	transition: padding .05s;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link + .rd-navbar-submenu-toggle {
	display: block;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link:hover {
	color: #fff;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link:hover::before {
	padding: 110%;
	transition: padding .25s ease-in;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link:hover + .rd-navbar-submenu-toggle {
	transition: .2s .1s;
	color: #fff;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-heading + .navbar-navigation-megamenu-row,
.rd-navbar-fullwidth .navbar-navigation-megamenu-heading + .navbar-navigation-megamenu-item {
	margin-top: 19px;
}

.rd-navbar-fullwidth .navbar-navigation-item-disabled {
	opacity: .5;
	pointer-events: none;
}

.rd-navbar-fullwidth .rd-navbar--has-dropdown {
	position: relative;
}

.rd-navbar-fullwidth .rd-navbar-submenu-toggle {
	position: absolute;
	top: 7px;
	right: 6px;
	display: none;
	font-size: .8em;
	color: inherit;
	transition: .2s;
}

.rd-navbar-fullwidth .rd-navbar-submenu-toggle::before {
	content: '\e909';
	font-family: 'Intense Icons';
}

.rd-navbar-fullwidth .rd-navbar-megamenu .rd-navbar-dropdown {
	transform: translate(10%, 0) scale(0.8);
	left: 100%;
	top: -24px;
}

.rd-navbar-fullwidth .rd-navbar-dropdown .rd-navbar-dropdown {
	transform: translate(10%, 0) scale(0.8);
	left: calc( 100% + 10px);
	top: -24px;
}

.rd-navbar-fullwidth .rd-navbar-dropdown .rd-navbar-open-left {
	transform: translate(-10%, 0) scale(0.8);
	left: auto;
	right: calc( 100% + 10px);
}

.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-dropdown, .rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-dropdown {
	transform: translate(0, 0) scale(1);
	opacity: 1;
	visibility: visible;
}

.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-megamenu, .rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-megamenu {
	transform: translateY(0) scale(1);
	opacity: 1;
	visibility: visible;
}

.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-megamenu-link, .rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-megamenu-link {
	color: #fff;
}

.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-dropdown-link::before,
.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-megamenu-link::before, .rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-dropdown-link::before,
.rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-megamenu-link::before {
	padding: 110%;
	transition: padding .25s ease-in;
}

.rd-navbar-fullwidth .rd-navbar-submenu.focus > .rd-navbar-submenu-toggle, .rd-navbar-fullwidth .rd-navbar-submenu.opened > .rd-navbar-submenu-toggle {
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark {
	background: #171724;
}

.rd-navbar-fullwidth.navbar-dark,
.rd-navbar-fullwidth .navbar-dark {
	color: #aeaeb2;
}

.rd-navbar-fullwidth.navbar-dark h1, .rd-navbar-fullwidth.navbar-dark h2, .rd-navbar-fullwidth.navbar-dark h3, .rd-navbar-fullwidth.navbar-dark h4, .rd-navbar-fullwidth.navbar-dark h5, .rd-navbar-fullwidth.navbar-dark h6, .rd-navbar-fullwidth.navbar-dark .h1, .rd-navbar-fullwidth.navbar-dark .h2, .rd-navbar-fullwidth.navbar-dark .h3, .rd-navbar-fullwidth.navbar-dark .h4, .rd-navbar-fullwidth.navbar-dark .h5, .rd-navbar-fullwidth.navbar-dark .h6,
.rd-navbar-fullwidth .navbar-dark h1,
.rd-navbar-fullwidth .navbar-dark h2,
.rd-navbar-fullwidth .navbar-dark h3,
.rd-navbar-fullwidth .navbar-dark h4,
.rd-navbar-fullwidth .navbar-dark h5,
.rd-navbar-fullwidth .navbar-dark h6,
.rd-navbar-fullwidth .navbar-dark .h1,
.rd-navbar-fullwidth .navbar-dark .h2,
.rd-navbar-fullwidth .navbar-dark .h3,
.rd-navbar-fullwidth .navbar-dark .h4,
.rd-navbar-fullwidth .navbar-dark .h5,
.rd-navbar-fullwidth .navbar-dark .h6 {
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark .navbar-logo-default,
.rd-navbar-fullwidth .navbar-dark .navbar-logo-default {
	display: none;
}

.rd-navbar-fullwidth.navbar-dark .navbar-logo-inverse,
.rd-navbar-fullwidth .navbar-dark .navbar-logo-inverse {
	display: block;
}

.rd-navbar-fullwidth.navbar-dark .navbar-button,
.rd-navbar-fullwidth .navbar-dark .navbar-button {
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark .navbar-info-link,
.rd-navbar-fullwidth .navbar-dark .navbar-info-link {
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark .navbar-info-link:hover,
.rd-navbar-fullwidth .navbar-dark .navbar-info-link:hover {
	color: #31c77f;
}

.rd-navbar-fullwidth.navbar-dark.navbar-search,
.rd-navbar-fullwidth.navbar-dark .navbar-search,
.rd-navbar-fullwidth .navbar-dark.navbar-search,
.rd-navbar-fullwidth .navbar-dark .navbar-search {
	background: #171724;
}

.rd-navbar-fullwidth.navbar-dark .navbar-search-input,
.rd-navbar-fullwidth .navbar-dark .navbar-search-input {
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark .navbar-search-input::placeholder,
.rd-navbar-fullwidth .navbar-dark .navbar-search-input::placeholder {
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark .navbar-search-results,
.rd-navbar-fullwidth .navbar-dark .navbar-search-results {
	background: #171724;
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark.navbar-cart,
.rd-navbar-fullwidth.navbar-dark .navbar-cart,
.rd-navbar-fullwidth .navbar-dark.navbar-cart,
.rd-navbar-fullwidth .navbar-dark .navbar-cart {
	background: #171724;
}

.rd-navbar-fullwidth.navbar-dark .navbar-cart-item,
.rd-navbar-fullwidth .navbar-dark .navbar-cart-item {
	border-bottom-color: #393944;
}

.rd-navbar-fullwidth.navbar-dark .navbar-cart-item-qty,
.rd-navbar-fullwidth .navbar-dark .navbar-cart-item-qty {
	background-color: #393944;
	border-color: #5d5d66;
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark .navbar-cart-item-heading,
.rd-navbar-fullwidth.navbar-dark .navbar-cart-item-price,
.rd-navbar-fullwidth.navbar-dark .navbar-cart-line-name,
.rd-navbar-fullwidth.navbar-dark .navbar-cart-total,
.rd-navbar-fullwidth .navbar-dark .navbar-cart-item-heading,
.rd-navbar-fullwidth .navbar-dark .navbar-cart-item-price,
.rd-navbar-fullwidth .navbar-dark .navbar-cart-line-name,
.rd-navbar-fullwidth .navbar-dark .navbar-cart-total {
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark .navbar-cart-item-heading:hover,
.rd-navbar-fullwidth .navbar-dark .navbar-cart-item-heading:hover {
	color: #31c77f;
}

.rd-navbar-fullwidth.navbar-dark .navbar-cart-line-value,
.rd-navbar-fullwidth .navbar-dark .navbar-cart-line-value {
	color: #aeaeb2;
}

.rd-navbar-fullwidth.navbar-dark.navbar-navigation-dropdown, .rd-navbar-fullwidth.navbar-dark.navbar-navigation-megamenu,
.rd-navbar-fullwidth.navbar-dark .navbar-navigation-dropdown,
.rd-navbar-fullwidth.navbar-dark .navbar-navigation-megamenu,
.rd-navbar-fullwidth .navbar-dark.navbar-navigation-dropdown,
.rd-navbar-fullwidth .navbar-dark.navbar-navigation-megamenu,
.rd-navbar-fullwidth .navbar-dark .navbar-navigation-dropdown,
.rd-navbar-fullwidth .navbar-dark .navbar-navigation-megamenu {
	background: #23232f;
}

.rd-navbar-fullwidth.navbar-dark .navbar-navigation-root-link,
.rd-navbar-fullwidth.navbar-dark .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth.navbar-dark .navbar-navigation-megamenu-link,
.rd-navbar-fullwidth .navbar-dark .navbar-navigation-root-link,
.rd-navbar-fullwidth .navbar-dark .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth .navbar-dark .navbar-navigation-megamenu-link {
	color: #aeaeb2;
}

.rd-navbar-fullwidth.navbar-dark .navbar-navigation-root-link:hover,
.rd-navbar-fullwidth.navbar-dark .navbar-navigation-dropdown-link:hover,
.rd-navbar-fullwidth.navbar-dark .navbar-navigation-megamenu-link:hover,
.rd-navbar-fullwidth .navbar-dark .navbar-navigation-root-link:hover,
.rd-navbar-fullwidth .navbar-dark .navbar-navigation-dropdown-link:hover,
.rd-navbar-fullwidth .navbar-dark .navbar-navigation-megamenu-link:hover {
	color: #fff;
}

.rd-navbar-fullwidth.navbar-dark .navbar-navigation-root-link::before,
.rd-navbar-fullwidth .navbar-dark .navbar-navigation-root-link::before {
	background: #fff;
}

.rd-navbar-fullwidth.navbar-dark .rd-navbar-submenu.focus > .navbar-navigation-root-link,
.rd-navbar-fullwidth.navbar-dark .rd-navbar-submenu.focus > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth.navbar-dark .rd-navbar-submenu.focus > .navbar-navigation-megamenu-link, .rd-navbar-fullwidth.navbar-dark .rd-navbar-submenu.active > .navbar-navigation-root-link,
.rd-navbar-fullwidth.navbar-dark .rd-navbar-submenu.active > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth.navbar-dark .rd-navbar-submenu.active > .navbar-navigation-megamenu-link, .rd-navbar-fullwidth.navbar-dark .rd-navbar-submenu.opened > .navbar-navigation-root-link,
.rd-navbar-fullwidth.navbar-dark .rd-navbar-submenu.opened > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth.navbar-dark .rd-navbar-submenu.opened > .navbar-navigation-megamenu-link,
.rd-navbar-fullwidth .navbar-dark .rd-navbar-submenu.focus > .navbar-navigation-root-link,
.rd-navbar-fullwidth .navbar-dark .rd-navbar-submenu.focus > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth .navbar-dark .rd-navbar-submenu.focus > .navbar-navigation-megamenu-link,
.rd-navbar-fullwidth .navbar-dark .rd-navbar-submenu.active > .navbar-navigation-root-link,
.rd-navbar-fullwidth .navbar-dark .rd-navbar-submenu.active > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth .navbar-dark .rd-navbar-submenu.active > .navbar-navigation-megamenu-link,
.rd-navbar-fullwidth .navbar-dark .rd-navbar-submenu.opened > .navbar-navigation-root-link,
.rd-navbar-fullwidth .navbar-dark .rd-navbar-submenu.opened > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth .navbar-dark .rd-navbar-submenu.opened > .navbar-navigation-megamenu-link {
	color: #fff;
}

.rd-navbar-fullwidth.navbar-consulting .navbar-cell:first-child, .rd-navbar-fullwidth.navbar-consulting .navbar-cell:last-child {
	flex-basis: 50%;
}

.rd-navbar-fullwidth.navbar-consulting .navbar-cell:last-child {
	justify-content: flex-end;
}

.rd-navbar-fullwidth.navbar-businnes .navbar-container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 5px;
}

.rd-navbar-fullwidth.navbar-businnes .navbar-cell {
	padding: 0 30px;
}

.rd-navbar-fullwidth.navbar-studio {
	height: auto;
	transition: none;
}

.rd-navbar-fullwidth.navbar-studio .navbar-section {
	height: 70px;
	transition: height .2s;
}

.rd-navbar-fullwidth.navbar-studio .navbar-container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 5px;
}

.rd-navbar-fullwidth.navbar-studio.rd-navbar--is-stuck {
	height: auto;
}

.rd-navbar-fullwidth.navbar-studio.rd-navbar--is-stuck .navbar-section {
	height: 50px;
}

.rd-navbar-fullwidth.navbar-app .navbar-container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0;
}

.rd-navbar-fullwidth.navbar-app .navbar-cell {
	padding: 0 20px;
}

.rd-navbar-fullwidth.navbar-app .navbar-action-button {
	border-radius: 25px;
}

.rd-navbar-fullwidth.navbar-app .rd-navbar--is-stuck .navbar-action-button {
	border-radius: 15px;
}

.rd-navbar-fullwidth.navbar-event {
	height: auto;
	transition: none;
}

.rd-navbar-fullwidth.navbar-event .navbar-section {
	height: 80px;
	transition: height .2s;
}

.rd-navbar-fullwidth.navbar-event .navbar-section:first-child {
	height: 60px;
}

.rd-navbar-fullwidth.navbar-event .navbar-section:not(:first-child) {
	border-top: 1px solid #e8e8e9;
}

.rd-navbar-fullwidth.navbar-event .navbar-container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 5px;
}

.rd-navbar-fullwidth.navbar-event .navbar-subpanel,
.rd-navbar-fullwidth.navbar-event .navbar-subpanel-item {
	flex-grow: 1;
}

.rd-navbar-fullwidth.navbar-event .navbar-info {
	display: flex;
	justify-content: space-between;
}

.rd-navbar-fullwidth.navbar-event .navbar-info-icon {
	color: #171724;
}

.rd-navbar-fullwidth.navbar-event .navbar-navigation-root-link::before {
	background: #171724;
}

.rd-navbar-fullwidth.navbar-event.rd-navbar--is-stuck {
	height: auto;
}

.rd-navbar-fullwidth.navbar-event.rd-navbar--is-stuck .navbar-section {
	height: 50px;
}

.rd-navbar-fullwidth.navbar-event.rd-navbar--is-stuck .navbar-non-stuck {
	display: none;
}

.rd-navbar-fullwidth.navbar-blog {
	height: auto;
	transition: none;
}

.rd-navbar-fullwidth.navbar-blog .navbar-section {
	height: 80px;
	transition: height .2s;
}

.rd-navbar-fullwidth.navbar-blog .navbar-section:first-child {
	height: 50px;
}

.rd-navbar-fullwidth.navbar-blog .navbar-section:not(:last-child) {
	border-bottom: 1px solid #e8e8e9;
}

.rd-navbar-fullwidth.navbar-blog .navbar-container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 5px;
}

.rd-navbar-fullwidth.navbar-blog .navbar-info {
	display: flex;
	flex-grow: 1;
	align-self: stretch;
	align-items: center;
	justify-content: space-between;
}

.rd-navbar-fullwidth.navbar-blog .navbar-info-icon {
	color: #171724;
}

.rd-navbar-fullwidth.navbar-blog.rd-navbar--is-stuck .navbar-section {
	height: 50px;
}

@media (min-width: 1600px) {
	.rd-navbar-fullwidth.navbar-store .navbar-cell:first-child, .rd-navbar-fullwidth.navbar-store .navbar-cell:last-child {
		flex-basis: 50%;
	}
	.rd-navbar-fullwidth.navbar-store .navbar-cell:last-child {
		justify-content: flex-end;
	}
}

.rd-navbar-fullwidth.navbar-minimal {
	height: auto;
	transition: none;
}

.rd-navbar-fullwidth.navbar-minimal .navbar-section {
	height: 60px;
	transition: height .2s;
}

.rd-navbar-fullwidth.navbar-minimal .navbar-container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 5px;
}

.rd-navbar-fullwidth.navbar-minimal .navbar-info-icon {
	color: #171724;
}

.rd-navbar-fullwidth.navbar-minimal.rd-navbar--is-stuck {
	height: auto;
}

.rd-navbar-fullwidth.navbar-minimal.rd-navbar--is-stuck .navbar-section {
	height: 50px;
}

[data-x-mode='true'] .rd-navbar-fullwidth .navbar-navigation-root-item > .rd-navbar-submenu-toggle {
	position: static;
	display: block;
	margin-left: 6px;
	line-height: 1;
}

[data-x-mode='true'] .rd-navbar-fullwidth .navbar-navigation-root-item > .rd-navbar-submenu-toggle::before {
	content: '\e924';
}

[data-x-mode='true'] .rd-navbar-fullwidth .navbar-navigation-root-item > .rd-navbar-submenu-toggle:hover {
	cursor: pointer;
}

[data-x-mode='true'] .rd-navbar-fullwidth .navbar-navigation-root-item.opened > .rd-navbar-submenu-toggle {
	color: #31c77f;
}
/*# sourceMappingURL=rd-navbar.css.map */
