.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #171724
}

.table th,.table td {
    padding: 19px 20px;
    vertical-align: top;
    border-top: 1px solid #e8e8e9
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e8e8e9
}

.table tbody+tbody {
    border-top: 2px solid #e8e8e9
}

.table-sm th,.table-sm td {
    padding: .3rem
}

.table-bordered {
    border: 1px solid #e8e8e9
}

.table-bordered th,.table-bordered td {
    border: 1px solid #e8e8e9
}

.table-bordered thead th,.table-bordered thead td {
    border-bottom-width: 2px
}

.table-borderless th,.table-borderless td,.table-borderless thead th,.table-borderless tbody+tbody {
    border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f7f7
}

.table-hover tbody tr:hover {
    color: #171724;
    background-color: rgba(0,0,0,.075)
}

.table-primary,.table-primary>th,.table-primary>td {
    background-color: #c5efdb
}

.table-primary th,.table-primary td,.table-primary thead th,.table-primary tbody+tbody {
    border-color: #94e2bc
}

.table-hover .table-primary:hover {
    background-color: #b1e9cf
}

.table-hover .table-primary:hover>td,.table-hover .table-primary:hover>th {
    background-color: #b1e9cf
}

.table-secondary,.table-secondary>th,.table-secondary>td {
    background-color: #d6c8ed
}

.table-secondary th,.table-secondary td,.table-secondary thead th,.table-secondary tbody+tbody {
    border-color: #b298dd
}

.table-hover .table-secondary:hover {
    background-color: #c8b5e7
}

.table-hover .table-secondary:hover>td,.table-hover .table-secondary:hover>th {
    background-color: #c8b5e7
}

.table-success,.table-success>th,.table-success>td {
    background-color: #d9ecc1
}

.table-success th,.table-success td,.table-success thead th,.table-success tbody+tbody {
    border-color: #b8db8c
}

.table-hover .table-success:hover {
    background-color: #cde6ad
}

.table-hover .table-success:hover>td,.table-hover .table-success:hover>th {
    background-color: #cde6ad
}

.table-info,.table-info>th,.table-info>td {
    background-color: #bddff7
}

.table-info th,.table-info td,.table-info thead th,.table-info tbody+tbody {
    border-color: #84c3f1
}

.table-hover .table-info:hover {
    background-color: #a6d4f4
}

.table-hover .table-info:hover>td,.table-hover .table-info:hover>th {
    background-color: #a6d4f4
}

.table-warning,.table-warning>th,.table-warning>td {
    background-color: #fbe2bc
}

.table-warning th,.table-warning td,.table-warning thead th,.table-warning tbody+tbody {
    border-color: #f8c983
}

.table-hover .table-warning:hover {
    background-color: #fad8a4
}

.table-hover .table-warning:hover>td,.table-hover .table-warning:hover>th {
    background-color: #fad8a4
}

.table-danger,.table-danger>th,.table-danger>td {
    background-color: #f8c2d2
}

.table-danger th,.table-danger td,.table-danger thead th,.table-danger tbody+tbody {
    border-color: #f38eac
}

.table-hover .table-danger:hover {
    background-color: #f5abc1
}

.table-hover .table-danger:hover>td,.table-hover .table-danger:hover>th {
    background-color: #f5abc1
}

.table-light,.table-light>th,.table-light>td {
    background-color: #fdfdfd
}

.table-light th,.table-light td,.table-light thead th,.table-light tbody+tbody {
    border-color: #fbfbfb
}

.table-hover .table-light:hover {
    background-color: #f0f0f0
}

.table-hover .table-light:hover>td,.table-hover .table-light:hover>th {
    background-color: #f0f0f0
}

.table-dark,.table-dark>th,.table-dark>td {
    background-color: #bebec2
}

.table-dark th,.table-dark td,.table-dark thead th,.table-dark tbody+tbody {
    border-color: #86868d
}

.table-hover .table-dark:hover {
    background-color: #b1b1b6
}

.table-hover .table-dark:hover>td,.table-hover .table-dark:hover>th {
    background-color: #b1b1b6
}

.table-active,.table-active>th,.table-active>td {
    background-color: rgba(0,0,0,.075)
}

.table-hover .table-active:hover {
    background-color: rgba(0,0,0,.075)
}

.table-hover .table-active:hover>td,.table-hover .table-active:hover>th {
    background-color: rgba(0,0,0,.075)
}

.table .thead-dark th {
    color: #fff;
    background-color: #23232f;
    border-color: #333345
}

.table .thead-light th {
    color: #393944;
    background-color: #f7f7f7;
    border-color: #e8e8e9
}

.table-dark {
    color: #fff;
    background-color: #23232f
}

.table-dark th,.table-dark td,.table-dark thead th {
    border-color: #333345
}

.table-dark.table-bordered {
    border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.05)
}

.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255,255,255,.075)
}

@media(max-width: 479.98px) {
    .table-responsive-xs {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-xs>.table-bordered {
        border: 0
    }
}

@media(max-width: 575.98px) {
    .table-responsive-sm {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-sm>.table-bordered {
        border: 0
    }
}

@media(max-width: 767.98px) {
    .table-responsive-md {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-md>.table-bordered {
        border: 0
    }
}

@media(max-width: 991.98px) {
    .table-responsive-lg {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-lg>.table-bordered {
        border: 0
    }
}

@media(max-width: 1199.98px) {
    .table-responsive-xl {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-xl>.table-bordered {
        border: 0
    }
}

@media(max-width: 1599.98px) {
    .table-responsive-xxl {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-xxl>.table-bordered {
        border: 0
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.table-responsive>.table-bordered {
    border: 0
}

.table {
    font-weight: 400;
    margin-bottom: 0
}

.table thead th {
    color: #5d5d66;
    font-size: 1.0625rem;
    font-weight: 300;
    border-bottom: 1px solid #e8e8e9
}

.table thead th:first-child {
    color: #171724
}

.table th,.table td {
    vertical-align: middle
}

.table th:not(:first-child),.table td:not(:first-child) {
    border-left: 1px solid #e8e8e9
}

*+.table-title {
    margin-top: 30px
}

.table-title+.table {
    margin-top: 10px
}

.table-striped tbody td {
    border-top-color: transparent
}

.table-classic thead th {
    border-top: 2px solid #171724;
    border-bottom-color: #171724
}

.table-modern {
    box-shadow: 5px 8px 28px rgba(23,23,36,.1);
    border-radius: 6px
}

.table-modern thead th {
    border-top-color: transparent;
    border-bottom: 2px solid #171724
}

.table-creative {
    border-radius: 6px;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1)
}

.table-creative thead th {
    border-top-color: transparent
}

.table-creative thead th:first-child {
    border-top-left-radius: 6px
}

.table-creative thead th:last-child {
    border-top-right-radius: 6px
}

.table-creative thead th:nth-child(-n+2) {
    color: #fff;
    background: #6b39bd;
    border-bottom-color: #393944;
    border-left-color: #393944
}

.table-creative thead th:nth-child(n+3) {
    background: #f7f7f7
}

.table-creative tbody tr:last-child td:first-child {
    border-bottom-left-radius: 6px
}

.table-creative td:nth-child(-n+2) {
    color: #fff;
    background: #6b39bd;
    border-top-color: #393944;
    border-left-color: #393944
}

.context-dark .table {
    color: #aeaeb2
}

.context-dark .table th {
    color: inherit
}

.context-dark .table th,.context-dark .table td {
    border-color: #393944
}

.context-dark .table-striped tbody tr:nth-of-type(odd) {
    background: #2c2c37
}

.context-dark .table-creative thead th:nth-child(n+3) {
    background: #2c2c37
}

@media(min-width: 992px) {
    *+.table-title {
        margin-top:50px
    }
}

@media(min-width: 1600px) {
    *+.table-title {
        margin-top:65px
    }
}
