
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--color--theme--light-one)
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #aaaaaa;
    border: 1px solid var(--color--theme--light-one)
}