::selection {
    background-color: rgba(61,90,254,.15)
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--color--theme--light-one)
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2b333b;
    border: 2px solid var(--color--theme--light-one)
}