.rd-range {
    height: 18px;
    margin-top: 4px;
    display: flex;
    align-items: center
}

.rd-range__wrap {
    position: relative;
    width: 100%;
    background-color: #e8e8e9;
    transition: background 100ms cubic-bezier(.23,1,.32,1);
    height: 2px
}

.rd-range:hover .rd-range__pointer:before {
    transform: scale(1);
    animation-name: pulse
}

.rd-range__pointer {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 6%;
    z-index: 1;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transform-origin: 0% 15%;
    transition: transform .2s cubic-bezier(.35,0,.25,1);
    overflow: visible;
    background-color: #171724;
    background-clip: padding-box
}

@media(min-width: 768px) {
    .rd-range__pointer {
        width:12px;
        height: 12px
    }

    .rd-range__pointer:before {
        content: '';
        height: 26px;
        width: 26px;
        pointer-events: none;
        background: rgba(49,199,127,.16);
        position: absolute;
        top: -7px;
        left: -7px;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 100ms cubic-bezier(.445,.05,.55,.95) 0ms,opacity 60ms cubic-bezier(.445,.05,.55,.95) 0ms;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: infinite
    }

    .rd-range__pointer.active {
        transform: scale3d(1.5,1.5,1.5) translate(-50%,-50%)
    }

    .rd-range__pointer.active:before {
        animation: none;
        transform: scale(0);
        opacity: 0
    }
}

.rd-range__line {
    background-color: #171724;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px
}

.rd-range.hasTooltip .rd-range__pointer-tooltip {
    font-size: 12px;
    color: #fff;
    opacity: 0;
    transition: color .3s cubic-bezier(.35,0,.25,1)
}

.rd-range.hasTooltip .rd-range__pointer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -38px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    transform: scale(.45) translate3d(0,67.5px,0);
    transition: transform .3s cubic-bezier(.35,0,.25,1)
}

.rd-range.hasTooltip .rd-range__pointer:before {
    content: none
}

.rd-range.hasTooltip .rd-range__pointer:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 16px solid #171724;
    opacity: 0;
    transform: translate3d(0,-8px,0);
    transition: all .2s cubic-bezier(.35,0,.25,1)
}

.rd-range.hasTooltip .rd-range__pointer.active {
    opacity: 1;
    transform: translate3d(0,0,0) scale(1) translateX(-14px)
}

.rd-range.hasTooltip .rd-range__pointer.active:after {
    opacity: 1;
    transform: translate3d(0,0,0) scale(1)
}

.rd-range.hasTooltip .rd-range__pointer.active .rd-range__pointer-tooltip {
    opacity: 1
}

.rd-range-value {
    display: flex;
    font-size: 1.0625rem
}

.rd-range-form-wrap {
    display: flex;
    flex: 1
}

.rd-range-form-wrap:last-child {
    justify-content: flex-end
}

.rd-range-input {
    font-weight: inherit;
    border: none;
    padding: 0;
    color: inherit;
    background-color: transparent
}
