.pricing-box {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.0625rem;
    border: 1px solid #e8e8e9;
    border-radius: .375rem
}

.pricing-box-header {
    padding: 20px 15px 0;
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem
}

.pricing-box-label {
    font-weight: 400
}

.pricing-box-divider {
    border-bottom: 1px solid #e8e8e9
}

.pricing-box-body {
    padding: 20px 15px
}

.pricing-box-postfix {
    font-size: .35em
}

.pricing-box-value {
    font-size: 4.125rem;
    font-weight: 400;
    line-height: 1.2;
    color: #171724
}

.pricing-box-value-meta {
    color: #6b39bd;
    font-weight: 400
}

.pricing-box-list {
    list-style-type: none;
    padding-left: 0
}

.pricing-box-list>li+li {
    margin-top: 9px
}

.pricing-box-list-icon {
    padding-right: .7em;
    font-size: 1.575rem;
    vertical-align: middle
}

.pricing-box-links {
    text-align: center
}

.pricing-box-link {
    padding-left: .3em;
    font-weight: 400;
    color: #6b39bd
}

.pricing-box-link:hover,.pricing-box-link:focus {
    color: #aeaeb2
}

*+.pricing-box-title {
    margin-top: 6px
}

*+.pricing-box-divider {
    margin-top: 15px
}

*+.pricing-box-list {
    margin-top: 15px
}

*+.pricing-box-btn {
    margin-top: 15px
}

*+.pricing-box-links {
    margin-top: 15px
}

.pricing-box-filled {
    background-color: #f7f7f7;
    border: none
}

[class*=pricing-box-accent-] {
    border: none;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1)
}

[class*=pricing-box-accent-] .pricing-box-title {
    color: inherit
}

[class*=pricing-box-accent-] .pricing-box-divider {
    border-color: transparent
}

.pricing-box-accent-primary .pricing-box-header {
    color: #fff;
    background-color: #31c77f
}

.pricing-box-accent-secondary .pricing-box-header {
    color: #fff;
    background-color: #6b39bd
}

.pricing-box-accent-success .pricing-box-header {
    color: #fff;
    background-color: #77ba21
}

.pricing-box-accent-info .pricing-box-header {
    color: #fff;
    background-color: #138ce4
}

.pricing-box-accent-warning .pricing-box-header {
    color: #fff;
    background-color: #f19711
}

.pricing-box-accent-danger .pricing-box-header {
    color: #fff;
    background-color: #e72660
}

.pricing-box-accent-light .pricing-box-header {
    color: #171724;
    background-color: #f7f7f7
}

.pricing-box-accent-dark .pricing-box-header {
    color: #fff;
    background-color: #171724
}

@media(min-width: 1600px) {
    .pricing-box-header {
        padding:32px 40px 0
    }

    .pricing-box-body {
        padding: 36px 40px 39px
    }

    .pricing-box-list>li+li {
        margin-top: 18px
    }

    *+.pricing-box-title {
        margin-top: 12px
    }

    *+.pricing-box-subtitle {
        margin-top: 8px
    }

    *+.pricing-box-divider {
        margin-top: 20px
    }

    *+.pricing-box-list {
        margin-top: 39px
    }

    *+.pricing-box-btn {
        margin-top: 41px
    }

    *+.pricing-box-links {
        margin-top: 22px
    }

    .pricing-box-accent .pricing-box-header {
        padding: 40px 40px 0
    }
}

.pricing-column {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 15px;
    font-size: 1.0625rem;
    border: 1px solid #e8e8e9
}

.pricing-column-label {
    display: inline-block;
    padding: 2px 10px;
    font-size: .93188rem;
    font-weight: 500;
    color: #fff;
    background-color: #6b39bd;
    border-radius: .2rem
}

.pricing-column-divider {
    border-bottom: 2px solid #171724
}

.pricing-column-value {
    font-size: 2.875rem;
    line-height: 1.2;
    font-weight: 400;
    color: #171724
}

.pricing-column-postfix {
    font-size: .55em
}

.pricing-column-value-meta {
    color: #6b39bd;
    font-weight: 400
}

.pricing-column-links {
    text-align: center
}

.pricing-column-link {
    padding-left: .3em;
    font-weight: 400;
    color: #6b39bd
}

.pricing-column-link:hover,.pricing-column-link:focus {
    color: #aeaeb2
}

*+.pricing-column-title {
    margin-top: 6px
}

*+.pricing-column-divider {
    margin-top: 15px
}

*+.pricing-column-value {
    margin-top: 25px
}

*+.pricing-column-list {
    margin-top: 15px
}

*+.pricing-column-btn {
    margin-top: 15px
}

*+.pricing-column-links {
    margin-top: 15px
}

.pricing-column-accent {
    position: relative;
    z-index: 1;
    border: none;
    background-color: #fff;
    box-shadow: 5px 8px 28px rgba(23,23,36,.1)
}

@media(min-width: 992px) {
    .pricing-column {
        margin-left:-1px
    }

    .pricing-column-accent {
        margin: -40px -1px 0;
        padding-bottom: 70px
    }
}

@media(min-width: 1600px) {
    .pricing-column {
        padding:35px 40px
    }

    .pricing-column-accent {
        padding: 35px 40px 70px
    }

    *+.pricing-column-title {
        margin-top: 11px
    }

    *+.pricing-column-subtitle {
        margin-top: 2px
    }

    *+.pricing-column-divider {
        margin-top: 14px
    }

    *+.pricing-column-value {
        margin-top: 35px
    }

    *+.pricing-column-list {
        margin-top: 26px
    }

    *+.pricing-column-btn {
        margin-top: 36px
    }

    *+.pricing-column-links {
        margin-top: 22px
    }
}
