.custom-control {https://https://https://https://https://https://https://https://https://https://https://https://https://https://
	position: relative;
	display: block;
	min-height: 2.02125rem;
	padding-left: 2.75rem;
}

.custom-control-inline {
	display: inline-flex;
	margin-right: 1rem;
}

.custom-control-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #171724;
	border-color: #e8e8e9;
	background-color: #fff;
}

.custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 1px #e8e8e9;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	border-color: #e8e8e9;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.35);
	border-color: #e8e8e9;
}

.custom-control-input:disabled ~ .custom-control-label {
	color: #aeaeb2;
}

.custom-control-input:disabled ~ .custom-control-label::before {
	background-color: rgba(250, 250, 250, 0.8);
}

.custom-control-label {
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
}

.custom-control-label::before {
	position: absolute;
	top: 0.19813rem;
	left: -2.75rem;
	display: block;
	width: 1.625rem;
	height: 1.625rem;
	pointer-events: none;
	content: "";
	background-color: #fafafa;
	border: #e8e8e9 solid 1px;
}

.custom-control-label::after {
	position: absolute;
	top: 0.19813rem;
	left: -2.75rem;
	display: block;
	width: 1.625rem;
	height: 1.625rem;
	content: "";
	background: no-repeat 50% / 50% 50%;
}

.custom-checkbox .custom-control-label::before {
	border-radius: 0.375rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpath fill='transparent' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='%23171724' d='M10 1L4 7L1 4'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
	border-color: #31c77f;
	background-color: #31c77f;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
	background-color: rgba(255, 255, 255, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
	background-color: rgba(255, 255, 255, 0.5);
}

.custom-radio .custom-control-label::before {
	border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'%3e%3ccircle r='3' fill='%23171724'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
	background-color: rgba(255, 255, 255, 0.5);
}

.custom-switch {
	padding-left: 4.875rem;
}

.custom-switch .custom-control-label::before {
	left: -4.875rem;
	width: 3.75rem;
	pointer-events: all;
	border-radius: 50rem;
}

.custom-switch .custom-control-label::after {
	top: calc(0.19813rem + 2px);
	left: calc(-4.875rem + 2px);
	width: 1.625rem;
	height: 1.625rem;
	background-color: #e8e8e9;
	border-radius: 50rem;
	transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.custom-switch .custom-control-label::after {
		transition: none;
	}
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	background-color: #fafafa;
	transform: translateX(2.125rem);
}

.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
	background-color: rgba(255, 255, 255, 0.5);
}

.custom-select {
	display: inline-block;
	width: 100%;
	height: 3.77125rem;
	padding: 0.8125rem 2.25rem 0.8125rem 1.25rem;
	font-size: 1.3125rem;
	font-weight: 400;
	line-height: 1.54;
	color: #5d5d66;
	vertical-align: middle;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%2323232f' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.25rem center/8px 10px;
	background-color: #fafafa;
	border: 1px solid #e8e8e9;
	border-radius: 0.375rem;
	appearance: none;
}

.custom-select:focus {
	border-color: #e8e8e9;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(49, 199, 127, 0.25);
}

.custom-select:focus::-ms-value {
	color: #5d5d66;
	background-color: #fafafa;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
	height: auto;
	padding-right: 1.25rem;
	background-image: none;
}

.custom-select:disabled {
	color: #5d5d66;
	background-color: #f7f7f7;
}

.custom-select::-ms-expand {
	display: none;
}

.custom-select-sm {
	height: calc(1.7em + 0.5rem + 2px);
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	font-size: 1.0625rem;
}

.custom-select-lg {
	height: 4.13588rem;
	padding-top: 0.89375rem;
	padding-bottom: 0.89375rem;
	padding-left: 1.375rem;
	font-size: 1.44375rem;
}

.custom-file {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 3.77125rem;
	margin-bottom: 0;
}

.custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 3.77125rem;
	margin: 0;
	opacity: 0;
}

.custom-file-input:focus ~ .custom-file-label {
	border-color: #e8e8e9;
	box-shadow: 0 0 0 1px #e8e8e9;
}

.custom-file-input:disabled ~ .custom-file-label {
	background-color: rgba(250, 250, 250, 0.8);
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
	content: "Browse";
}

.custom-file-input ~ .custom-file-label[data-browse]::after {
	content: attr(data-browse);
}

.custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: 3.77125rem;
	padding: 0.8125rem 1.25rem;
	font-weight: 400;
	line-height: 1.54;
	color: #5d5d66;
	background-color: #fafafa;
	border: 1px solid #e8e8e9;
	border-radius: 0.375rem;
}

.custom-file-label::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	display: block;
	height: calc(1.54em + 1.625rem);
	padding: 0.8125rem 1.25rem;
	line-height: 1.54;
	color: #5d5d66;
	content: "Browse";
	background-color: #fafafa;
	border-left: inherit;
	border-radius: 0 0.375rem 0.375rem 0;
}

.custom-range {
	width: 100%;
	height: calc(1rem + 0.4rem);
	padding: 0;
	background-color: transparent;
	appearance: none;
}

.custom-range:focus {
	outline: none;
}

.custom-range:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 1px #e8e8e9;
}

.custom-range:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 1px #e8e8e9;
}

.custom-range:focus::-ms-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 1px #e8e8e9;
}

.custom-range::-moz-focus-outer {
	border: 0;
}

.custom-range::-webkit-slider-thumb {
	width: 1rem;
	height: 1rem;
	margin-top: -0.25rem;
	background-color: #31c77f;
	border: 0;
	border-radius: 1rem;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	appearance: none;
}

@media (prefers-reduced-motion: reduce) {
	.custom-range::-webkit-slider-thumb {
		transition: none;
	}
}

.custom-range::-webkit-slider-thumb:active {
	background-color: #bcefd6;
}

.custom-range::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.5rem;
	color: transparent;
	cursor: pointer;
	background-color: #e8e8e9;
	border-color: transparent;
	border-radius: 1rem;
}

.custom-range::-moz-range-thumb {
	width: 1rem;
	height: 1rem;
	background-color: #31c77f;
	border: 0;
	border-radius: 1rem;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	appearance: none;
}

@media (prefers-reduced-motion: reduce) {
	.custom-range::-moz-range-thumb {
		transition: none;
	}
}

.custom-range::-moz-range-thumb:active {
	background-color: #bcefd6;
}

.custom-range::-moz-range-track {
	width: 100%;
	height: 0.5rem;
	color: transparent;
	cursor: pointer;
	background-color: #e8e8e9;
	border-color: transparent;
	border-radius: 1rem;
}

.custom-range::-ms-thumb {
	width: 1rem;
	height: 1rem;
	margin-top: 0;
	margin-right: 0.2rem;
	margin-left: 0.2rem;
	background-color: #31c77f;
	border: 0;
	border-radius: 1rem;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	appearance: none;
}

@media (prefers-reduced-motion: reduce) {
	.custom-range::-ms-thumb {
		transition: none;
	}
}

.custom-range::-ms-thumb:active {
	background-color: #bcefd6;
}

.custom-range::-ms-track {
	width: 100%;
	height: 0.5rem;
	color: transparent;
	cursor: pointer;
	background-color: transparent;
	border-color: transparent;
	border-width: 0.5rem;
}

.custom-range::-ms-fill-lower {
	background-color: #e8e8e9;
	border-radius: 1rem;
}

.custom-range::-ms-fill-upper {
	margin-right: 15px;
	background-color: #e8e8e9;
	border-radius: 1rem;
}

.custom-range:disabled::-webkit-slider-thumb {
	background-color: #adb5bd;
}

.custom-range:disabled::-webkit-slider-runnable-track {
	cursor: default;
}

.custom-range:disabled::-moz-range-thumb {
	background-color: #adb5bd;
}

.custom-range:disabled::-moz-range-track {
	cursor: default;
}

.custom-range:disabled::-ms-thumb {
	background-color: #adb5bd;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.custom-control-label::before,
	.custom-file-label,
	.custom-select {
		transition: none;
	}
}

.form-control {
	display: block;
	width: 100%;
	height: 3.77125rem;
	padding: 0.8125rem 1.25rem;
	font-size: 1.3125rem;
	font-weight: 400;
	line-height: 1.54;
	color: #5d5d66;
	background-color: #fafafa;
	background-clip: padding-box;
	border: 1px solid #e8e8e9;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.form-control {
		transition: none;
	}
}

.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.form-control:focus {
	color: #171724;
	background-color: #fff;
	border-color: #e8e8e9;
	outline: 0;
	box-shadow: 0 0 0 1px #e8e8e9;
}

.form-control::placeholder {
	color: #5d5d66;
	opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
	background-color: rgba(250, 250, 250, 0.8);
	opacity: 1;
}

select.form-control:focus::-ms-value {
	color: #5d5d66;
	background-color: #fafafa;
}

.form-control-file,
.form-control-range {
	display: block;
	width: 100%;
}

.col-form-label {
	padding-top: calc(0.8125rem + 1px);
	padding-bottom: calc(0.8125rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.54;
}

.col-form-label-lg {
	padding-top: calc(0.89375rem + 1px);
	padding-bottom: calc(0.89375rem + 1px);
	font-size: 1.44375rem;
	line-height: 1.54;
}

.col-form-label-sm {
	padding-top: calc(0.25rem + 1px);
	padding-bottom: calc(0.25rem + 1px);
	font-size: 1.0625rem;
	line-height: 1.7;
}

.form-control-plaintext {
	display: block;
	width: 100%;
	padding-top: 0.8125rem;
	padding-bottom: 0.8125rem;
	margin-bottom: 0;
	line-height: 1.54;
	color: #5d5d66;
	background-color: transparent;
	border: solid transparent;
	border-width: 1px 0;
}

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
	padding-right: 0;
	padding-left: 0;
}

.form-control-sm {
	height: calc(1.7em + 0.5rem + 2px);
	padding: 0.25rem 0.5rem;
	font-size: 1.0625rem;
	line-height: 1.7;
	border-radius: 0.2rem;
}

.form-control-lg {
	height: 4.13588rem;
	padding: 0.89375rem 1.375rem;
	font-size: 1.44375rem;
	line-height: 1.54;
	border-radius: 0.875rem;
}

select.form-control[size], select.form-control[multiple] {
	height: auto;
}

textarea.form-control {
	height: auto;
}

.form-group {
	margin-bottom: 1rem;
}

.form-text {
	display: block;
	margin-top: 0.25rem;
}

.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.form-row > .col,
.form-row > [class*="col-"] {
	padding-right: 15px;
	padding-left: 15px;
}

.form-check {
	position: relative;
	display: block;
	padding-left: 1.25rem;
}

.form-check-input {
	position: absolute;
	margin-top: 0.3rem;
	margin-left: -1.25rem;
}

.form-check-input:disabled ~ .form-check-label {
	color: #5d5d66;
}

.form-check-label {
	margin-bottom: 0;
}

.form-check-inline {
	display: inline-flex;
	align-items: center;
	padding-left: 0;
	margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
	position: static;
	margin-top: 0;
	margin-right: 0.3125rem;
	margin-left: 0;
}

.valid-feedback {
	display: none;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 81%;
	color: #77ba21;
}

.valid-tooltip {
	position: absolute;
	top: 100%;
	z-index: 5;
	display: none;
	max-width: 100%;
	padding: 0.25rem 0.5rem;
	margin-top: .1rem;
	font-size: 1.0625rem;
	line-height: 1.54;
	color: #fff;
	background-color: rgba(119, 186, 33, 0.9);
	border-radius: 0.375rem;
}

.was-validated .form-control:valid, .form-control.is-valid {
	border-color: #77ba21;
	padding-right: calc(1.54em + 1.625rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2377ba21' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: center right calc(0.385em + 0.40625rem);
	background-size: calc(0.77em + 0.8125rem) calc(0.77em + 0.8125rem);
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
	border-color: #77ba21;
	box-shadow: 0 0 0 0.2rem rgba(119, 186, 33, 0.25);
}

.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-tooltip {
	display: block;
}

.was-validated textarea.form-control:valid, textarea.form-control.is-valid {
	padding-right: calc(1.54em + 1.625rem);
	background-position: top calc(0.385em + 0.40625rem) right calc(0.385em + 0.40625rem);
}

.was-validated .custom-select:valid, .custom-select.is-valid {
	border-color: #77ba21;
	padding-right: calc((1em + 1.625rem) * 3 / 4 + 2.25rem);
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%2323232f' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.25rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2377ba21' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fafafa no-repeat center right 2.25rem/calc(0.77em + 0.8125rem) calc(0.77em + 0.8125rem);
}

.was-validated .custom-select:valid:focus, .custom-select.is-valid:focus {
	border-color: #77ba21;
	box-shadow: 0 0 0 0.2rem rgba(119, 186, 33, 0.25);
}

.was-validated .custom-select:valid ~ .valid-feedback,
.was-validated .custom-select:valid ~ .valid-tooltip, .custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip {
	display: block;
}

.was-validated .form-control-file:valid ~ .valid-feedback,
.was-validated .form-control-file:valid ~ .valid-tooltip, .form-control-file.is-valid ~ .valid-feedback,
.form-control-file.is-valid ~ .valid-tooltip {
	display: block;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
	color: #77ba21;
}

.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip {
	display: block;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
	color: #77ba21;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
	border-color: #77ba21;
}

.was-validated .custom-control-input:valid ~ .valid-feedback,
.was-validated .custom-control-input:valid ~ .valid-tooltip, .custom-control-input.is-valid ~ .valid-feedback,
.custom-control-input.is-valid ~ .valid-tooltip {
	display: block;
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
	border-color: #91db33;
	background-color: #91db33;
}

.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 0.2rem rgba(119, 186, 33, 0.25);
}

.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before {
	border-color: #77ba21;
}

.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
	border-color: #77ba21;
}

.was-validated .custom-file-input:valid ~ .valid-feedback,
.was-validated .custom-file-input:valid ~ .valid-tooltip, .custom-file-input.is-valid ~ .valid-feedback,
.custom-file-input.is-valid ~ .valid-tooltip {
	display: block;
}

.was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
	border-color: #77ba21;
	box-shadow: 0 0 0 0.2rem rgba(119, 186, 33, 0.25);
}

.invalid-feedback {
	display: none;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 81%;
	color: #e72660;
}

.invalid-tooltip {
	position: absolute;
	top: 100%;
	z-index: 5;
	display: none;
	max-width: 100%;
	padding: 0.25rem 0.5rem;
	margin-top: .1rem;
	font-size: 1.0625rem;
	line-height: 1.54;
	color: #fff;
	background-color: rgba(231, 38, 96, 0.9);
	border-radius: 0.375rem;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
	border-color: #e72660;
	padding-right: calc(1.54em + 1.625rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e72660' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23e72660' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
	background-repeat: no-repeat;
	background-position: center right calc(0.385em + 0.40625rem);
	background-size: calc(0.77em + 0.8125rem) calc(0.77em + 0.8125rem);
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
	border-color: #e72660;
	box-shadow: 0 0 0 0.2rem rgba(231, 38, 96, 0.25);
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip {
	display: block;
}

.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
	padding-right: calc(1.54em + 1.625rem);
	background-position: top calc(0.385em + 0.40625rem) right calc(0.385em + 0.40625rem);
}

.was-validated .custom-select:invalid, .custom-select.is-invalid {
	border-color: #e72660;
	padding-right: calc((1em + 1.625rem) * 3 / 4 + 2.25rem);
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%2323232f' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.25rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e72660' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23e72660' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") #fafafa no-repeat center right 2.25rem/calc(0.77em + 0.8125rem) calc(0.77em + 0.8125rem);
}

.was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus {
	border-color: #e72660;
	box-shadow: 0 0 0 0.2rem rgba(231, 38, 96, 0.25);
}

.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-tooltip, .custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip {
	display: block;
}

.was-validated .form-control-file:invalid ~ .invalid-feedback,
.was-validated .form-control-file:invalid ~ .invalid-tooltip, .form-control-file.is-invalid ~ .invalid-feedback,
.form-control-file.is-invalid ~ .invalid-tooltip {
	display: block;
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
	color: #e72660;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
	display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
	color: #e72660;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
	border-color: #e72660;
}

.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.is-invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-tooltip {
	display: block;
}

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
	border-color: #ec5482;
	background-color: #ec5482;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 0.2rem rgba(231, 38, 96, 0.25);
}

.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
	border-color: #e72660;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
	border-color: #e72660;
}

.was-validated .custom-file-input:invalid ~ .invalid-feedback,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.is-invalid ~ .invalid-feedback,
.custom-file-input.is-invalid ~ .invalid-tooltip {
	display: block;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
	border-color: #e72660;
	box-shadow: 0 0 0 0.2rem rgba(231, 38, 96, 0.25);
}

.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.form-inline .form-check {
	width: 100%;
}

@media (min-width: 576px) {
	.form-inline label {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
	}
	.form-inline .form-group {
		display: flex;
		flex: 0 0 auto;
		flex-flow: row wrap;
		align-items: center;
		margin-bottom: 0;
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.form-inline .form-control-plaintext {
		display: inline-block;
	}
	.form-inline .input-group,
	.form-inline .custom-select {
		width: auto;
	}
	.form-inline .form-check {
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		padding-left: 0;
	}
	.form-inline .form-check-input {
		position: relative;
		flex-shrink: 0;
		margin-top: 0;
		margin-right: 0.25rem;
		margin-left: 0;
	}
	.form-inline .custom-control {
		align-items: center;
		justify-content: center;
	}
	.form-inline .custom-control-label {
		margin-bottom: 0;
	}
}

.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}

.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
}

.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .form-control-plaintext + .form-control,
.input-group > .form-control-plaintext + .custom-select,
.input-group > .form-control-plaintext + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
	margin-left: -1px;
}

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
	z-index: 3;
}

.input-group > .custom-file .custom-file-input:focus {
	z-index: 4;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group > .custom-file {
	display: flex;
	align-items: center;
}

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::after {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > .custom-file:not(:first-child) .custom-file-label {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-prepend,
.input-group-append {
	display: flex;
}

.input-group-prepend .btn,
.input-group-append .btn {
	position: relative;
	z-index: 2;
}

.input-group-prepend .btn:focus,
.input-group-append .btn:focus {
	z-index: 3;
}

.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
	margin-left: -1px;
}

.input-group-prepend {
	margin-right: -1px;
}

.input-group-append {
	margin-left: -1px;
}

.input-group-text {
	display: flex;
	align-items: center;
	padding: 0.8125rem 1.25rem;
	margin-bottom: 0;
	font-size: 1.3125rem;
	font-weight: 400;
	line-height: 1.54;
	color: #171724;
	text-align: center;
	white-space: nowrap;
	background-color: #fafafa;
	border: 1px solid #e8e8e9;
	border-radius: 0.375rem;
}

.input-group-text input[type="radio"],
.input-group-text input[type="checkbox"] {
	margin-top: 0;
}

.input-group-lg > .form-control:not(textarea),
.input-group-lg > .custom-select {
	height: 4.13588rem;
}

.input-group-lg > .form-control,
.input-group-lg > .custom-select,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
	padding: 0.89375rem 1.375rem;
	font-size: 1.44375rem;
	line-height: 1.54;
	border-radius: 0.875rem;
}

.input-group-sm > .form-control:not(textarea),
.input-group-sm > .custom-select {
	height: calc(1.7em + 0.5rem + 2px);
}

.input-group-sm > .form-control,
.input-group-sm > .custom-select,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
	padding: 0.25rem 0.5rem;
	font-size: 1.0625rem;
	line-height: 1.7;
	border-radius: 0.2rem;
}

.input-group-lg > .custom-select,
.input-group-sm > .custom-select {
	padding-right: 2.25rem;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

label {
	font-size: 1.0625rem;
	cursor: pointer;
}

.form-group {
	position: relative;
	text-align: left;
	margin-bottom: 0;
}

.form-control {
	text-overflow: ellipsis;
}

.form-control-inline {
	display: inline-block;
	text-align: center;
	width: auto;
}

.form-group + .form-group {
	margin-top: 12px;
}

.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
	height: auto;
}

@media (min-width: 768px) {
	.form-group + .form-group {
		margin-top: 22px;
	}
}

:invalid {
	box-shadow: none;
}

:-moz-submit-invalid {
	box-shadow: none;
}

:-moz-ui-invalid {
	box-shadow: none;
}

.form-group-disabled {
	pointer-events: none;
}

.form-group-disabled .form-control {
	background-color: rgba(250, 250, 250, 0.8);
}

.form-group-disabled .form-control::placeholder {
	opacity: .3;
}

.form-group-disabled label {
	opacity: .3;
}

.form-group-disabled .input-group-text:before {
	opacity: .3;
}

.form-group-icon {
	position: relative;
	width: 100%;
}

.form-group-icon .form-control {
	padding-right: 50px;
}

.form-icon,
.form-group-icon-btn {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 18px;
	pointer-events: none;
}

.form-group-icon-btn {
	transition: all 0.2s ease-in-out;
	pointer-events: auto;
}

.form-group-icon-btn:hover {
	color: #31c77f;
}

.custom-control {
	min-height: 1.63625rem;
	text-align: left;
}

.custom-control-input:disabled ~ .custom-control-label {
	pointer-events: none;
}

.custom-control-label {
	padding-top: 0.25em;
}

.custom-control-label:after {
	transition: all 0.2s ease-in-out;
}

.custom-control-label:hover::before {
	background-color: #fff;
	box-shadow: 0 0 0 1px #e8e8e9;
}

@media (min-width: 768px) {
	.custom-control-label {
		padding-top: 0.15em;
	}
}

.custom-control-input:checked ~ .custom-control-label:hover::before {
	background-color: #171724;
	border-color: #171724;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label:hover::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpath fill='transparent' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='%23fff' d='M10 1L4 7L1 4'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpath fill='transparent' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='%23aeaeb2' d='M10 1L4 7L1 4'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:checked ~ .custom-control-label:hover::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'%3e%3ccircle r='3' fill='%23aeaeb2'/%3e%3c/svg%3e");
}

.custom-switch .custom-control-label::after {
	top: calc(0.19813rem);
	left: calc(-4.875rem);
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #e8e8e9;
	border-color: #e8e8e9;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	background-color: #31c77f;
}

.input-group-text {
	position: relative;
	z-index: 1;
}

.input-group-text:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	height: 80%;
	transform: translateY(-50%);
	width: 1px;
	background-color: #e8e8e9;
}

.input-group-text-nodivider:after {
	display: none;
}

.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
	border-right-color: transparent;
}

.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
	border-left-color: transparent;
}

.input-group > .input-group-append > .input-group-text:after {
	left: 0;
}

.input-password {
	-webkit-text-security: disc;
}

.input-password.active {
	-webkit-text-security: none;
}

.input-password-icon {
	font-family: 'Intense Icons';
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.input-password-icon::before {
	content: '\e90e';
}

.input-password-icon:hover {
	color: #31c77f;
}

.input-password-icon.active::before {
	content: '\e90f';
}

.bg-200 .form-control,
.bg-200 .input-group-text {
	background: #fff;
}

.form-inline-group {
	position: relative;
	display: flex;
	flex-grow: 1;
}

.form-inline-group > * {
	flex-grow: 1;
}
/*# sourceMappingURL=input.css.map */
